{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    {% block page-title %}
    <title>{{ hunt_title }}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta property="og:title" content="Brown Puzzle Hunt HQ Hint Dashboard">
    <meta property="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src="{% static "js/jquery.formset.js" %}"></script>
    <script src="{% static "js/sorttable.js" %}"></script>
    <script src="{% static "js/tray.js" %}"></script>
    <script src="{% static "js/notify.js" %}"></script>
    <script src="{% static "js/time.js" %}"></script>
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{% static "images/favicon.ico" %}" type="image/vnd.microsoft.icon">
    {{ ga_code|safe }}
</head>
<body>
    <a class="skip-to-main">Press enter to skip to main content.</a>
    {% block content_nowrap %}
    <div class="top-more-actions">
        {% block top-left-actions %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    <script>
        const skipToMainLink = document.querySelector("a.skip-to-main");
        const mainContentElement = document.getElementsByTagName("main")?.item(0) || document.querySelector("div.content");
        if (skipToMainLink && mainContentElement) {
            const mainContentAnchor = document.createElement("a");
            const anchorId = "main-content-anchor"
            mainContentAnchor.className = anchorId;
            mainContentAnchor.id = anchorId;
            skipToMainLink.href = `#${anchorId}`;
            mainContentElement.parentNode.insertBefore(mainContentAnchor, mainContentElement);
        }
    </script>
</body>
</html>