{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}

<h1>{% translate "Contacting HQ" %}</h1>

<style>
  .no-break {
    margin: auto;
    width: 50%;
    border: 3px solid #addddd;
    padding: 10px;
  }
</style>

<main>
  <b>HINT REQUESTS:</b><br>
  If you want to request a hint, you can do that through the website. If you are looking at a puzzle page, there will be a button on the top bar that says "Ask For A Hint". From there, you can view old hints you've submitted for this puzzle, and submit new ones. This is also the process you'll use for 'solving' puzzles using free solves from events.<br><br>
  <b>OUT-OF-CHARACTER HQ CONTACT:</b><br>
  If something is broken in the hunt, you run into an on-site emergency, or you want to change something about your team (e.g. your name), then email us at puzzle@brown.edu. While HQ is closed (midnight Saturday to 9am Sunday) we cannot guarantee that people will respond promptly to this inbox, but we'll do our best.<br></br>
  <b>IN-CHARACTER HQ CONTACT:</b><br>
  Sometimes a puzzle may ask you to contact HQ. You should pay attention to the specific instructions which that puzzle gives you, but in general, you should email bluenoresurrectionsociety@gmail.com with a specific subject line. While HQ is closed (midnight Saturday to 9am Sunday) we cannot guarantee that people will respond promptly to this inbox, but we'll do our best.<br></br>
</main>

{% endblock %}
