{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block content %}




<style>

  h4 {
    font-weight: bold;
  }

  .center-blurb a {
    font-weight: bold;
    cursor: pointer;
  }

  .no-break {
    margin: auto;
    width: 50%;
    border: 3px solid #b4d8ea;
    padding: 10px;
  }

  .center-blurb {
    text-align: center;
    padding-top: 10px;
  }

  ul {
    font-family: 'Monteserrat';
    margin-bottom: 0rem;
  }

  li {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
</style>

<h1>{% translate "Hunt Credits" %}</h1>

<main>

    <div class="center-blurb">
      <p>Brown Puzzlehunt is put together by <a href="{% url 'club' %}">Brown Puzzle Club</a>.</p>
    </div>

    <div>
      <div class="no-break">
        <h4>{% translate "Leadership" %}</h4>
        <ul>
          <li><b>Puzzle Director, Test Lead:</b> Thomas Gordon ('26)</li>
          <li><b>Tech. Director, Art Lead:</b> Orion Bloomfield ('24)</li>
          <li><b>General Director, HQ Lead:</b> Nishka Pant ('24.5)</li>
        </ul>

      </div>

      <div class="no-break"> 
          <h4>{% translate "Puzzle Writers / HQ" %}</h4>
        <ul>
          <li>Thomas Gordon ('26)</li>
          <li>Zach Gottshall ('25)</li>
          <li>Orion Bloomfield ('24)</li>
          <li>Jaclyn Cohen ('26)</li>
          <li>Ryan Waite ('25)</li>
          <li>Aaron Kirtland (1st-year Ph.D)</li>
          <li>Abigail Nelkin ('24)</li>
          <li>Jiahua Chen ('24)</li>
          <li>Arnav Singhal ('26)</li>
          <li>Lorenzo Mahoney ('24)</li>
          <li>Ian Rider ('24)</li>
          <li>Sierra Bornheim ('24)</li>
          <li>Cerulean Ozarow ('25)</li>
          <li>Alex Duchnowski ('24)</li>
          <li>Thomas Mowen</li> 
          <li>Alex DeFranco</li>
          <li>Soni</li>
        </ul>
      </div>

      <div class="no-break"> 
        <h4>{% translate "Artists" %}</h4>
        <ul>
          <li><b>Lucid Clairvoyant ('24):</b><br>
            <a href="https://www.brownpuzzlehunt.com/static/images/bphlogo.27c7291681bb.png">BPH Logo</a>,
            <a href="https://www.brownpuzzlehunt.com/round/dear-blueno">Dear Blueno Round</a>, 
            <a href="https://www.brownpuzzlehunt.com/puzzle/dear-blueno-meta">Dear Blueno Meta</a></li>
          <li><b>Jaclyn Cohen ('26):</b><br>
            <a href="{% url 'puzzles' %}">Cthulu-no Round</a>, 
            Physical Merch (<a href="https://drive.google.com/file/d/1EJWFh66qosauAe6o6oLb0vkgG-Cctnod/view?usp=sharing">Pin</a> and <a href="https://drive.google.com/file/d/1c2nL4YrnV4zbcdCt7V-a7TdQpZiGDdDW/view?usp=sharing">Final prize</a>),
            <a href="https://www.brownpuzzlehunt.com/round/bear">The Bear Round</a>,
            <a href="https://www.brownpuzzlehunt.com/static/images/brs_letter.89bed8e675cf.png">BRS Scroll</a>,
          </li>
          <li><b>Camille Leung ('24): </b><br>
            <a href="https://docs.google.com/presentation/d/1SYKRIJhnFPbd381Nc6yRub5GWNMq3xLoDms-_tXrYI4/edit?usp=sharing">Kickoff slides</a>, 
            <a href="https://www.brownpuzzlehunt.com/puzzle/work-together">Work Together</a>, 
            <a href="https://drive.google.com/file/d/1kAt3CkFxov2HlaU5gIyV8C3bRphxfHFJ/view?usp=sharing">Butterfly Evolution Kit</a>, 
            <a href="https://www.brownpuzzlehunt.com/puzzle/day-in-the-city">Day in the City</a>, 
            <a href="https://www.brownpuzzlehunt.com/puzzle/the-lamp">The Lamp Meta</a>, 
            <a href="https://www.brownpuzzlehunt.com/round/events">Event Postcards</a>, 
            <a href="https://www.brownpuzzlehunt.com/round/final">Runaround Postcards</a>,
            <a href="https://drive.google.com/file/d/1FsVy-9XZNJ9DPf6WWEtNC8OUH4NNXWyk/view?usp=sharing">Initial Site Layout</a></li>
          <li><b>Christine Wang (RISD '24):</b><br>
            <a href="https://www.brownpuzzlehunt.com/round/blueno">BRS Round</a>,
            <a href="https://www.brownpuzzlehunt.com/round/lamp">The Lamp Round</a>
            </li>
        </ul>
      </div>

      <div class="no-break"> 
        <h4>{% translate "Story Team" %}</h4>
        <ul>
          <li>Thomas Gordon ('26)</li>
          <li>Zach Gottshall ('25)</li>
          <li>Abigail Nelkin ('24)</li>
          <li>Ryan Waite ('25)</li>
        </ul>
      </div>

      <div class="no-break"> 
        <h4>{% translate "Test Solvers" %}</h4>
        <ul>
          <li>Jimne</li>
          <li>Soni</li>
          <li>Clopedion</li>
          <li>ShadowOfApollo</li>
          <li>HermioneReynaChase</li>
          <li>Noneuclidean</li>
          <li>Rainy</li>
        </ul>
      </div>

      <div class="no-break"> 
        <h4>{% translate "Special Thanks" %}</h4>
        <ul>
          <li>To <b>Cassie Sutten Coats</b> and Brown SAO for the guidance, kind words, and permission to book every remaining classroom space on campus.</li>
          <li>To <b>Nick Bottone</b> and the <b><a href="https://www.dearblueno.net/">dearblueno.net</a> <a href="https://github.com/Dear-Blueno/dearblueno">development team</a></b> for helping us embed a puzzle on their lovely site.</li>
          <li>To <b>Brown ARRR!!!</b> and its crew:<br>
            <i>
            Captain Bucky the Bodacious Buccaneer,
            Atlas the Antipodean,
            Sirensong the Temptress,
            Marinara the Saucy Sailor,
            Mad Dog Morgan the Moist,
            Medusa de Mal,
            Port Flintlock,
            North-Star Nim,
            Bermuda the Bitchin',
            and Big Frog the Grog Hog</i></li>
          <li>To <b>Cassius Hall</b>, the Magus of Night, and their loyal acolytes.</li>
          <li>To all our additional hands in crafting the physical puzzles ❤️</li>
        </ul>
      </div>
    </div>

    <div class="center-blurb">
      <p style="font-family: 'Monteserrat';">We hope you enjoyed our innaugural hunt! If you are affiliated with Brown and are interested in joining our team, please <a href="{% url 'club' %}">join the club</a> and/or <a href="mailto:puzzle@brown.edu">email us</a>!</p>
    </div>
</main>

{% endblock %}
