{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block content %}
<style>
h1 {
  color: black;
  font-family: "Kollektif";
  border-right: 3px solid black;
  text-align: right;
  font-size: 6rem;
  letter-spacing: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    padding-right: 5px;
  }

  .event-invite {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .event-invite span {
    font-size: 18px;
  }

  .title-center {
    flex-wrap: wrap;
  }
  
}

@media screen and not (max-width: 960px) {
  .event-invite {
    margin: auto;
    margin-left: 50px;
  }

  .event-invite span {
    font-size: 15px;
  }

  .landing-image {
    padding: 10px;
  }
}

@media print {
    a {
        text-decoration: none;
        color: inherit;
    }

    .feedback, .register {
        display: none;
    }

    .print-register {
        text-align: center;
        margin: 20px 0 40px;
    }
}

@media screen {
    .print-register {
        display: none;
    }

    .feedback, .register {
        text-align: center;
        margin-bottom: 40px;
    }

    .register .btn {
        height: 48px;
        line-height: 48px;
        font-size: 2rem;
        transition: background-color 0.3s;
        color: var(--page-bg-color);
        background-color: var(--btn3-bg-color);
        font-family: "Monteserrat";
    }
    
    .register .btn:hover,
    .register .btn:focus {
      color: var(--btn-text-color);
      background-color: var(--btn3-hover-color);
    }


}

.footnote {
    font-size: 80%;
    line-height: 1.5;
}

.landing-image {
  display:flex;
  padding: 10px;
}

.landing-image img{
  width: 30rem;
  display: block;
  margin-left: auto;
}

.landing-image img:hover {
  animation: shakeImg 0.5s ease-in-out;
  animation-iteration-count: 1;
}
@keyframes shakeImg {
30% { transform: rotate(20deg); }
70% { transform: rotate(-25deg); }
100% { transform: rotate(0deg); }
}



.event-invite {
  display: flex;
  padding: 10px;
  position: relative;
  text-align: center;
  transform: rotate(5deg);
}

.event-invite span {
  font-family: "Kollektif";
  position:absolute;
  top: 14%;
  right: 20%;
  padding-left: 50px;
}
.event-invite .register {
  position:absolute;
  top: 55%;
  right: 15%;
  padding: 5px 20px;
}

.event-invite img {
  display:block;
  width: 30rem;
}

.title-center {
  display: flex;
  margin-top: 10rem;
}

.info-desc {
  font-family: "Monteserrat";
}

</style>

<!-- .landing-image img:hover {
  animation: shakeImg 0.5s ease-in-out;
  animation-iteration-count: 1;
}
@keyframes shakeImg {
30% { transform: rotate(20deg); }
70% { transform: rotate(-25deg); }
100% { transform: rotate(0deg); }
} -->

<!-- 
    transition: transform .6s;
  transform-style: preserve-3d;
  margin-left: auto;


  .landing-image img:hover {
  transition: 0.9s;
  transform: rotateY(180deg);
} -->

<!-- @media screen and not (max-width: 960px) {
  .event-invite {
    margin-left: 20px;
  }
} -->

<!-- <h1>{{ hunt_title }}</h1> -->
<div class="title-center">
  <div class="landing-image">
    <img src={% static "images/bphlogo.png" %} alt="blueno logo">
  </div>
  <h1>brown <br> 
    puzzle <br> 
    hunt</h1>
  <div class="event-invite">
    <img style="box-shadow: 5px 5px 2px grey;" src={% static "images/card.png" %} alt="card invitation">
    <span>The Blueno Resurrection Society needs your help. RSVP in advance</span>
    <div class="register">
      <a href="{% url 'register' %}" class="btn">{% translate " Register now " %}</a>
    </div>
  </div>
</div>



{% if hunt_is_over %}
<div class="feedback">
{% if hunt_is_closed %}
{% blocktranslate with title=hunt_title %}The {{ title }} has now come to a close. Thanks for puzzling with us!{% endblocktranslate %}
{% else %}
{% format_time close_time "DATE_AT_TIME" as hunt_close %}
{% blocktranslate with title=hunt_title %}The {{ title }} is now over, but you can still register and progress through the hunt until {{ hunt_close }}.{% endblocktranslate %}
{% endif %}
<br>
{% with feedback_url="https://FIXME" %}
{% if wrapup_page_visible %}
{% url 'wrapup' as wrapup_url %}
{% blocktranslate %}Please fill out our <a href="{{ feedback_url }}">feedback form</a> and check out our <a href="{{ wrapup_url }}">wrap-up</a>!{% endblocktranslate %}
{% else %}
{% blocktranslate %}Please fill out our <a href="{{ feedback_url }}">feedback form</a> to let us know what you thought about the hunt.{% endblocktranslate %}
{% endif %}
{% endwith %}
</div>
{% endif %}



<div class="time-info">
  <div class="info-desc">
    {% format_time start_time "DATE_AT_TIME" as hunt_start %}
    {% format_time end_time "DATE_AT_TIME" as hunt_end %}
    {% if hunt_is_over %}
    {% blocktranslate %}The hunt began on {{ hunt_start }}, and ended on {{ hunt_end }}.{% endblocktranslate %}
    {% else %}
    {% days_between start_time end_time as num_days %}
    {% blocktranslate %}The hunt will begin on {{ hunt_start }}.{% endblocktranslate %}
    {% endif %}
  </div>
</div>
<br>

<!-- <div class="info-row">
    <div>
        <h4>{% translate "What" %}</h4>
        <div class="info-desc">
            {% translate "A mysterious list of puzzles has appeared on the internet! If you can solve them, you could win prizes and bragging rights!" %}<sup>*</sup>
            <br><br>
            <div class="footnote"><sup>*</sup>{% translate "there are no prizes" %}</div>
        </div>
    </div>
    <div>
        <h4>{% translate "When" %}</h4>
        <div class="info-desc">
            {% format_time start_time "DATE_AT_TIME" as hunt_start %}
            {% format_time end_time "DATE_AT_TIME" as hunt_end %}
            {% if hunt_is_over %}
            {% blocktranslate %}The hunt began on {{ hunt_start }}, and ended on {{ hunt_end }}.{% endblocktranslate %}
            {% else %}
            {% days_between start_time end_time as num_days %}
            {% blocktranslate %}The hunt will begin on {{ hunt_start }}, and it will end {{ num_days }} days later on {{ hunt_end }}.{% endblocktranslate %}
            {% endif %}
        </div>
    </div>
    <div>
        <h4>{% translate "Who" %}</h4>
        <div class="info-desc">
            {% with organizer="FIXME" %}
            {% if hunt_is_closed %}
            {% blocktranslate %}This was a puzzlehunt run by {{ organizer }}.{% endblocktranslate %}
            {% else %}
            {% url 'rules' as rules_url %}
            {% url 'faq' as faq_url %}
            {% blocktranslate %}This is a puzzlehunt run by {{ organizer }}.{% endblocktranslate %}
            {% blocktranslate %}Registration is open! Be sure to check out our <a href="{{ rules_url }}">rules</a> and <a href="{{ faq_url }}">FAQ</a> pages for more information.{% endblocktranslate %}
            {% endif %}
            {% endwith %}
            {% comment %}
            {% blocktranslate with previous_hunts="FIXME" %}It is the follow-up to the previous <a href="{{ archive_link }}">{{ previous_hunts }} Puzzle Hunts</a>.{% endblocktranslate %}
            {% endcomment %}
        </div>
    </div>
</div> -->

{% if not hunt_is_closed %}

<h3 class="print-register">
    <a>{% translate "Register at" %} https://FIXME</a>
</h3>
{% endif %}
{% endblock %}
