{% extends "base.html" %}
{% load i18n %}
{% block content %}

<!-- If only one round is open, load the first round -->
{% block extra_css_landing %}
{% if rounds.keys|length == 1 %}
  <link rel="stylesheet" href="/static/css/rounds/brs-landing.css">
{% else %}
  <link rel="stylesheet" href="/static/css/rounds/cthulu-landing.css">
  <link rel="stylesheet" href="/static/css/rounds/themes/cthulu-purple.css">
{% endif %}
{% endblock %}


<!-- <div class="background"></div> -->

{% for round in rounds.values %}
  <a href="{% url 'round' round.round.slug %}">
    <img class="{{ round.round.slug }}">
  </a>
{% endfor %}


<!-- <table class="puzzles-list">
{% for round in rounds.values %}
    <tbody>
        <th colspan="4">
            <h1><a href="{% url 'round' round.round.slug %}">{{ round.round.name }}</a></h1>
        </th>
    </tbody>
    
{% endfor %}
</table> -->

<!-- {% if hunt_is_prereleased %}
<footer style="font-weight: bold;">
    {% translate "PRE-RELEASE MODE" %}
</footer>
{% endif %} -->

{% endblock %}
