
{% block content %}
  <head>
    <title>Brown Puzzlehunt 2024</title>
    <link rel="icon" type="image/x-icon" href="/static/images/blueno_when_3.ico">
  </head>
  <script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  <script type="module" crossorigin src="/static/react/index.js"></script>
  <link rel="stylesheet" crossorigin href="/static/react/index.css">
  <div id="root" style="background-color: #222b50;"></div>  <!-- This is where your React app will be mounted -->
  {% load static %}
{% endblock %}  