{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{{ round.round.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzles' %}" class="btn">{% translate "All puzzles" %}</a>
{% endblock %}

{% block content %}

{% block round-title-override %}
{% if round.round.slug != "events" %}
  <h1>{{ round.round.name }}</h1>
{% endif %}
{% endblock %}


{% block round-body %}
<p style="text-align: center">{% translate "Imagine some cool art goes here." %}</p>
<br><br>
{% endblock %}

{% if round.round.slug != "events" %}
<div class="puzzles-list">
  {% include 'puzzles_list.html' with round=round %}
</div>
{% endif %}


{% endblock %}
