{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{{ round.round.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzles' %}" class="btn">{% translate "All puzzles" %}</a>
{% endblock %}

{% block content %}

{% block round-title-override %}
<h1>{{ round.round.name }}</h1>
{% endblock %}


{% block round-body %}
<p style="text-align: center">{% translate "Imagine some cool art goes here." %}</p>
<br><br>
{% endblock %}

{% include 'puzzles_list.html' with round=round %}

{% if hunt_is_prereleased %}
<footer style="font-weight: bold;">
    {% translate "PRE-RELEASE MODE" %}
</footer>
{% endif %}

{% endblock %}
