{% extends "base.html" %} 
{% load puzzle_tags %} 
{% load humanize %} 
{% load static %} 
{% load i18n %} 
{% block top-left-actions %}
<a href="{% url 'bigboard' %}" class="btn">{% translate "Solve Board" %}</a>
{% if is_admin %}<a href="{% url 'biggraph' %}" class="btn"
  >{% translate "Solve Graph" %}</a
>{% endif %}
<a href="{% url 'hunt-stats' %}" class="btn">{% translate "Hunt Stats" %}</a>
{% endblock %} {% block content %}

<style>
  h5 {
    font-size: 24px;
  }
  aside {
    display: none;
  }

  a.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centered {
    text-align: center;
    margin-bottom: 2rem;
  }

  .centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centered-flex img {
    margin: unset;
    padding: 0 1rem;
  }

  .larger {
    font-size: 24px;
  }
  
  .round-link {
    background: #eff7ff;
    border-radius: 3px;
    padding-bottom: 5px;

  }

  table {
    margin: 0 auto;
  }

  td:last-child {
    text-align: center;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .tooltip-colored-circle {
    /* echarts:util/format.ts */
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
  }

  blockquote {
    margin: 0;
    padding: 1em;
    border-left: 3px solid #ccc;
    font-family: monospace;
    margin-bottom: 2rem;
  }

  blockquote p {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: center;
  }

  blockquote footer {
    font-size: 0.8em;
    text-align: right;
  }

  blockquote footer:before {
    content: "- ";
  }

  @media screen and (min-width: 961px) {
    aside {
      display: block;
      position: fixed;
      width: 240px;
      top: 90px;
      left: 0;
    }

    aside div {
      color: var(--link-text-color);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    aside :hover {
      text-decoration: underline;
    }

    aside .highlight {
      font-weight: bold;
      color: rgb(81, 78, 78);
    }
  }
</style>

<h1>{% translate "Wrap-Up" %}</h1>

<main>
  <div class="centered">Welcome to the wrapup for Brown Puzzlehunt!</div>

  <h3>Opening Notes</h3>
  <p>
    Congratulations to the <b>36</b> teams that finished the hunt, and to the
    <b>123</b> teams that solved the first meta <b>Bring Back Blueno.</b>
  </p>

  <p>
    Congratulations also to our first on site teams who completed the runaround
    (a two-way tie!):
  </p>

  <div class="centered larger">
    <b>The ‘zzlers</b> and <b>The Geese Geese</b>
  </div>

  <p>and our first remote team to complete all 4 metas:</p>

  <div class="centered larger"><b>💰💰💰 Galactic Tax Exempt 🤑🤑🤑</b></div>

  <h4>Stats</h4>
  <p class="centered">
    <i>Here are some quick statistics for Brown Puzzlehunt 2023:</i>
  </p>

  <div class="centered larger">
    <b>Total teams</b>: 248<br />
    <b>Total participants</b>: 652<br />
    <b>Hints asked</b>: 559<br />
    <br />
    <b>Total guesses</b>: 5130<br />
    <b>Total solves</b>: 1919<br />
    <b>Metas solved</b>: 269<br />
  </div>

  <div class="centered">
    <b>36</b> teams defeated all three aspects of Blueno<br />
    <b>8</b> in-person teams successfully stopped the Final Procession and found
    Blueno<br />
    <br />
    <b>First in-person puzzle solve</b>: <i>Living Off Hope</i> solved Work
    Together <b>7 seconds</b> after answer submission opened.<br />
    <b>First remote puzzle solve</b>: 💰💰💰 <i>Galactic Tax Evaders</i> 🤑🤑🤑
    solved Work Together at <b>1:04pm</b><br />
  </div>

  <div class="centered">
    <i>Winning teams with the <b>fewest incorrect answers</b>:</i>
  </div>
  <table>
    <tr>
      <th>Team</th>
      <th>Incorrect Answers</th>
    </tr>
    <tr>
      <td>turtle</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Callie's Enterprise</td>
      <td>9</td>
    </tr>
    <tr>
      <td>ჰ GEORGIAN BEAR PAW</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Living Off Hope</td>
      <td>12</td>
    </tr>
    <tr>
      <td>plugh</td>
      <td>16</td>
    </tr>
  </table>
  <br />
  <div class="centered">
    <i>Winning teams with the <b>most incorrect answers</b>:</i>
  </div>
  <table>
    <tr>
      <th>Team</th>
      <th>Incorrect Answers</th>
    </tr>
    <tr>
      <td>Amateur Hour</td>
      <td>115</td>
    </tr>
    <tr>
      <td>????</td>
      <td>102</td>
    </tr>
    <tr>
      <td>The C@r@line Syzygy</td>
      <td>77</td>
    </tr>
    <tr>
      <td>HILL "MOUNTAIN" CHANG BROWN VALEDICTORIAN ...</td>
      <td>71</td>
    </tr>
    <tr>
      <td>🐆 Cheatahs 🐆</td>
      <td>66</td>
    </tr>
  </table>
  <br />
  <div class="centered">
    <i>Winning teams with the <b>best answer accuracy</b>:</i>
  </div>
  <table>
    <tr>
      <th>Team</th>
      <th>Correct Answers</th>
      <th>Total Answers</th>
      <th>Answer Accuracy</th>
    </tr>
    <tr>
      <td>turtle</td>
      <td>23</td>
      <td>28</td>
      <td>82.14%</td>
    </tr>
    <tr>
      <td>ჰ GEORGIAN BEAR PAW</td>
      <td>26</td>
      <td>36</td>
      <td>72.22%</td>
    </tr>
    <tr>
      <td>Living Off Hope</td>
      <td>28</td>
      <td>40</td>
      <td>70.00%</td>
    </tr>
    <tr>
      <td>Callie's Enterprise</td>
      <td>20</td>
      <td>29</td>
      <td>68.97%</td>
    </tr>
    <tr>
      <td>plugh</td>
      <td>27</td>
      <td>43</td>
      <td>62.79%</td>
    </tr>
    <tr>
      <td>befuddlers</td>
      <td>26</td>
      <td>45</td>
      <td>57.78%</td>
    </tr>
    <tr>
      <td>Blueno of the Elite Four</td>
      <td>22</td>
      <td>39</td>
      <td>56.41%</td>
    </tr>
    <tr>
      <td>beep boop puzzles go brrr</td>
      <td>26</td>
      <td>47</td>
      <td>55.32%</td>
    </tr>
    <tr>
      <td>💰💰💰 Galactic Tax Exempt 🤑🤑🤑</td>
      <td>26</td>
      <td>48</td>
      <td>54.17%</td>
    </tr>
    <tr>
      <td>The Geese Geese</td>
      <td>29</td>
      <td>54</td>
      <td>53.70%</td>
    </tr>
  </table>
  <br />
  <div class="centered">
    <i>Teams that finished with <b>0 hints used</b>:</i>
  </div>
  <table>
    <tr>
      <th style="text-align: center">Team</th>
    </tr>
    <tr>
      <td>????</td>
    </tr>
    <tr>
      <td>ClueCurio</td>
    </tr>
    <tr>
      <td>💰💰💰 Galactic Tax Evaders 🤑🤑🤑</td>
    </tr>
    <tr>
      <td>💰💰💰 Galactic Tax Exempt 🤑🤑🤑</td>
    </tr>
    <tr>
      <td>plugh</td>
    </tr>
    <tr>
      <td>The Geese Geese</td>
    </tr>
    <tr>
      <td>[URGENT] DOES BROWN AI DREAM OF RAINBOW?</td>
    </tr>
    <tr>
      <td>Ye Olde Brown Puzzle Club 🎏</td>
    </tr>
  </table>
  <br />
  <!-- <a class="centered larger" href="{% url 'biggraph' %}">Solve Graph</a> -->
  <h5 class="centered larger">Solve Graph</h5>
  <div id="biggraph" style="min-height: 400px"></div>

  <p>
    This was our first time running a hunt, and we’re very proud of how it
    turned out! This wrapup will talk about our process and how we approached
    this, as well as some cute spoilers about the lore of the hunt.
  </p>

  <h3>Lore</h3>

  <p>
    At kickoff, teams were told of the efforts of a remarkable student group on
    campus. The Blueno Resurrection Society, adorned in black robes, was
    attempting to return Blueno to campus through the use of a mysterious
    ritual. Solvers were instructed to solve puzzles in order to determine the
    specific elements required for the ritual, and help the Blueno Resurrection
    Society complete their goal.
  </p>

  <p>
    For the teams that were solving on campus, there was an in-person
    interaction after the first meta was solved. At this point in the hunt, the
    teams had successfully “resurrected Blueno”, and they received an urgent
    call asking them to provide their location for an emergency meeting.
    Representatives of the BlueNope Group, mortal enemies of the Blueno
    Resurrection Society, went to visit the teams to tell them how foolish they
    were for resurrecting Blueno, and to give them instructions for defeating
    the creature they had released on this world.
  </p>

  <p>The mini interaction came with the added bonus of pins!</p>
  <img src="{% static 'images/wrapup/pin3.png' %}" style="width: 25%" />

  <p>
    It turned out that Blueno was actually a manifestation of an all-powerful
    eldritch creature, and his return meant the incarnation of “aspects of
    Blueno” that were wreaking havoc across campus: his physical form, “the
    Bear”, was beginning to devour campus; his spectral light, “the Lamp”, twisted 
    everything it touched; and his internet presence, “Dear
    Blueno”, launched digital attacks on the campus’ websites.
  </p>

  <p>
    Upon defeating all three “aspects” of Blueno, on-site teams were contacted
    by the BlueNope group once again: this time, to ask them to help stop the
    Blueno Resurrection Society once and for all. The BRS was attempting to
    complete a Final Procession, a ritual which would complete Blueno’s
    emergence into this plane of reality, allowing him to descend fully upon
    Brown’s campus. Thankfully, there was a way to stop this: by finding and
    stealing an icon representing Blueno’s power, hidden somewhere on campus.
    Teams had to disguise themselves as Blueno Resurrection Society members,
    forge an invitation, and infiltrate their meet-up.
  </p>

  <p>
    Teams then received a set of mysterious instructions as to how to place
    Blueno and successfully resurrect him. With a bit of ingenuity, this
    information could be used to figure out where the icon Blueno was placed: in
    the tunnels beneath Morris-Champlin Hall!
  </p>

  <div class="centered-flex">
    <img src="{% static 'images/wrapup/blueno-hiding.jpg' %}" style="width: 25%" />
    <img src="{% static 'images/wrapup/run-2.jpg' %}" style="width: 25%" />
  </div>
  

  <h3>Art Direction</h3>

  <p>
    We have seen some amazing art work in the recent years of online hunts, and
    wish to acknowledge how much the art of others in the community has inspired
    us in putting together this hunt.
  </p>

  <p>
    Quality round art has had an impact on how we have enjoyed hunts we’ve
    participated in — often, good art can become a secret enjoyment factor for
    unlocking puzzles, as it can help drive the allure of “what is next?”
  </p>

  <p><b>We were hopeful that our hunt art could:</b></p>
  <ul>
    <li>Clearly share our hunt’s story without words</li>
    <li>Excite solvers to unlock and see more of the hunt.</li>
    <li>Embellish each round’s uniqueness in story and form (no same-old)</li>
    <li>
      ... and emphasize the light-hearted, beginner-friendly nature of
      the hunt.
    </li>
  </ul>

  <p>
    We were blessed to collaborate with such driven, talented student artists
    from Brown and RISD for our hunt. Please see the credits page for full
    attribution. We valued striking a diversity of art direction per round page,
    and gave each artist the liberty to make their round their own.
  </p>

  <blockquote>
    <p>
      “I loved being a part of this process from start to finish. I am infamous
      for doing little drawings of Blueno everywhere I go and having the
      opportunity to be a part of a giant project involving so much Blueno is
      everything I could hope for. This project gave a lot of room for
      experimentation and fun in ways other projects rarely do. Thank you to
      Orion, the Art Squad, and the rest of the team for a wonderful break from
      this semester. I hope to do it again next year!”
    </p>
    <footer>Lucid Clairvoyant</footer>
  </blockquote>

  <p>
    We leaned heavily on the iconography of Blueno as a grounding element in our
    art, and hope everyone in-person cherishes their chibi cthulhu-blueno pins.
  </p>

  <img src="{% static 'images/wrapup/pin_man.png' %}" style="width: 25%" />
  <div class="centered">
    (cthulhu-no pin specifications sent to the manufacturer, designed by Jackie
    Cohen)
  </div>

  <blockquote>
    <p>
      “Huge thanks to Orion for giving me the freedom to be as silly as I wanted
      and letting me build a collaged Blueno out of an exploded battery, a
      cigarette butt, potatoes, and a wok, among other things. Also, huge thanks
      to my roommates for helping with the constellations.”
    </p>
    <footer>Chrstine Wang</footer>
  </blockquote>

  <p>
    We were also hopeful to utilize art to increase the appeal and visible
    accessibility of medium-round puzzles. We are thoughtful of our University
    teams new to hunting, and how conquering your first meta is often met with
    hesitation or unease.
  </p>

  <p>
    Keeping in mind the common hunt sentiment on simplifying your puzzle’s
    visuals to reduce red-herrings, Camille had a strength in making designs
    that could pop without adding any new information, and spent most of the
    hunt prep time cleaning designs across the board.
  </p>

  <div class="centered-flex">
    <img src="{% static 'images/wrapup/bek.png' %}" style="width: 28%" >
    <img src="{% static 'images/wrapup/bek2.png' %}" style="width: 25%" >
    
  </div>
  <div class="centered">(before and after of <a href="../puzzle/butterfly-evolution-kit">Butterfly Evolution Kit</a>, Camille Leung)</div>


  <img src="{% static 'images/wrapup/ditc.png' %}" style="width: 40%" >
  <div class="centered">(<a href="../puzzle/day-in-the-city">Day in the City</a>, Camille Leung)</div>
  
  <p>
    Starting to figure out our formula for next year’s hunt, our hope is to
    increase our scope further. We are already brainstorming ideas on designing
    interactive art, non-sequitur page layouts, and other tighter theme-art
    integrations. Bolstered by such a brilliant team spanning art and CS
    backgrounds, we are excited to push the envelope of what can be expected
    from a University hunt’s art, and see this future work as critical for the
    inclusivity and allure of our event.
  </p>

  <p>
    We are always looking for more! If you are interested in joining our art
    team, please reach out to <a href="{% url 'club' %}">Brown Puzzle Club</a>.
  </p>

  <p><b>WIP Photos:</b></p>

  <img src="{% static 'images/wrapup/wip1.png' %}" style="width: 40%" >
  <div class="centered">(The first cthulu-blueno, inspiring the rest of the hunt theme. Jackie Cohen)</div>
  <img src="{% static 'images/wrapup/wip2.png' %}" style="width: 40%" >
  <div class="centered">(The Bear page, Jackie Cohen)</div>
  <img src="{% static 'images/wrapup/wip3.png' %}" style="width: 40%" >
  <div class="centered">(An alternative BPH logo, Lucid Clairvoyant)</div>
  <img src="{% static 'images/wrapup/wip4.png' %}" style="width: 40%" >
  <div class="centered">(The initial opening round view, Christine Wang)</div>
  <img src="{% static 'images/wrapup/wip5.png' %}" style="width: 40%" >
  <div class="centered">(A constellation that got veto-ed :( , Christine’s roommates)</div>

  <h3>Website</h3>
  
  <p>We ran our hunt on a slightly modified gph-site for PostgreSQL + Heroku deployment. (shoutout to jenna-h and the gph-site development team).</p>

  <p>Our goal for the development cycle of this hunt was to:</p>
  <ul>
    <li>Build an extensible framework for round art, puzzle icons hover, and site theme changing that maintains accessibility.</li>
    <li>Redesign the base styling to make the site look our own.</li>
    <li>Assure polish in our puzzles through careful styling and interactive helpers</li>
    <li>Rework the leaderboard and unlock structure to have different end points for in-person versus online teams.</li>
  </ul>
  
  <p>Other misc. changes we’ve had to make:</p>
  <ul>
    <li>Rework the prerelease testsolver system to be progression-based.</li>
    <li>Rework the hint delivery system to give teams hints every N hours.</li>
    <li>Registration, database, admin-panel revisions for flagging teams as in-person versus online.</li>
    <li>Small layout differences for puzzles for in-person versus online teams. (unlock timers, Django templating conditional extra text)</li>
    <li>Adding unlock parameters for puzzles by the number of metas solved.</li>
    <li>Adding voucher based on specific solved puzzles.</li>
  </ul>

  <p>Due to our tight schedule, the majority of site dev work was putting out fires as testsolvers found them. We were miraculously able to stay afloat during the hunt’s runtime with few to no site-breaking issues! With the scope of unlock structure and hint modifications alone, we were expecting much worse, and are only left to thank our online teams stress-testing and full-hunt run-thru-ing the days before launch (credited <a href="{% url 'credits' %}">here</a>, thank you so much!)</p>


  <blockquote>
    <p>
      “I was a one-person team tasked with all the web dev and troubleshooting. I have had experience running hunt sites before, but all through Wix or other static approaches. It was also my first time working with Django. Coming out of this hunt, my knowledge-base for full-stack integration has blossomed. To manage an entire tournament site and prep new admins/writers/hinters/test-solvers all at the same time, you have to wear a lot of hats. I am very grateful to have been able to lean on the savviness of gph-site throughout as it is incredibly extensible. I am leaving this year’s hunt with two strong messages: 1) The site didn’t break, so we have room to grow our scope, and 2) I am in dire need of more cooks in the kitchen. 
      <br><br>I have already been in contact with my more Django-dexterous friends, and have been brainstorming some larger-scale round format developments I cannot share yet 😎. I want to push the hunt next year to challenge University hunt conventions further, and I am overall so excited for the future of our event. 
      <br><br>I was set up for success by our master-class art team, and wish to direct all compliments on the site to them.”
    </p>
    <footer>Orion Bloomfield</footer>
  </blockquote>

  <img src="{% static 'images/wrapup/site-mock.png' %}" style="width: 50%;">
  <div class="centered">(Initial landing page mockup, Camille Leung)</div>
  
  <p>We hoped that our design elements (font, spacing, etc) could emanate the light-hearted, bubbly nature of our event, and wished to build general base styling that could breathe life into the otherwise stale puzzle pages.</p>

  <div class="centered-flex">
    <img src="{% static 'images/wrapup/bear.png' %}" style="width: 35%;">
    <img src="{% static 'images/wrapup/the-lamp.png' %}" style="width: 35%;">
    <img src="{% static 'images/wrapup/db.png' %}" style="width: 35%;">
  </div>
  <div class="centered">All main round pages (Art by Jackie Cohen, Christine Wang, and Lucid Clairvoyant respectively)</div>
  
  <p>One of the pain points we ran into is that we did not have time (or funding) to set up an email service for our event. This resulted in some teams having issues with correspondences for hints, unlocks, as well as password reset. Next year, we will have plenty more time to bolster the services and stability of our site, and hope to start our next-year-dev cycle honing in on these important details.</p>

  <h3>Physical Puzzles</h3>

  <p><i>Brown Puzzlehunt had a number of puzzles which involved receiving physical objects, either at kickoff or by collecting them from HQ. The Author’s Notes for each of the puzzles contain more information about the specifics of designing and crafting physical puzzles for this event.</i></p>

  <p><i>This section will contain no significant spoilers for archive-solvable portions of the hunt, but will discuss the physical nature of the items, and spoilers for a fully physical puzzle (The Impossible).</i></p>

  <p><i>All three physical puzzles were written by Thomas Gordon (‘26), with Jackie Cohen (‘26) also writing for Butterfly Evolution Kit.</i></p>

  <h5>Work Together</h5>
  <p>At kickoff, teams were given one paper square, and told the title of the puzzle. Additionally, seven teams were given a paper slip, which also provided puzzle information.</p>

  <p>By working together, teams were able to assemble the paper squares into a larger image, which would then allow them to get a head-start on the puzzle.</p>

  <img src="{% static 'images/wrapup/work-together-solved.jpg' %}" style="width: 35%;">

  <p>Unfortunately, one paper square went missing in the process, so teams had to work with incomplete information. Despite this, a number of teams successfully solved Work Together before the puzzles dropped, leading to a blazingly fast first solve of the hunt by Living Off Hope (only 7 seconds)!</p>

  <p>The paper squares were created in a special print-run by FedEx on sturdy, waterproof paper, with the art for the image created by Camille Leung and Orion Bloomfield. The creation of the image led to some interesting and unusual challenges. Because we had no capability to make specially-shaped jigsaw pieces, each image square had to be distinct, with a unique final arrangement, based only on the background patterns.</p>

  <p>We were very interested in the possibility of puzzles which put teams in a collaborative, rather than competitive, setting; a theme that returned unexpectedly later in the hunt. We’re excited to try and build on this idea in future events.</p>

  <h5>Butterfly Evolution Kit</h5>
  <p>In-person teams received a manilla envelope containing fifteen modified origami butterflies and sheets of paper containing puzzle content. On paper (ha) this sounds extremely simple; in practice, creating fifteen butterflies for each team involves making a lot of butterflies.</p>

  <img src="{% static 'images/wrapup/butterflies.jpg' %}" style="width: 35%;">

  <p>In the end, over 600 butterflies were folded by hand (including draft versions of the puzzle and mistakes). These paper butterflies were then each individually drawn on in pen and cut with scissors in order to encode the relevant puzzle content.</p>

  <p>Special thanks to Jackie Cohen (‘26), who provided both the origami paper, and made the vast majority of the butterflies (nearly 400)!</p>

  <h5>The Impossible</h5>
  <div class="centered-flex">
    <img src="{% static 'images/wrapup/cube-1.png' %}" style="width: 35%;">
    <img src="{% static 'images/wrapup/cube-2.jpg' %}" style="width: 15%;">
  </div>
  <br>
  <p>In-person teams received a scrambled Rubik’s cube with letters drawn on the faces in sharpie. Upon further investigation, solvers may also have discovered a very strange property that these Rubik’s cubes possessed: the insides of the cubes were adorned with colored stickers.</p>

  <p>Sometimes clever ideas should remain ideas. Creating The Impossible involved a painstaking process of disassembling the cubes, sorting the pieces, carefully adding stickers on the insides of the moving pieces, and then reassembling the cubes into a solved state so the letters could be written on the faces. Fun fact: the insides of Rubik’s cubes are lubricated to allow for smoother rotation – this meant that some of the colored stickers in the cube’s interior were left unstuck, causing some teams to run into some trouble. This led to the disclaimers that you saw on the puzzle page - despite our concerns, we only had to fix cubes for a few teams!</p>

  <p>In the end, nearly 30 cubes were made. We still have about half of them. If you want to take one off of our hands, let us know.</p>

  <h3>Events</h3>

  <p>For both of our events, we planned to do them in coordination with student-run clubs on campus. This was extremely successful for both the involved clubs and the hunt - it gave the events unique Brown spirit, and allowed those groups to focus on making their events special separate from the hunt itself. Due to the tight timelines, we reached out to clubs that we already had some crossovers with. In future years, we expect to reach out to new student clubs, to get them involved with the hunt and to emphasize more of Brown’s student culture.</p>

  <h5>An Afternoon with Pirates</h5>
  <a href="https://drive.google.com/file/d/1FBimmpmd7VNeBC1HvLmltwo9NrNFEr5b/view?usp=sharing">
    <img src="{% static 'images/wrapup/pirates-play-img.png' %}" style="width: 35%;">
  </a>
  <p>Yarrrrr!</p>

  <p>This here be the first event conceived by our swashbuckling crew. We partnered with the “only acapella group at Brown”, ARRR!!!, a sea-shanty slinging set of singers who menace the arches of campus and will sing any song… for a price. Our plucky cabin boy (Thomas Gordon (‘26)) moonlights as the fearsome and famed pirate Atlas the Antipodean, which allowed the events to be organized quickly and serendipitously.</p>

  <p>Like most parts of the Brown Puzzlehunt (and, indeed, most things at Brown), the details of An Afternoon With Pirates were organized largely at the last minute. Our peg-legged puzzle writers owe a debt to all of ARRR!!! and its Very Important Pirates who gave their time and energy to the hunt; but in particular we owe great amounts of booty to Captain Bucky the Bodacious Buccaneer (Connor Jordan (‘23)), who helped Atlas organize the event and write the script and most of the jokes.</p>

  <p>We would also like to give a shout-out to the person in the middle of the crowd who was clearly and deeply moved by our rendition of Northwest Passage; we hope that, wherever you are, you’re having a good day.</p>

  <h5>An Evening with Atlach-Nacha</h5>
  <img src="{% static 'images/wrapup/atlach.jpeg' %}" style="width: 35%;">
  <p>The hunt writers would like to thank the Magus of Night for organizing this event, purchasing the relevant materials, and preparing hundreds of meters of puzzle-related string without too much complaint. We hope you all enjoyed the modular arithmetic.</p>

  <h3>Find Oren</h3>

  <blockquote>
    <p>“Find Oren” was inspired by "findsatoshi," a group of people online dedicated to finding a man named Satoshi based only on his photo. I had the idea to put a puzzle like this in a day or two before the hunt, but it was kind of a crackhead idea unlike anything else in the hunt, and I didn't really think it would work until it was fully written. I was also pretty sure Orion would veto it but I forgot he's super chill and cool. Pretty much the instant I thought of doing this on Brown's campus, for some reason Oren popped in my head. He is a distinct enough figure on campus to make him a great candidate.</p>
    <footer>Ian Rider, puzzle creator</footer>
  </blockquote>

  <img src="{% static 'images/wrapup/find-oren.jpeg' %}" style="width: 35%;">

  <blockquote>
    <p>“Oh it was a great time and super cool
      <br><br>
      I think everyone who found me had a different experience. Some people I just told them where I was (if it was late and I just wanted them to find me), for some people I sent them a picture of the ground/surroundings and they had to work to figure out where it was.
      <br><br>
      One person found me during my BSE club meeting which was super cool.
      I was with someone while they solved the first meta and opened the “find Oren” puzzle for the first time and they did a triple-take looking from their phone to me and back again trying to understand if I was really the same person
      Overall 10/10 puzzle
      <br><br>
      I also had people who managed to find my phone number online and just called me”
      </p>
    <footer>Oren Kohavi</footer>
  </blockquote>

  <p>We are very glad Find Oren panned out to be a success. It was a chaotic add to the hunt that we found ended up having a huge value. To this day, Oren keeps reporting being “found” by fans around campus. More than just the in-person chase factor of the puzzle, we had many HQ-adored submissions from remote teams. Here are a few that we’d love to highlight:</p>

  <a class="centered larger" href="https://drive.google.com/drive/folders/1RviVepvDRQz-CA1NQh1nNqv65HEqTUxF?usp=sharing"><b>FIND OREN HIGHLIGHTS</b></a>

  <h3>The Final Runaround</h3>

  <h5>Put Blueno Back Whence He Came</h5>
  <p>For almost the entirety of the hunt’s development, the question of the final runaround was up-in-the-air. Essentially, Thomas put a big “don’t worry I’ll work it out” note at the bottom of the spreadsheet, and that was that for an extremely long period. This puzzle was actually ideated some time in March, and it spoke to a very core concern of the author, which was: “to what extent can we make the solvers dance for our amusement?”</p>

  <p>That question resulted in Put Blueno Back, which instructed solvers to “disguise themselves as Blueno Resurrection Society members” and “bring an invitation proving that they were welcome”.</p>

  <p>And the answer was, in case you were wondering, much more than we thought.</p>

  <div class="centered-flex">
    <img src="{% static 'images/wrapup/run1.jpg' %}" style="width: 35%;">
  </div>
  <br>
  <p>Our favorite invitation/costume combo was The ‘Zzlers, who came dressed in pirate hats (unbecoming headwear of a true Resurrection Society member), but noted that the invitation specified pirate hats. Clearly, it was some kind of clerical error on our part.</p>

  <p>We loved seeing the invitations and costumes that everyone came up with, but there was another very good reason that this puzzle was set up in the way that it was; it allowed us to stall for time to ensure that the final runaround was set up properly, and allow us to make sure that Blueno was in position.</p>

  <p>This puzzle’s original draft also ended up shaping the plot of the hunt (such as the first meta-solve interaction) in order for its instructions and context to make sense.</p>

  <h5>The Final Procession</h5>

  <img src="{% static 'images/wrapup/run_3.png' %}" style="width: 35%;">

  <p>The Final Procession was also an extremely late addition to the hunt. Blueno’s position was settled several weeks in advance, since the location had to fulfill several key requirements. Particularly, the location had to:</p>
  <ul>
    <li>Be sheltered (either indoors, or “under cover” if outdoors)</li>
    <li>Be accessible to ANY Brown student (so no dorms or department buildings)</li>
    <li>Be accessible at any time of the day (DPS likes to lock buildings inconsistently and at unpredictable times in the evening, which ruled out many, many potential locations)</li>
    <li>Be relatively central, in an area hopefully known to the majority of students</li>
    <li>Be obscure, such that students wouldn’t walk past and spot Blueno without finishing the rest of the hunt</li>
    <li>(Optionally) be a cool and spooky location, as befitted the theme of the hunt</li>
  </ul>

  <p>These were very tight constraints, and to our knowledge there are very, very few places on campus which fulfill all of these criteria. However, the tunnel beneath MoChamp is perfect. It contains a door which any Brown student of any level can swipe into at any time of the day (a fact that was put to the test several times during the hunt), and is obviously well-known to many, many students. Finally, it leads into an underground, spooky tunnel which very few students actually ventured into, with exposed piping and an industrial feel, which was perfect for our needs. A word of warning for spelunkers, though: travel too far down the hallway, and you’ll actually set off an alarm.</p>

  <p>The runaround itself was partly repurposed from a scrapped draft of the first meta, which was discarded due to being too unfriendly to remote solvers. (Yes, I know.) This (intentionally) led to very tight narrative theming; the relevant dataset ended up bookending the hunt, and solvers were able to reuse everything they learned about campus at the beginning of the hunt in a more comprehensive way. This, combined with the strong narrative element of the final runaround (making headway requires understanding the different groups presented to you and their goals) led to a powerful final runaround that had solvers making an active decision to change the direction of the plot. In some respects, the final runaround might be the strongest story element of the hunt! (Your mileage may vary.)</p>

  
  <h3>Our Timeline</h3>
  <ul>
    <li><b>Jan 5th</b>: First logistics meeting</li>
    <li><b>Feb 6th</b>: At least one draft of all 4 metas done; first all-hands meeting</li>
    <li><b>Feb 7th</b>: First feeder answer claimed</li>
    <li><b>Feb 22nd</b>: Kickoff rooms reserved</li>
    <li><b>Feb 27th</b>: All 3 aspect metas finalized (the opening meta was revised right up until the last minute!)</li>
    <li><b>March 6th</b>: First meeting with Student Activities Office</li>
    <li><b>March 13th</b>: Brown Puzzlehunt announced!</li>
    <li><b>March 25th - April 2nd</b>: Spring break! No club meetings!</li>
    <li><b>March 28th</b>: First puzzle uploaded to the website</li>
    <li><b>April 3rd</b>: Club meetings become actually focused on Brown Puzzlehunt (no more group solves)</li>
    <li><b>April 8th</b>: 87% there! 92% there! Everything is uploaded except for two last-minute feeders and two final runaround puzzles</li>
    <li><b>April 10th</b>: Physical puzzle making session; last club meeting pre-hunt</li>
    <li><b>April 13th</b>: SAO formally approves Brown Puzzlehunt</li>
    <li><b>April 15th-16th</b>: Brown Puzzlehunt!</li>
    <li><b>April 17th</b>: sleep.</li>
  </ul>

  <p>Looking back on this timeline, we managed to get an incredible amount of work done in the little time that we gave ourselves. We as a club meet once a week for about an hour and a half, and by the time we started really getting into puzzle writing, we were only 7 meetings away from the hunt.</p>

  <p>This incredibly fast pace would not have been possible without the blood, sweat, and tears of a number of people who all believed that this hunt could be as good as it ended up being. In particular, a number of people on the core leadership team and the puzzle writing team worked hard over Spring Break, sacrificing what could have been valuable rest and relaxation to instead work on site infrastructure, upload puzzles, write puzzles, test and edit puzzles, and coordinate logistics.</p>

  <p>The tight timeline led to several puzzles which were written at the absolute last minute. (We guarantee that they’re not going to be the ones that you think they are.) Aside from the writing, we also gave ourselves an extremely short timeline to interact with Student Activities to get approval to host an event on campus. We were simultaneously crafting the hunt and seeking permission to host it, and that permission was not fully granted until 2 days before kickoff. </p>

  <p>In the future, we’re looking to have a more sane timeline, which will allow us to both accomplish what we already have in a more relaxed fashion, put in stronger procedures for testing and quality control, and be more ambitious with our hunt structure.</p>


  <h3>Testsolving</h3>
  <p>We could not have run this hunt without the incredible work of our testsolvers. In addition to the members of our club (who all testsolved various puzzles and metas), we would like to explicitly shout out our <a href="{% url 'credits' %}">remote team of testsolvers</a> who really helped to ensure that our puzzles were (mostly) erratum free!</p>
  <h3>Reflections</h3>
  <h5>Hunt Structure</h5>
  <p>Brown Puzzlehunt presents a new formula for puzzlehunts; it is not in any way original on its own, but it is a blend of different events that makes something new. In most ways, we viewed it as a mini-MIT Mystery Hunt: an event with the unique possibility spaces of events, physical puzzles, HQ interactions, post-meta prizes, scavenger hunts, and on-site runarounds, but without the hundreds of puzzles and difficulty that would completely alienate a student team of less than ten.</p>

  <p>Our main goal was to make the hunt interesting and fun for a team that only had a few people and finished the first round. We think we were successful! Teams which engaged with the puzzles generally managed to solve the first meta, at which point they would have been rewarded with a custom interaction and cute chibi Blueno pins. Teams could also attend the events without solving any puzzles, which gives us a good benchmark to see how many teams were actively trying to solve through the hunt. (Indeed, more on-site teams solved the first meta than attended either of the events, which is extremely promising).</p>

  <p>We also tried to front-load interesting physical puzzles which in-person teams would find rewarding, and back-load the more complex, interactive puzzles which would reward online-only teams who regularly did puzzlehunts. For this reason, we made Butterfly Evolution Kit and Find Oren the opening unlocks in The Bear round (both of which were extremely well-received on-campus), and positioned other puzzles which encouraged physicality (A Search in the Basement and The Impossible) relatively early in the main rounds.</p>

  <p>This meant that we had high engagement among the student body at Brown. Despite extremely minimal advertising and the fact that we had never run an event like this before, we had a turnout of hundreds of students at kickoff at midday on a weekend. And, despite the surprising difficulty of the early rounds, every team that we talked to said that they planned to hunt again next year. While there’s likely some selection bias there, we’re still extremely pleased with the reception of the event and the level of enthusiasm we received.</p>

  <p>However, this did mean that the hunt was more hostile for a selection of online-only teams. We are definitely aware of some remote teams who struggled with the hunt; either because they lacked critical campus lore knowledge which gate-kept them at important points, or because they were bottlenecked by the influx of puzzles early in the Bear and Lamp rounds designed to favor on-site teams. There was also a technical issue early in the hunt where the countdown timers designed to unlock remote versions of the puzzles for on-site teams after a delay were also applied to the leading remote teams; while this issue was fixed relatively quickly, it undoubtedly was a contributing factor to this experience.</p>

  <p>While Brown Puzzlehunt is (and will remain) an experience that can only be experienced fully by a team with on-site individuals, it was also marketed as being accessible to remote solvers; as we discovered during the event, this was true in a more limited sense than we expected. We’re planning to do more work in the future around making the hunt fully enjoyable to those who aren’t on-site, while still offering more to those who are. Seeing different teams interact with the hunt has helped us understand the dynamics of the event, so we already have several plans for this!</p>

  <p>The hunt was also much more difficult than advertised. Part of this was a disconnect between the “puzzle” department and the “marketing” department; miscommunications about the expectations of the event led to claims at kickoff that teams would be able to finish within 6 hours. That was technically true; the first remote team (💰💰💰 Galactic Tax Exempt 🤑🤑🤑) was able to finish in 6 hours and 46 minutes. </p>

  <p>…oops.</p>

  <p>There was also a claim made on the website that there would be “between 20 and 25 puzzles”. This, again, was technically true; there are 22 feeder puzzles in the hunt. Unfortunately, there are also 4 metas, 2 events, and 2 puzzles in the final runaround sequence, making 30 puzzles total.</p>

  <p>…double oops.</p>

  <p>Neither of these things are a significant issue, but they did present an interesting learning experience about estimating (and communicating) the size and scope of our event. Going forward, we expect to have and give a much clearer understanding of Brown Puzzlehunt’s length and difficulty.</p>

  <h5>Puzzle Writing</h5>

  <p>Going into this hunt was an interesting proposition: we were working on an incredibly tight timeline (all 22 feeders were written, tested, revised and uploaded in just over 2 months) with a large team of people, none of whom had ever written for a widely-attended puzzlehunt before. We had exactly one person on staff who was simultaneously experienced in puzzlehunt writing logistics (although this would be his first hunt writing publicly as well!) and had the bandwidth to focus on puzzles. Other people with significant puzzle experience were tied up with the (itself insanely complex) website, or weren’t available this semester.</p>

  <p>This ended up having the unfortunate effect of placing an undue burden on a single author, who was simultaneously the main author (credited on 14 out of 30 puzzles in the hunt), sole puzzle editor, and primary post-prodder (the person responsible for uploading all of the puzzles to the website).</p>

  <p>Despite this, we were able to run a relatively well-tested hunt that featured a wide variety of puzzles from almost every author who was interested in writing. First pick of answer slots went to first-time authors and people who were only planning to write one puzzle; those selections were given deadlines early in the semester, to ensure that there would be sufficient time to test and edit those first puzzles into a solvable shape. (And, in all cases, this was successful! There are no Unsolvable puzzles in the hunt.) Then, the Puzzle Director worked to fill the gaps that were left over; mostly working alone, but several cases writing with the invaluable assistance of other authors, who helped to provide ideas and moral support.</p>

  <p>Other authors were also recruited to help fill in the gaps. Two friends of Brown Puzzle Club, Thomas Mowen and Alex DeFranco, were brought on early to help fill some slots, and wrote for 3. As the event date neared (and unclaimed slots became increasingly urgent to fill), another friend of the Club, Soni, was recruited to write for another slot. None of these writers are members of the Brown community, and owed nothing to the hunt; but they donated their time and effort to the hunt nonetheless, and helped to make the hunt happen at all.</p>

  <p>Finally, it is impossible to heap too much praise unto our testsolving crew, who worked tirelessly in the weeks leading up to the hunt to help fix many outstanding issues with the puzzles. Some members of The Mathemagicians, a Mystery Hunt team (and, obviously, friends of Brown Puzzle Club) were contacted to “test a few puzzles”. They ended up doing far, far more than that, providing valuable assistance to ensure that several puzzles were unique, suggesting changes for some puzzles that ended up making it into the final hunt, in one case working closely with the puzzle author to help him redraft it, in another graduating to a Puzzle Author, and even helping us to man our hint queue during the event itself. If you enjoyed the relatively clean puzzles and fast hint response times, these are the people you should thank. They, truly, made the magic happen.</p>

  <h5>Organization</h5>
  <p>Overall, our organization structure was very narrow (and that’s something we hope to improve upon for next year!) </p>
  <p>It is an interesting challenge to explain to the Student Activities Office (SAO) what a puzzlehunt is (not jigsaw, which is what they thought for the first few weeks until we managed to meet in person) and why we wouldn’t know exactly where everyone was located all weekend. It is even more difficult when we say that for some parts of the weekend, we would have hunters, both Brown students and people from the general population, visiting specific places on campus in a scavenger-hunt-esque way (and also that we were not exactly sure when that would happen). We were not sure how high the interest level would be from Brown students (and it ended up being much higher than expected), so we did not have an accurate estimate of numbers either :).</p>

  <p>Despite our very vague descriptions, through numerous emails back and forth we managed to convince them to approve this event with promises that we would collect physical waivers and run fire safety checks on all of our locations. We also ended up having to register the hunt as 4 separate events (not just 1), and all 4 had to be approved by SAO before we were cleared to run. While this approval was going through, we were also booking spaces on campus for HQ, solving spaces for teams that requested them, events, and kickoff. These bookings involved repeatedly calling the university Space Scheduling office, as well as briefly interacting with media services and DPS. We also had numerous back and forths with UFB to discuss funding for this event.</p>

  <p>Because more in person teams registered than we expected, we had to keep reserving more classrooms for solving spaces throughout March. A week before the hunt, we had to close the option for teams to request a room on campus because we had booked out every single room we could find. Next  year, because we are going to reserve more rooms farther in advance in hopes of being able to offer this option to more teams. We are also not reserving a space for HQ on the third floor of a building with no elevator and no bathrooms on the floor :(.</p>

  <p>All logistics were handled by one person (see initial statement about narrow structure). Our goal for next year is to not run the event like this, and to have more responsibility spread out in terms of the actual on-site planning. Super big shoutout to our SAO rep Cassie Sutten Coats, for asking the right questions to make sure we were well equipped to run this event. In general, a bus factor of 1 is not a great idea, and we were definitely in that position this year.</p>

  <p>All a learning experience though! A major plus for us is that no one from HQ is graduating this year, so we’ll all be around for next time. Very excited for BPH 2024 :)</p>

  <h3>Credits</h3>
  See <a class="round-link" href="{% url 'credits' %}">/credits</a>  
  <br><br>
  <h3>Exit Survey</h3>
  <p>We would love to hear any feedback you have. This is especially important to us as it was our first time running Brown Puzzlehunt, and we wish to fine-tune all the details to make this event even more awesome in the years to come!</p>
  <a class="centered larger" href="https://docs.google.com/forms/d/e/1FAIpQLSc1wHNN7heo6gpNF7Lx6yuAOCPfMEaZivBvh7CgJ6KIuI1S9A/viewform?usp=sf_link">BPH 2023 PARTICIPANT SURVEY</a>

</main>

<aside>
  <script>
    const heads = [...$("h1,h2,h3,h4,h5,h6")].map((head) => [
      head,
      $("<div>")
        .text(head.textContent)
        .css("padding-left", head.tagName.substr(1) + "em")
        .click(() => head.scrollIntoView({ behavior: "smooth" }))
        .appendTo("aside"),
    ]);
    function highlight() {
      const rects = heads.map(([head]) => head.getBoundingClientRect());
      heads.forEach(([head, link], i) =>
        link.toggleClass(
          "highlight",
          (!rects[i + 1] || rects[i + 1].top > 0) && rects[i].top < innerHeight
        )
      );
    }
    document.addEventListener("scroll", highlight, { passive: true });
    highlight();
  </script>
</aside>

<script
  src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"
  integrity="sha256-Yhe8c0oOs2dPYVQKLAi1aBB9uhr7yMmh67ukoWBqDuU="
  crossorigin="anonymous"
></script>
<script type="text/javascript">
  echarts.init(document.getElementById('biggraph')).setOption({
    title: {
      left: "center",
      text: "{% blocktranslate with teams=teams|length|escapejs %}Top {{ teams }} Teams{% endblocktranslate %}",
    },
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "cross"
      }
    },
    legend: {
      type: "scroll",
      orient: "horizontal",
      align: "left",
      bottom: 35,
      data: [
        {% for team in teams %}
          "{{ team.team_name|escapejs }}",
        {% endfor %}
      ],
    },
    toolbox: {
      feature: {
        dataZoom: {
          yAxisIndex: "none"
        },
        saveAsImage: {}
      }
    },
    grid: {
      containLabel: true
    },
    xAxis: [
      {
        type: "time",
        boundaryGap: false,
        data: []
      }
    ],
    yAxis: [
      {
        type: "value"
      }
    ],
    dataZoom: [
      {
        id: "dataZoomX",
        type: "slider",
        xAxisIndex: [0],
        filterMode: "filter",
        height: 20,
        top: 35,
        fillerColor: "rgba(233, 236, 241, 0.4)"
      }
    ],
    tooltip: {
      formatter: function(params) {
        var teamName = params.seriesName;

        var date = params.data[0];
        var score = params.data[1];
        var info = params.data[2];

        // team name and color;
        var div1 = document.createElement('div');
        var span = document.createElement('span');
        span.className = 'tooltip-colored-circle';
        span.style.backgroundColor = params.color;
        div1.appendChild(span);
        div1.appendChild(document.createTextNode(teamName));

        var div2 = document.createElement('div');
        var sl = document.createElement('small');
        sl.textContent = 'Solved: '
        div2.appendChild(sl);
        div2.appendChild(document.createTextNode(info));
        var ns = document.createElement('strong');
        ns.textContent = ' → ' + score;
        div2.appendChild(ns);

        var div3 = document.createElement('div');
        div3.textContent = date.toLocaleString();

        var div = document.createElement('div');
        div.appendChild(div1);
        div.appendChild(div2);
        div.appendChild(div3);
        return div.outerHTML;
      },
    },
    series: [
      {% spacelesser %}
      {% for team in teams %}
      {
        name: "{{ team.team_name|escapejs }}",
        type: "line",
        itemStyle: {
          normal: {
            color: "{{ team.color|escapejs }}",
          }
        },
        symbolSize: function(data) { return data[3] ? 10 : 4; },
        data: [
          {% for point in team.graph_data %}
          [new Date({{ point.0|escapejs }}), {{ point.1|escapejs }}, '{{ point.2|escapejs }}', {% if point.3 %}1{% else %}0{% endif %}],
          {% endfor %}
        ],
      },
      {% endfor %}
      {% endspacelesser %}
    ],
  });
</script>

{% endblock %}
