{% extends "round.html" %} {% load static %}

<!-- ORDER:
1: Butterfly Evolution Kit (butterfly-evolution-kit)
2: Entangled Mines (entangled-mines)
3: Science Library (science-library)
4: Missing Squares (missing-squares)
5: Filter Paper (filter-paper)
6: Articles of Speech (articles-of-speech)
M: The Bear (the-bear)
-->

{% block round-body %}

<link rel="stylesheet" href="/static/css/rounds/themes/cthulu-purple.css" />
<style>
  html {
    background-image: url("/static/images/rounds/the-bear/hungry blueno bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    height: 100%;
    background-color: #0e0316;
  }

  html {
    background-color: #a7d288;
  }

  .content {
    padding-top: 700px;
  }

  .butterfly-evolution-kit {
    position: absolute;
    top: 26.3%;
    left: 70%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/sushi icon.png");
    width: 22%;
  }
  .butterfly-evolution-kit:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .entangled-mines {
    position: absolute;
    top: 41%;
    left: 62.8%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/boba icon.png");
    width: 22%;
  }
  .entangled-mines:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .science-library {
    position: absolute;
    top: 22.6%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/wrap icon.png");
    width: 22%;
  }
  .science-library:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .missing-squares {
    position: absolute;
    top: 32.7%;
    left: 43%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/andrews bowl icon.png");
    width: 20%;
  }
  .missing-squares:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .filter-paper {
    position: absolute;
    top: 16.7%;
    left: 30%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/b_j icon.png");
    width: 30%;
  }
  .filter-paper:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .articles-of-speech {
    position: absolute;
    top: 28.7%;
    left: 23%;
    transform: translate(-50%, -50%);
    content: url("/static/images/rounds/the-bear/spicy w icon.png");
    width: 19%;
  }
  .articles-of-speech:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }
</style>

{% for data in round.puzzles %}
<a href="{% url 'puzzle' data.puzzle.slug %}">
  <img class="{{ data.puzzle.slug }}" />
</a>
{% endfor %}

<br /><br />
{% endblock %}
