{% extends "round.html" %} {% load static %}

{% block round-body %}

<link rel="stylesheet" href="/static/css/rounds/themes/cthulu-purple.css" />
<style>
  html {
    background-color: #a7d288;
    background-image: url('/static/images/rounds/the-bear/tile.png');
    background-repeat: repeat;
    background-size: 45%;
  }

  .round-puzzles {
    position: relative;
  }

  .map {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 16/9;
    max-width: 2061px;
    width: 100%;
  }

  .round-puzzles .puzzle {
    position: absolute;
  }

  .round-puzzles .puzzle img {
    width: 100%;
  }

  .round-puzzles .puzzle img:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(254, 226, 136, 0.5));
  }

  .round-puzzles .table-bg img {
    width: 100%;
  }

  .table-bg {
    position: absolute;
    z-index: -1;
  }

  .round-puzzles .puzzle:nth-of-type(1) {
    left: 61%;
    top: 18%;
    width: 20%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(2) {
    left: 52%;
    top: 47%;
    width: 20%;
    z-index: 101;
  }
  .round-puzzles .puzzle:nth-of-type(3) {
    left: 39%;
    top: 43%;
    width: 20%;
    z-index: 102;
  }
  .round-puzzles .puzzle:nth-of-type(4) {
    left: 27%;
    top: 34%;
    width: 16%;
    z-index: 103;
  }
  .round-puzzles .puzzle:nth-of-type(5) {
    left: 10%;
    top: 24%;
    width: 22%;
    z-index: 102;
  }
  .round-puzzles .puzzle:nth-of-type(6) {
    left: 26%;
    top: 6%;
    width: 15%;
    z-index: 104;
  }
  .round-puzzles .puzzle:nth-of-type(7) {
    left: 40%;
    top: 3%;
    width: 22%;
    z-index: 105;
  }

  .round-puzzles .puzzle:nth-of-type(1) img {
    content: url("/static/images/rounds/the-bear/sushi icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(2) img {
    content: url("/static/images/rounds/the-bear/boba icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(3) img {
    content: url("/static/images/rounds/the-bear/wrap icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(4) img {
    content: url("/static/images/rounds/the-bear/andrews bowl icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(5) img {
    content: url("/static/images/rounds/the-bear/b_j icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(6) img {
    content: url("/static/images/rounds/the-bear/spicy w icon.png");
  }
  .round-puzzles .puzzle:nth-of-type(7) img {
    content: url("/static/images/rounds/the-bear/meta cake.png");
  }

  .puzzles-list {
    background-color: #80af5fd6;
  }
  .puzzles-list h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>

<section class="round-puzzles">
  <div class="map">
    {% for data in round.puzzles %}
    <div class="puzzle">
      <a href="{% url 'puzzle' data.puzzle.slug %}">
        <img class="{{ data.puzzle.slug }}" />
      </a>
    </div>
    {% endfor %}
    <div class="table-bg">
      <img
        class="table-bg-img"
        src="{% static 'images/rounds/the-bear/hungry blueno bg.png' %}"
      />
    </div>
  </div>
</section>

<br /><br />
{% endblock %}
