{% extends "round.html" %} {% load static %} {% block round-body %}
<link rel="stylesheet" href="/static/css/rounds/themes/cthulu-purple.css" />
<style>
  .content {
    /* may break a lot !!!*/
    all: unset;
  }

  html {
    --page-bg-rgb: 19, 15, 29;
    --link-text-color: #7c7389;
    --link-hover-color: #ccc9d0;
    --heading-text-color: #5f5679;
  }

  footer {
    color: #a698b3;
  }

  .puzzles-list {
    color: #947a72;
    margin-left: 50px;
    background-color: #1b1725;
  }
  .puzzles-list h1 {
    padding: 2rem 0;
    font-size: 7rem;
    margin-left: 10px;
    margin-top: 10px;
    /*    text-shadow: -1px -1px 0 #8f8597, 
                  1px -1px 0 #8f8597, 
                 -1px  1px 0 #8f8597, 
                  1px  1px 0 #8f8597;*/
  }
  @media screen and (max-width: 960px) {
    .puzzles-list {
      margin: 0 auto;
      max-width: 80%;
    }
  }

  .round-puzzles {
    position: relative;
  }

  .map {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 4/3;
    max-width: 2061px;
    width: 100%;
  }

  .round-puzzles .puzzle {
    position: absolute;
  }

  .round-puzzles .puzzle img:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(254, 226, 136, 1));
    filter: drop-shadow(0px 0px 7px rgba(254, 226, 136, 1));
  }

  .round-puzzles .art-bg img {
    width: 100%;
  }

  .art-bg {
    position: absolute;
    z-index: -1;
  }
  .blueno-bg {
    position: absolute;
    z-index: 10;
    width: 66%;
    left: 22%;
    top: 13%;
  }

  .round-puzzles .puzzle:nth-of-type(1) {
    left: 25%;
    top: 23%;
    width: 13%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(2) {
    left: 34%;
    top: 6%;
    width: 15%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(3) {
    left: 56%;
    top: 4%;
    width: 12%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(4) {
    left: 71%;
    top: 22%;
    width: 13%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(5) {
    left: 83%;
    top: 9%;
    width: 13%;
    z-index: 100;
  }
  .round-puzzles .puzzle:nth-of-type(6) {
    left: 40%;
    top: 22%;
    width: 26%;
    z-index: 100;
  }

  .puzzle img {
    max-width: 100%;
  }

  .round-puzzles .puzzle:nth-of-type(1) img {
    content: url("/static/images/rounds/lamp/stars_1.png");
  }
  .round-puzzles .puzzle:nth-of-type(2) img {
    content: url("/static/images/rounds/lamp/stars_2.png");
  }
  .round-puzzles .puzzle:nth-of-type(3) img {
    content: url("/static/images/rounds/lamp/stars_3.png");
  }
  .round-puzzles .puzzle:nth-of-type(4) img {
    content: url("/static/images/rounds/lamp/stars_4.png");
  }
  .round-puzzles .puzzle:nth-of-type(5) img {
    content: url("/static/images/rounds/lamp/stars_5.png");
  }
  .round-puzzles .puzzle:nth-of-type(6) img {
    content: url("/static/images/rounds/lamp/meta.png");
  }
</style>

<section class="round-puzzles">
  <div class="map">
    {% for data in round.puzzles %}
    <div class="puzzle">
      <a href="{% url 'puzzle' data.puzzle.slug %}">
        <img class="{{ data.puzzle.slug }}" />
      </a>
    </div>
    {% endfor %}
    <div class="art-bg">
      <img
        class="art-bg-img"
        src="{% static 'images/rounds/lamp/background.png' %}"
      />
    </div>
  </div>
</section>

{% endblock %}
