/* INITIAL LANDING PAGE FOR THE HUNT, BLUENO RESURRECTION SOCIETY */
.content {
  padding-top: 660px;
}

/* INDIVIDUAL ROUND STYLE AND PLACEMENT: */
.blueno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url("/static/images/rounds/brs/blueno_1.png");
  width: 20%;
}
/* .blueno:hover {
  content: url("/static/images/cthulu-landing/brs2.png");
  cursor: pointer;
} */
