/* INITIAL LANDING PAGE FOR THE HUNT, BLUENO RESURRECTION SOCIETY */

html {
  --page-bg-rgb: 255, 255, 253;
  --accent-rgb: 20, 121, 162; /*0, 85, 170;*/

  --white-color: white;
  --neutral-color: rgb(180, 216, 234);
  --accent-color: rgb(var(--accent-rgb));
  --accent-bg-color: rgba(var(--accent-rgb), 0.1);
  --accent-hover-color: #004d6e;

  --page-bg-color: rgb(var(--page-bg-rgb));
  --sticky-bg-color: rgba(var(--page-bg-rgb), 0.9);
  --heading-text-color: var(--accent-color);

  --border-color: var(--accent-color);
  --print-border-color: #222;

  --link-text-color: var(--accent-color);
  --link-hover-color: var(--accent-hover-color);

  --btn-text-color: var(--white-color);
  --btn-bg-color: var(--accent-color);
  --btn-hover-color: var(--accent-hover-color);

  --btn2-text-color: black;
  --btn2-bg-color: var(--neutral-color);
  --btn2-hover-color: var(--page-bg-color);

  --btn3-bg-color: #97998b;
  --btn3-hover-color: #5d604c;

  /* --tray-text-color: var(--accent-color); */
  /* --tray-bg-color: var(--neutral-color); */
  --tray-text-color: white;
  --tray-text-light-color: #a8cada;
  --tray-bg-color: #1479a2;
  --tray-hover-color: #4d9fc1ba;

  --page-accent-color-muted: #8cadbb;
  --page-accent-color-light: #d8ebf3;

  --title-font: "Kollektif", sans-serif;
  --script-font: "Finger-Paint", sans-serif;
  --text-font: "BubbleboddyNeue", sans-serif;
  --btn-font: "Monteserrat", sans-serif;
  --input-font: monospace;
  --answer-font: monospace;
}

.content {
  padding-top: 660px;
}

/* INDIVIDUAL ROUND STYLE AND PLACEMENT: */
.blueno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url("/static/images/cthulu-landing/brs1.png");
  width: 20%;
}
.blueno:hover {
  content: url("/static/images/cthulu-landing/brs2.png");
  cursor: pointer;
}