{% extends "puzzle.html" %}
{% block puzzle-body-md %}

Once you've solved the puzzle from the event, submit it here.
{: .flavor}

<b>What:</b> In darkness, we are revealed. <br><br>Send 2 fully physically-able people who like spooky events and physical manuevering to the south section of The Walk. Make sure they're comfortable with a crowd. Capacity will be limited, so please don't send any more than 2 people.

<b>When:</b> The event will BEGIN at 8:00 PM.

<b>Where:</b> The Walk (South) - 90 Waterman St

{% endblock %}
