{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .instructions {
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .title {
        text-align: center;
    }
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
    .dark {
        background-color: black;
    }
</style>

<div class="instructions">
<span class="title"><u>INSTRUCTIONS FOR RESURRECTION:</u></span>

<ol>
    <li>Draw a suitable shape in chalk. (See the diagram below.)</li>
    <li>Place your anchoring pieces at the points of the shape.</li>
        <ol>
            <li>The MUSICAL anchor should go in the top-left (note: this is a temporary anchor and may not be listed with the others!)</li>
            <li>The SEPARATION anchor should go in the top-right</li>
            <li>The THOUGHT anchor should go on the right</li>
            <li>The STATE anchor should go on the bottom</li>
            <li>The SEAT anchor should go on the left</li>
        </ol>
    <li>Draw the suitable connections of power between your anchors, along the lines.</li>
    <li>Count dramatically, and very, very carefully. Consider only the shape and official title of the anchor. (Visiting the anchors may help.)</li>
    <li>Read around the circle, clockwise, to receive your final incantation.</li>
</ol>

<span class="title"><u>APPENDIX 1: DIAGRAM</u></span>

<img src="{% static 'puzzle_resources/bring-back-blueno/diagram.png' %}">

<span class="title"><u>APPENDIX 2: CONNECTIONS OF POWER</u></span>

<span class="title">Number of...</span>
<table>
    <tr>
        <td></td>
        <td>MUSICAL</td>
        <td>SEPARATION</td>
        <td>THOUGHT</td>
        <td>STATE</td>
        <td>SEAT</td>
    </tr>
    <tr>
        <td>SEAT</td>
        <td>letters</td>
        <td>Arabic numerals</td>
        <td>legs*</td>
        <td>words</td>
        <td class="dark"></td>
    </tr>
    <tr>
        <td>STATE</td>
        <td>syllables</td>
        <td>holes** on the larger side</td>
        <td>animals</td>
        <td class="dark"></td>
        <td class="dark"></td>
    </tr>
    <tr>
        <td>THOUGHT</td>
        <td>people</td>
        <td>arms</td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
    </tr>
    <tr>
        <td>SEPARATION</td>
        <td>holes** on the smaller side</td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
    </tr>
    <tr>
        <td>MUSICAL</td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
        <td class="dark"></td>
    </tr>
</table>

*This includes any connection between the anchor and the ground.<br>
**Holes means topological holes which you can poke your finger through. Photos might lie to you.

</div>

{% endblock %}
