{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

In the courtyards of Rome, citizens build grids of pillars ("skyscrapers") according to the <a href="https://puzz.link/rules.html?skyscrapers">following rules</a>.
<br><br>The more devoted worshippers leave letters on the tops of these pillars, which those standing on the edges can see and read; but only the highest letters can reach the gods above.
{: .flavor}

<a href="https://docs.google.com/spreadsheets/d/1GImg_8SdlzeoXaJoQnB0Jl8Tl7K92hIcPNjfOCh6uFI/edit?usp=sharing">Link to the spreadsheet version of this puzzle.</a>

{% endblock %}

