{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

In the courtyards of Rome, pillars of heights 1 through 4 are constructed in a 4 by 4 grid. These pillars are constructed such that each row and column in each courtyard contains one and only one pillar of each height.
<br><br>The more devoted worshippers leave letters on the tops of these pillars; but only the highest letters can reach the gods above.


Spectators read bottom to top.

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/built-in-a-day/court1.png' %}">

Spectators read top to bottom.

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/built-in-a-day/court2.png' %}">

Spectators read bottom to top.

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/built-in-a-day/court3.png' %}">

Spectators read top to bottom.

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/built-in-a-day/court4.png' %}">


{% endblock %}

