{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<style>
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="notice">
    Notice for solvers: this is a physical puzzle that requires collecting an object from HQ, but is fully remote-solvable using just the information on this page.
</div>

Visit HQ and tell them that you're ready to learn about butterflies. Be prepared to tell them what team you're from.
{: .flavor}

In Butterfly Evolution Kit, teams receive a manilla envelope containing sixteen butterflies and one double-sided sheet of paper. The contents of the paper is linked below.

<a href="https://drive.google.com/file/d/1h-Hd46pfGEXKYyg7XNKJPUVpf1-4ciJi/view?usp=sharing">Link to paper contents.</a>

{% endblock %}
