{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<img src="{% static 'puzzle_resources/community-photos/img1.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img2.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img3.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img4.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img5.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img6.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img7.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img1.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img9.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img10.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img11.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img12.png' %}">
<img src="{% static 'puzzle_resources/community-photos/img13.png' %}">

{% endblock %}
