{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<img src="{% static 'puzzle_resources/community-photos/1.png' %}">
<img src="{% static 'puzzle_resources/community-photos/2.png' %}">
<img src="{% static 'puzzle_resources/community-photos/3.png' %}">
<img src="{% static 'puzzle_resources/community-photos/4.png' %}">
<img src="{% static 'puzzle_resources/community-photos/5.png' %}">
<img src="{% static 'puzzle_resources/community-photos/6.png' %}">
<img src="{% static 'puzzle_resources/community-photos/7.png' %}">
<img src="{% static 'puzzle_resources/community-photos/1.png' %}">
<img src="{% static 'puzzle_resources/community-photos/9.png' %}">
<img src="{% static 'puzzle_resources/community-photos/10.png' %}">
<img src="{% static 'puzzle_resources/community-photos/11.png' %}">
<img src="{% static 'puzzle_resources/community-photos/12.png' %}">
<img src="{% static 'puzzle_resources/community-photos/13.png' %}">

{% endblock %}
