{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

Excited to spend a day in Manhattan? Here's an itinerary to get you arranged in the city that never sleeps.
{: .flavor}

<table>
    <tr>
        <td colspan="2"><b>Things To Do:</b></td>
    </tr>
    <tr>
        <td>See slam poetry at the Nuyorican Poets Cafe</td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/7-digit.svg' %}"></td>
    </tr>
    <tr>
        <td>Catch a movie at the Anthology Film Archives</td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/d-letter.svg' %}"></td>
    </tr>
    <tr>
        <td>Enjoy a meal at Thai Diner</td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/n-letter.svg' %}"></td>
    </tr>
    <tr>
        <td>Unleash your inner child at the Hippo Playground</td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/1-digit.svg' %}"></td>
    </tr>
    <tr>
        <td>People-watch at Tompkins Square Park </td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/4-digit.svg' %}"></td>
    </tr>
    <tr>
        <td>Pick up some souvenirs at the Malcolm Shabazz Harlem Market </td>
        <td><img src="{% static 'puzzle_resources/day-in-the-city/a-letter.svg' %}"></td>
    </tr>
</table>

<span style="text-align: center;"><b>Fun Facts About NYC:</b></span>
The Rockefeller Center is made from the most corrosion-resistant material.<br>
Chelsea Market gets its namesake from the man who first proposed the sun as the center of the universe.<br>
The Jackie O. Reservoir has a bluish tint and is produced mainly in the DR Congo.<br>
Peter Cooper Village burns at 420 degrees Celsius.<br>
Katz's Delicatessen serves as the final receptor in the electron transport chain.<br>

<div style="text-align: center;">
    <b>Important E-W Streets:</b><br>
    135th St<br>
    125th St<br>
    116th St<br>
    110th St<br>
    97th St<br>
    81st St -> 79th St<br>
    66th St -> 65th St<br>
    59th St<br>
    50th St<br>
    42nd St<br>
    34th St<br>
    23rd St<br>
    14th St<br>
    10th St<br>
    Leroy Av -> 4th St<br>
    Houston St<br>
    Spring St -> Williamsburg Bridge<br>
    Canal St -> Madison St<br>
    Chambers St -> South Street Viaduct<br>
</div>

<div style="text-align: center;">
    <b>Important N-S Streets:</b><br>
    Hudson River Greenway<br>
    8th Ave -> Central Park West -> Frederick Douglass Blvd<br>
    W Broadway -> 5th Ave<br>
    Bowery -> 3rd Ave<br>
    Chrystie St -> 2nd Ave<br>
    Allen St -> 1st Ave<br>
    Montgomery St<br>
</div>

{% endblock %}
