{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }
    video {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
</style>

Blueno is using his Pisot powers to approximate Blueno posts as best he can.<br><br>How can you stop Blueno's internet takeover?
{: .flavor}



<img src="{% static 'puzzle_resources/dear-blueno-meta/attempts.jpg' %}">

<br><br>

<video controls>
    <source src="{% static 'puzzle_resources/dear-blueno-meta/examples.mp4' %}" type="video/mp4">
</video>

<div style="text-align: center;">
Space Piracy - 3<br>
Topological Tic-Tac-Toe With Branch Cuts - 0<br>
Tetris Puzzle - 1<br>
Space Piracy - 7<br>
Bars - 1<br>
Tetris Puzzle - 3<br>
Topological Tic-Tac-Toe With Branch Cuts - 4<br>
Bars - 8<br>
Tetris Puzzle - 6<br>
Word Processor - 4<br>
Word Processor - 8<br>
Bars - 2<br>
Space Piracy - 6
</div>

{% endblock %}
