{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

Blueno is using his powers to make Dear Blueno posts.<br><br>How can you stop Blueno's internet takeover?
{: .flavor}

NOTE FOR TESTSOLVERS: This puzzle is *not yet uploaded to the website*. Meta will be able to give you the response to any inputs you want.

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/dear-blueno-meta/examples.png' %}">

PUZZLE 3 - 3<br>
PUZZLE 5 - 0<br>
PUZZLE 4 - 1<br>
PUZZLE 3 - 7<br>
PUZZLE 2 - 1<br>
PUZZLE 4 - 3<br>
PUZZLE 5 - 4<br>
PUZZLE 2 - 8<br>
PUZZLE 4 - 6<br>
PUZZLE 1 - 4<br>
PUZZLE 1 - 8<br>
PUZZLE 2 - 2<br>
PUZZLE 3 - 6

{% endblock %}
