{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }
    video {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
</style>

<div class="notice">
    Notice for solvers: the long id numbers are random and should be ignored.
</div>
<br>
Blueno is using his Pisot powers to approximate Blueno posts as best he can.<br><br>How can you stop Blueno's internet takeover?
{: .flavor}

<img src="{% static 'puzzle_resources/dear-blueno-meta/laptop blueno.png' %}">

<br><br>

<video controls>
    <source src="{% static 'puzzle_resources/dear-blueno-meta/examples.mp4' %}" type="video/mp4">
</video>

<div style="text-align: center;">
Topological Tic-Tac-Toe With Branch Cuts and Gluing - 3<br>
Modern Tetris - 0<br>
Space Piracy - 1<br>
Topological Tic-Tac-Toe With Branch Cuts and Gluing - 7<br>
Word Processor - 1<br>
Space Piracy - 3<br>
Modern Tetris - 4<br>
Word Processor - 8<br>
Space Piracy - 6<br>
Musical Cryptogram - 4<br>
Musical Cryptogram - 8<br>
Word Processor - 2<br>
Topological Tic-Tac-Toe With Branch Cuts and Gluing - 6
</div>

{% endblock %}
