{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

Computer-generated manga is getting better and better, but it's still having some trouble mixing up numbers and letters...
{: .flavor}

<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/1.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/2.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/3.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/4.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/5.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/6.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/7.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/8.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/9.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/10.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/11.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/12.png' %})
</div>
<div class="image" markdown="1">
    ![]({% static 'puzzle_resources/dittoless-impostors/13.png' %})
</div>

{% endblock %}
