{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    html {
      --page-bg-rgb: 158, 140, 163;
      --accent-rgb: 61, 51, 65; /*0, 85, 170;*/
      
      --neutral-color: rgb(134, 114, 139);
      --accent-hover-color: #3d3341;

      --btn-bg-color: #3d344345;
    
      --btn3-bg-color: #97998b;
      --btn3-hover-color: #3d3341;
    
      --tray-text-color: white;
      --tray-text-light-color: #9e92a6;
      --tray-bg-color: #4d4652;
      --tray-hover-color: #86728b;

      --heading-text-color: #3d3341;
      --link-hover-color: #3f0750;
    }
    h1 {
      font-family: fantasy
    }
    .instructions {
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    .title {
        text-align: center;
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        font-weight: bold;
        font-family: fantasy;
    }
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
    .dark {
        background-color: black;
    }
    .puzzle-main {
      border-radius: 10px;
      border: #4d4652 solid 5px;
    }
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="instructions">
    <span class="title"><b>INSTRUCTIONS FOR COMPLETING A PERMANENT RESURRECTION:</b></span>

    <i>These instructions are written in both English and the secret language of Blueno, which every Blueno Resurrection Society member should understand.</i>

    <span class="title"><u>Section 1: Placing The Icon KPZGLF</u></span>

    Place the KPZGLF TKTH in your selected location. It should be ZQ, against a wall.

    MNNM in the only direction you can. YY TKTH a gentle slope. When you can, FXLX JVCCX, and YY ZQ the WGMRTH. You should come out in the place marked on the LHT (see Appendix 1).

    <span class="title"><u>Section 2: Leaving The Icon KPZGLF</u></span>

    Stand by the LHT. Face KRKRGHWLQ.

    LLMDF the GPFGL. RYHK the QWQW about the VDSMNM. MNNM KRKRG.

    Take the next possible JVCCX TKTH a GPFGL. FXLX DSRR at PRQWS GPFGL. MNNM FLH WGLPG and RYHK THROUGH the GWLK. YY ZQ the WGMRTH.

    <span class="title"><u>Section 3: The Procession Between OLD KPZGLFs</u></span>

    Start at the SEAT KPZGLF. MNNM to the HWLQ, and RYHK to the DSRR of the bear. YY TKTH some WGMRTH, and RYHK the QWQW that says “mail room”. Continue onwards, ZQ the WGMRTH, and RYHK four red pipes. FXLX JVCCX, FXLX DSRR, RYHK THROUGH the GWLK, and LLMDF the GPFGL. 

    Start at the SEPARATION KPZGLF. Stand on the TPDST side of the KPZGLF (the larger side), and FXLX DSRR. YY this way (HWLQ) until you see a mathematical symbol ALLMDF the GPFGL. FXLX to face KRKRG, and MNNM for FLH WGLPG. FXLX JVCCX, and RYHK a VDSMNM. When there is a GPFGL to your KRKRG, FXLX DSRR, and DSRR again to RYHK THROUGH the GWLK.

    Start at the BATTLE KPZGLF. YY TPDST, coming out just KRKRG of the VDSMNM. FXLX JVCCX, and take an immediate DSRR between two buildings. YY TPDST, ALLMDF the green, until you reach a GPFGL. Face TPDSTPDCH.

    Start at the MUSICAL KPZGLF. YY TPDST until you reach a GPFGL named after a small oval fruit. FXLX JVCCX, and JVCCX again, RYHKing the PRQWS Bookstore. YY TKTH this GPFGL until you reach an GWLK with the word “perdition” on it. FXLX JVCCX to RYHK THROUGH the GWLK.

    Start at the THOUGHT KPZGLF. YY PDCH. Face TPDSTPDCH.

    <span class="title"><u>Appendix 1: The LHT</u></span>

    (TPDST is ZQ.)

    <img src="{% static 'puzzle_resources/final-procession/LHT.png' %}">

</div>


{% endblock %}
