{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

The IRS has recently uncovered a massive fraud ring, and we believe we are close to identifying their leader. We have narrowed our list of suspects to 1200, and we are confident we have identified one of the leader's close contacts along with some information about their trusted inner circle. You will find all that we know outlined in the debrief below, including a series of <a href="https://drive.google.com/drive/folders/1V_fBscGWziDAfvsXMn-KOrwpUXSkybET?usp=sharing"></a>biographical and financial documents</a> we have recently compiled.

<b>Person of Interest: Henry Bascombe</b>

We believe that the inner circle comprises 4 individuals in addition to Bascombe: his wife, neighbor, coworker, and childhood friend. Any one of them could be the leader.

The leader has been funneling their expenses through a fraudulent shell company to evade the IRS. If we are able to identify how much money the leader spent last year, we should be able to find the fraudulent company using its State File Number. I don't have to remind you of the importance of this task, agent. Remember, this shell company is real.

First find the leader, then find their company. 

We can also give you the following intel about the inner circle:

<ul>
    <li>The person who likes lacrosse has been arrested one fewer time than the person who likes handball.</li>
    <li>The person who eats chopped cheese keeps a camel.</li>
    <li>Nobody has been arrested the same number of times.</li>
    <li>The person who likes running track eats quesadillas.</li>
    <li>The person who has been arrested 3 times drinks Prime.</li>
    <li>The person who eats grilled cheese has been arrested either once more or once fewer than the person who owns an ostrich.</li>
    <li>The person who eats jelly beans drinks seltzer water.</li>
    <li>The person who keeps a turtle has been arrested either once more or once fewer than the person who likes quesadillas.</li>
    <li>The person who likes Terminator eats salad.</li>
    <li>Everybody has been arrested at least once, but nobody has been arrested more than five times.</li>
    <li>The person who likes Dr. Strangelove has been arrested either once more or once fewer than the person who likes archery.</li>
    <li>The person who likes grilled cheese has been arrested either once more or once fewer than the person who drinks tea.</li>
    <li>The person who owns a horse is the leader.</li>
</ul>

Good luck, agent.

{% endblock %}
