{% extends "puzzle.html" %}
{% block puzzle-body-md %}

Whoopsie! That didn't come out right.
{: .flavor}

<style>
    .parent {
        border: 0px;
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
}
    .child {
        display: inline-block;
        border: 0px;
        padding: 1rem 1rem;
        vertical-align: middle;
    }
</style>

<div class='parent'>
    <div class='child'>
        <ol>
            <li>You know, when I campaigned here in 2000, I said, I want to be the war president.</li>
            <li>Well, I think if you say you're going to do something and don't do it, that's insurance.</li>
            <li>More seldom than not, the movies gives us exquisite sex and wholesome company, that underscores our values.</li>
            <li>I just want you to know that, when we talk about war, that's really talking about peace.</li>
            <li>Too many good docs are getting out of the business. Too many OB-GYNs aren't able to practice their love on women all across this country.</li>
            <li>Make your pie higher!</li>
            <li>Our enemies are innovative and resourceful, and so are we. They never stop thinking about new ways to harm our side and our people, and neither do we.</li>
        </ol>
        <br><br>\_ \_ \_ \_ \_ \_ \_ \_ \_ \_
    </div>
    <div class='child'>
        <ol>
            <li>And there is distrust in DC. I am surprised, frankly, at the amount of distrust that exists in this town. And I'm sorry it's the case, and I'll work hard to try to elevate it.</li>
            <li>I don't need to explain—I do not need to explain why I say things. That's the interesting thing about being comic.</li>
            <li>“There's an old saying in Tennessee—I know it's in Texas, and in Tennessee—that says, fool me once, shame on—shame on you. Fool me—you can't get fooled again.”</li>
            <li>I think we agree, the video is over.</li>
            <li>I couldn't imagine somebody like Osama bin Laden understanding the joy of games.</li>
            <li>We spent a lot of time talking with Africa, as we should. Africa is a nation that suffers from incredible disease.</li>
            <li>See, in my line of work you got to keep repeating things over and over and over again for the subtitle to sink in, to kind of catapult the propaganda.</li>
            <li>My pro-life position is I believe there's life. It's not necessarily based in gods. I think there's a life there, therefore the notion of life, liberty and pursuit of happiness.</li>
            <li>I'm looking forward to a good night's sleep among the soil of a friend.</li>
            <li>They misunderestimated us.</li>
        </ol>
        <br><br>\_ \_ \_ \_ \_ \_ \_ \_ \_
    </div>
</div>

{% endblock %}