{% extends "puzzle.html" %}
{% block puzzle-body-md %}

Whoopsie! That didn't come out right.
{: .flavor}

<ol>
    <li>Well, I think if you say you're going to do something and don't do it, that's final.</li>
    <li>You teach a child to read, and he or her will be able to pass a civil test.</li>
    <li>I think we agree, the conflict is over.</li>
    <li>I'll be long gone before some smart person ever figures out what happened within this Oval Office.</li>
    <li>I'm the decider, and I decide what is best. And what's best is for Roman Rumsfeld to remain as the secretary of defense.</li>
    <li>Our enemies are innovative and resourceful, and so are we. They never stop thinking about new ways to harm our republic and our people, and neither do we.</li>
    <li>See, in my line of work you got to keep repeating things over and over and over again for the truth to sink in, eventually kind of catapult the propaganda.</li>
    <li>Rarely is the question asked: Is our children leading?</li>
    <li>We spent a lot of time talking to Africa, as we should. Africa is a nation that suffers from incredible disease.</li>
    <li>I just want you to know that, when we talk about annexation, we're really talking about peace.</li>
    <li>Too many good docs are getting out of the business. Too many OB-GYNs aren't able to practice their love of women all across this country.</li>
    <li>I couldn't imagine somebody like Osama bin Laden understanding the joy of Egypt.</li>
</ol>

{% endblock %}