{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 50%;
    }
</style>

https://jstris.jezevec10.com/replay/????????
{: .flavor}

<a href="https://docs.google.com/spreadsheets/d/1rtbokyUpFQAJIlsK_K6BqNT-Ej4RvnKi6XbtzhW6cDo/edit?usp=sharing">Link to spreadsheet version of this puzzle.</a>
<br><br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris1.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris2.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris3.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris4.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris5.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris6.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris7.png' %}">
<br>
<img src="{% static 'puzzle_resources/modern-tetris/tetris8.png' %}">

{% endblock %}
