{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
</style>

I'll write you some notes - each one is a letter -<br>
To tell you that there's simply nothing that's better<br>
Than playing the organ — but don't play 'til you drop;<br>
It's very important that you know when to stop.<br>
{: .flavor}

This piece was written specifically for the <a href="https://www.brown.edu/campus-life/spiritual-life/chaplains/places-pray-gather-meet/about-sayles-hall-hutchings-votey-1903-organ">Hutchings-Votey Organ in Sayles Hall</a>. Please do not try playing it on any other organ, as you may not obtain the correct result.

<a href="https://drive.google.com/file/d/1JIi34-qBoG5MzIvZIRwSJhDnC1cNF0Ev/view?usp=sharing">Link to this puzzle's contents.</a>



{% endblock %}
