{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
</style>

I'll write you some notes - each one is a letter -<br>
To tell you that there's simply nothing that's better<br>
Than playing the organ — but don't play 'til you drop;<br>
It's very important that you know where to stop.<br>
{: .flavor}

<img src="{% static 'puzzle_resources/musical-cryptogram/musicsheet.png' %}">

{% endblock %}
