{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<style>
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="notice">
    Notice for off-site solvers: this is the beginning of the final runaround sequence. If you are fully remote and have nobody on-site, that means you have experienced everything Brown Puzzlehunt has to offer you. Congratulations! You have defeated all three aspects of Blueno!<br><br>
    If you're an on-site team, though, then there's still more to do. Blueno must be found.
</div>
<br>

We don't have much time.

You've defeated all the aspects of Blueno, which has slowed his manifestation. But the Blueno Resurrection Society still has a 
final trick up their sleeve. If they can manage to complete a final, unearthly procession around campus, then the gateway will 
be opened, and Blueno will descend upon Brown University.

Thankfully, there's a way to stop it. Like all rituals, this procession relies on an anchor... an icon representing Blueno's power 
hidden somewhere on campus. If you can find where they've put it, and steal it from its location, the ritual will go sideways, 
destroying the Resurrection Society once and for all in the process.

But I don't know where it is. The icon is hidden at the start of the first leg of the procession. They've just gone to their 
temporary headquarters to prepare for the final part. If you can gatecrash their party and ask for the ritual requirements, 
you might be able to work out where this icon is.

You will need two things to convince them to give you the ritual requirements, otherwise they'll turn you away at the door:

<ol>
    <li>A forged invitation from the Blueno Resurrection Society to the Final Resurrection. All true BRS members will have one of these. It should have their logo, it should detail who you are and why you're invited, and it should look the part. It has to be convincing!</li>
    <li>The proper attire. You gotta look the part as well.</li>
</ol>

Let's stop this madness once and for all.

- PLACEHOLDER REBEL GROUP NAME

{% endblock %}
