{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="notice">
    This puzzle contains some references to profane language.
</div>

Bartender? I need a drink.
{: .flavor}

A. "So if you could just write me my check for ten percent of a half a million... five grand... I'll go out and mingle." (3)

B. "I love you, honeybunny." (1)

C. "You plan to break into the world's largest bank... but not to steal anything." (4)

D. "It's not my favorite. Thank you." (4)

E. "I heard. It was neck and neck, and then she skipped lunch." (2) 

F. "Honey, that line's older than you are." (4, lemon-flavored) 

G. "You were right! Who would've thought the Daily Double would be a smart bet?" (4) 

H. "Put up a whole row of them, Sacha ... starting here, and ending here." (4) 

I. "Because I'm aware what tremendous feats human beings are capable of once they abandon dignity." (1) 

<img src="{% static 'puzzle_resources/quaky-quotes/new-table.png' %}">

{% endblock %}
