{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }
</style>

"So if you could just write me my check for ten percent of a half a million... five grand... I'll go out and mingle."
"Where did my life go, Penny?"
"You plan to break into the world's largest bank... but not to steal anything."
"It's not my favorite. Thank you."
"We'll have the lobster. It's decorated with truffles and fine herbs."
"Honey, that line's older than you are."
"You were right! Who would've thought the Daily Double would be a smart bet?"
"Put up a whole row of them sacha... starting here, and ending here."
"Because I'm aware what tremendous feats human beings are capable of once they abandon dignity."
"I love you, honeybunny."

<img src="{% static 'puzzle_resources/quaky-quotes/blanks.png' %}">

{% endblock %}
