{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<style>
  #output {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html {
    background-color: #191919;
  }

  .puzzle-main {
    background-color: #191919;
  } 

  h1, footer, footer a {
    color: cadetblue;
  }

  form {
    display: flex;
  }

  input[type="text"] {
    background-color: #272727;
    color: white;
    margin: 10px;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: aliceblue;
    margin-top: 10px;
  }

  footer a:hover {
    color: white;
  }


  .content {
    font-family: 'Consolas';
    /* color: goldenrod; */
    color: cadetblue;
}
</style>



To hack the space station, you'll need more fingers than the average astronaut and familiarity with the crew's favorite functions.  

<form id="space-piracy-form" autocomplete="off" action="javascript:void(0);">
    {# Adding the csrf_token tag is sort of a hack, because we don't care about having an <input> tag with the token; we just care about having the cookie. #}
    {% csrf_token %}
    <input type="text" name="guess" id="guess" placeholder="ENTER NUMBER HERE" oninput="this.value = this.value.toUpperCase();">
    <input type="submit" value="Guess!">
</form>
<div id="output"><i>Type a number in the field above and submit to make a guess.</i></div>

<script type="text/javascript">
// This demo code uses jQuery and modern JavaScript features flagrantly.
// You should evaluate your own needs.
document.addEventListener('DOMContentLoaded', () => {
    async function submit() {
        $('#output').empty()
        $('#output').css('color', 'cadetblue');

        $('#guess').prop("disabled", true);
        $('#submit').prop("disabled", true);

        let csrftoken = getCookie('csrftoken');
        try {
            let result = await fetch("/puzzle/space-piracy/submit", {
                method: 'POST',
                body: JSON.stringify({
                    guess: $('#guess').val(),
                }),
                headers: { "X-CSRFToken": csrftoken },
            });
            if (!result.ok) {
                // HTTP response code was not 2xx. Maybe introspect more...
                $('#output').text(`Error: ${result.status} ${result.statusText}`);
            } else {
                let res = await result.json();
                if (res.error) {
                    $('#output').text(`Error: ${res.error}`);
                    $('#output').css('color', '#ae7575');
                } else {
                    $('#output').append(`<table id="table"></table>`);

                    $('#table').append(`<tr id="tr-${0}" style="color: white;"></tr>`);
                    $(`#tr-${0}`).append(`<td></td>`);
                    $(`#tr-${0}`).append(`<td><b>Errors/Warnings</b></td>`);
                    $(`#tr-${0}`).append(`<td><b>Results</b></td>`);
                    
                    for (let i = 0; i < res.table.length; i++) {
                      const result = res.table[i].response_text;
                      const overlap = res.table[i].overlap;
                      const style = res.table[i].response_text.includes("No errors") ? "color: white;" : ""
                      //const idx = res.table[i].index; 
                      $('#table').append(`<tr id="tr-${i+1}"></tr>`);
                      //$('#output').append(`<p>${i}: <b>${result}</b> (${overlap})</p>`);
                      $(`#tr-${i+1}`).append(`<td style="color: white; text-align: center;">${i}</td>`);
                      $(`#tr-${i+1}`).append(`<td style="${style}">${result}</td>`);
                      $(`#tr-${i+1}`).append(`<td>${overlap}</td>`);
                    }
                    
                }
            }
        } catch (e) {
            // This error handling will be very poor.
            $('#output').text(`Error: ${e}`);
            $('#output').css('color', '#ae7575');
        }
        // calls you might make: .val(""), .select(), .focus()
        $('#guess').prop("disabled", false);
        $('#submit').prop("disabled", false);
    }

    // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#space-piracy-form').on('submit', submit);
});
</script>

{% endblock %}