{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
    .puzzle {
        text-align: center;
    }
</style>

<img src="{% static 'puzzle_resources/squared-away/pieces.png' %}">

<div class="puzzle">
    <b>Clues (in numerical order)</b>
    <table>
        <tr>
            <td>Across</td>
            <td>Down</td>

        </tr>
        <tr>
            <td>Stale</td>
            <td>Belongs to us</td>

        </tr>
        <tr>
            <td>High quality product</td>
            <td>Guitar part</td>

        </tr>
        <tr>
            <td>Largest university in the state</td>
            <td>Height of the new grid</td>

        </tr>
        <tr>
            <td>Famous Russian haemophiliac</td>
            <td>Prophetic cards (allegedly)</td>

        </tr>
        <tr>
            <td>Speed up an engine</td>
            <td>Bullfighting cheer</td>

        </tr>
        <tr>
            <td>Entertain with stories</td>
            <td>Bellerophon's steed</td>

        </tr>
        <tr>
            <td>Shorthand writer (abbr.)</td>
            <td>Extoll the virtues of</td>

        </tr>
        <tr>
            <td>___ for one</td>
            <td>Silly person</td>

        </tr>
        <tr>
            <td>Someone out of this world</td>
            <td>A random number generator</td>

        </tr>
        <tr>
            <td>Swine holder</td>
            <td><i>Twilight</i> sequel</td>

        </tr>
        <tr>
            <td>A needle pulling thread?</td>
            <td>Thrush, in old medical slang</td>

        </tr>
        <tr>
            <td>Greek N</td>
            <td>Two under par</td>

        </tr>
        <tr>
            <td>Famous television receptionist</td>
            <td>Wanting</td>

        </tr>
        <tr>
            <td>Common carboxylic acid derivation</td>
            <td>Viral pod?</td>

        </tr>
        <tr>
            <td>Stone's <i>Left, Leavin', Goin' ______</i></td>
            <td>Dutch cheese</td>

        </tr>
        <tr>
            <td>You should beware one in March</td>
            <td>Communists, in slang</td>

        </tr>
        <tr>
            <td>Mud, when used in balneotherapy</td>
            <td>Choose</td>

        </tr>
        <tr>
            <td>Someone you might play catch with</td>
            <td>Something that's picked</td>
        </tr>
        <tr>
            <td>Width of the new grid</td>
            <td></td>
        </tr>
        <tr>
            <td>Ambulance operators</td>
            <td></td>
        </tr>
    </table>


</div>


{% endblock %}
