{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        height: 150px;
        margin: 2px;
    }
    .puzzle {
        text-align: center;
    }
</style>

Ladies and gentlemen, friends and alumni, presenting an organization that is a little puzzled at the best of times, it's the Brown University “what do you mean, short flavortext?” BANNNDDDDDDDDDDD!<br><br>Here at this listless, lazy enterprise, we play a little letter game to keep us from falling over. Don't make any mistakes.
{: .flavor}

<div class="puzzle">

CATEGORY 1: A?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a1.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/b1.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c1.jpeg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d1.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/e1.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/f1.jpg' %}">

<br><br>CATEGORY 2: C?????<br>

<img style="height: 100px;" src="{% static 'puzzle_resources/the-abcs/a2.jpg' %}">
<img style="height: 100px;" src="{% static 'puzzle_resources/the-abcs/b2.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c2.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d2.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/e2.jpeg' %}">
<img src="{% static 'puzzle_resources/the-abcs/f2.jpg' %}">

<br><br>CATEGORY 3: L?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a3.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/b3.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c3.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d3.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/e3.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/f3.png' %}">

<br><br>CATEGORY 4: M?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a4.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/b4.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c4.jpeg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d4.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/e4.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/f4.png' %}">

<br><br>CATEGORY 5: P?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a5.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/b5.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/c5.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/d5.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/e5.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/f5.png' %}">

<br><br>CATEGORY 6: Q?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a6.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/b6.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c6.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d6.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/e6.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/f6.png' %}">

<br><br>CATEGORY 7: S?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a7.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/b7.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/c7.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/d7.png' %}">
<img style="height: 50px;" src="{% static 'puzzle_resources/the-abcs/e7.png' %}">
<img src="{% static 'puzzle_resources/the-abcs/f7.png' %}">

<br><br>CATEGORY 8: S?????<br>

<img src="{% static 'puzzle_resources/the-abcs/a8.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/b8.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/c8.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/d8.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/e8.jpg' %}">
<img src="{% static 'puzzle_resources/the-abcs/f8.png' %}">

</div>

{% endblock %}
