{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<style>
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="notice">
    Notice for off-site solvers: this is a physical puzzle that requires collecting an object from HQ, and is not accessible to remote solvers. Sorry!
</div>
<div class="notice">
    Notice for on-site solvers: this puzzle is fiddly at times. We recommend being gentle and careful with it. If something clearly breaks, please email us at puzzle@brown.edu and we will send someone to help you out as soon as we can.
</div>
<br>
If you are in-person, please Contact HQ when you're ready to achieve the impossible.
{: .flavor}

{% endblock %}
