{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

The Lamp splits light rays into their component parts.<br><br>How can you stop Blueno's light?
{: .flavor}

FIXME puzzle name associations

<table style="display: block; margin-left: auto; margin-right: auto;">
    <tr>
        <td>Abel's Hip Bone</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism3.png' %}"></td>
    </tr>
    <tr>
        <td>Ditto-less Impostors</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism1.png' %}"></td>
    </tr>
    <tr>
        <td>The Impossible Run</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism5.png' %}"></td>
    </tr>
    <tr>
        <td>Quaky Quotes</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism4.png' %}"></td>
    </tr>
    <tr>
        <td>Reptiles All The Way Down</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism6.png' %}"></td>
    </tr>
    <tr>
        <td>Sacrifices Must Be Made</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism2.png' %}"></td>
    </tr>
</table>

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/the-lamp/boxes.png' %}">

{% endblock %}
