{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<style>
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
</style>

<div class="notice">
    Notice for solvers: this is a physical puzzle that requires collecting an object from HQ, and is not accessible to remote solvers.
</div>

Visit HQ and tell them that you're ready to achieve the impossible. Be prepared to tell them what team you're from.
{: .flavor}

To the testsolvers: In this puzzle, solvers are handed a Rubik's cube (which is scrambled randomly right in front of their eyes - mwa ha ha ha) which has letters on the individual face squares.

For more information/simulating the puzzle, talk to Meta.

{% endblock %}
