{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

The Lamp splits light rays into their component parts.<br><br>How can you stop Blueno's light?
{: .flavor}

FIXME puzzle name associations

<table style="display: block; margin-left: auto; margin-right: auto;">
    <tr>
        <td>PUZZLE 1</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism1.png' %}"></td>
    </tr>
    <tr>
        <td>PUZZLE 2</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism2.png' %}"></td>
    </tr>
    <tr>
        <td>PUZZLE 3</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism3.png' %}"></td>
    </tr>
    <tr>
        <td>PUZZLE 4</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism4.png' %}"></td>
    </tr>
    <tr>
        <td>PUZZLE 5</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism5.png' %}"></td>
    </tr>
    <tr>
        <td>PUZZLE 6</td>
        <td><img src="{% static 'puzzle_resources/the-lamp/prism6.png' %}"></td>
    </tr>
</table>

<img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'puzzle_resources/the-lamp/boxes.png' %}">

{% endblock %}
