{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .puzzle {
        text-align: center;
    }
</style>

We play a little letter game to keep us from falling over. Don't make any mistakes.
{: .flavor}

<div class="puzzle">

<b>CATEGORIES:</b><br>
L?????<br>
Q?????<br>
C?????<br>
A?????<br>
M?????<br>
P?????<br>
S?????<br>
S?????<br>
<br><br>
<b>ITEMS:</b>
<table>
    <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
    </tr>
    <tr>
        <td>ACUTE TRIANGLE</td>
        <td>BACK TO THE FUTURE</td>
        <td>CAP OF LIBERTY</td>
        <td>D'ANJOU</td>
        <td>EASTERN HOOLOCK</td>
        <td>ELISABETH FARNESE</td>
    </tr>
    <tr>
        <td>ADAM'S PEARMAIN</td>
        <td>BLACK</td>
        <td>CASS OLE</td>
        <td>DALL'S PORPOISE</td>
        <td>EL PASO, TEXAS</td>
        <td>FAIR MAID OF DEVON</td>
    </tr>
    <tr>
        <td>ANDREWS, OREGON</td>
        <td>BOSTON, MASSACHUSETTS</td>
        <td>CLEOPATRA</td>
        <td>DARAINA SPORTIVE</td>
        <td>ELIZABETH II</td>
        <td>FAT-TAILED DWARF</td>
    </tr>
    <tr>
        <td>ANGEL</td>
        <td>BOUDICA</td>
        <td>CHICAGO, ILLINOIS</td>
        <td>DAWSON'S CREEK</td>
        <td>EMERALD GREEN</td>
        <td>FATAL ATTRACTION</td>
    </tr>
    <tr>
        <td>ANOSY MOUSE</td>
        <td>BRAEBURN</td>
        <td>CIRCLE</td>
        <td>DENVER, COLORADO</td>
        <td>EMPIRE</td>
        <td>FINETOOTH</td>
    </tr>
    <tr>
        <td>APPLEJACK</td>
        <td>BRAEBURN</td>
        <td>COCO</td>
        <td>DERPY</td>
        <td>EPAULETTE</td>
        <td>FLUTTERSHY</td>
    </tr>
    <tr>
        <td>AVATAR</td>
        <td>BUCKYBALL</td>
        <td>COMMON BROWN</td>
        <td>DODECAGON</td>
        <td>ETERNAL SUNSHINE OF THE SPOTLESS MIND</td>
        <td>FORT WORTH, TEXAS</td>
    </tr>
    <tr>
        <td>MARIE ANTOINETTE</td>
        <td>BULL</td>
        <td>COOKIE CUTTER</td>
        <td>JOHN DEACON</td>
        <td>EULER'S CONSTANT</td>
        <td>FSHAPE XXXX</td>
    </tr>
</table>


</div>

{% endblock %}
