{% extends "puzzle.html" %}
{% block puzzle-body-md %}

The Bear is feeling hangry.<br><br> How can you stop Blueno from devouring campus?
{: .flavor}

<style>
    .flavor {
      margin-bottom: 40px;
    }
    h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    tr:first-child {
      border-bottom: 2px solid #dc9a4e;
    }
    tr:nth-child(2) b {
      color: #655f57;
    }
    td {
        text-align: center;
        font-family: "Consolas";
        border-bottom: 1px dashed #dc9a4e;
    }
    td:last-child {
        padding-right: 15px;
    }
    td:first-child {
        padding-left: 15px;
    }

    td b {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    table {
      background: #fff5cc;
      border-radius: 10px;
    }

</style>

<table class="center">
    <tr>
        <td></td>
        <td><b>MENU</b></td>
        <td></td>
    </tr>
    <tr>
        <td><b>Meal</b></td>
        <td><b>Ingredient 1</b></td>
        <td><b>Ingredient 2</b></td>
    </tr>
    <tr>
        <td>?????</td>
        <td>6</td>
        <td>1</td>
    </tr>
    <tr>
        <td>??????</td>
        <td></td>
        <td>5,6</td>
    </tr>
    <tr>
        <td>???????</td>
        <td>1</td>
        <td>5</td>
    </tr>
    <tr>
        <td>????????</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>?????????</td>
        <td>2</td>
        <td>8</td>
    </tr>
    <tr>
        <td>??????????</td>
        <td>2,8</td>
    </tr>
</table>

{% endblock %}
