{% extends "puzzle.html" %}
{% block puzzle-body-md %}

Visit HQ and tell them that you're ready to achieve the impossible. Be prepared to tell them what team you're from.
{: .flavor}

In this puzzle, solvers are handed a Rubik's cube (which is scrambled randomly right in front of their eyes - mwa ha ha ha) which has letters on the individual face squares.

Testsolvers: for more information/simulating the puzzle, talk to Meta. (This puzzle will not be available to offsite solvers.)

{% endblock %}
