{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .large {
        width: 75%;
    }
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }
</style>

You may find <a href="https://drive.google.com/file/d/1pbWFgNAOU6ATDKQcc2ek7cExIacf4_T0/view">this</a> useful.
{: .flavor}

<img class="large" src="{% static 'puzzle_resources/tic-tac-toe/letters.png' %}"><br>
<img src="{% static 'puzzle_resources/tic-tac-toe/grids1.png' %}"><br>
<img src="{% static 'puzzle_resources/tic-tac-toe/grids2.png' %}"><br>
<img src="{% static 'puzzle_resources/tic-tac-toe/grids3.png' %}"><br>
<img src="{% static 'puzzle_resources/tic-tac-toe/grids4.png' %}">

{% endblock %}
