{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .large {
        width: 75%;
    }
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }
</style>

I know that none of you are actually going to buy the textbook, so I decided to save you some time by finding a <a>pirated copy</a> for you.
{: .flavor}

<b>Midterm</b>

The University says we're not failing enough students, so the passing threshold is 80%. Good luck!

<ol>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 1.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 2.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 3.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 4.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 5.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 6.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 7.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 8.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 9.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 10.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 11.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 12.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 13.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 14.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 15.jpg' %}"></li>
    <li><img src="{% static 'puzzle_resources/tic-tac-toe/board 16.jpg' %}"></li>
</ol>

<b>Final</b>

Circle the letter for all answers that are correct, and cross out the letter for the ones that aren't. I know we didn't actually give you any of the questions or answers, but you should be able to complete the test without them. Nobody is going to be there holding your hand when you enter the real world.

<b>Question 1</b>

<img src="{% static 'puzzle_resources/tic-tac-toe/disk.jpg' %}">

d. This one
n. This one
e. This one
j. This one

<b>Question 2</b>

<img src="{% static 'puzzle_resources/tic-tac-toe/disk with two holes.jpg' %}">

a. This one
o. This one
u. This one
s. This one

<b>Question 3</b>

<img src="{% static 'puzzle_resources/tic-tac-toe/cylinder.jpg' %}">

r. This one
i. This one
e. This one
n. This one

<b>Question 4</b>

<img src="{% static 'puzzle_resources/tic-tac-toe/mobius strip.jpg' %}">

a. This one
l. This one
g. This one
d. This one

{% endblock %}
