{% extends "puzzle.html" %}
{% block puzzle-body-md %}
{% load static %}

<!-- Initial attempt at formatting this up - not nearly in a presentable state yet, and also currently spoilers -->

<style>
    td {
      border: 1px solid black;
      margin: 10px;
      text-align: center;
    }
    table {
        margin: 10px;
    }
    </style>

<table cellpadding="4" cellspacing="2" style="margin:auto">
    <tbody><tr style="text-align:center;">
    <td>ffi</td>
    <td>fl</td>
    <td><span style="font-size:87%;">5/m</span></td>
    <td><span style="font-size:87%;">4/m</span></td>
    <td>'</td>
    <td>k
    </td>
    <td rowspan="3" colspan="2">e
    </td>
    <td rowspan="7">
    </td>
    <td>1
    </td>
    <td>2
    </td>
    <td>3
    </td>
    <td>4
    </td>
    <td>5
    </td>
    <td>6
    </td>
    <td>7
    </td>
    <td>8
    </td>
    <td rowspan="7">
    </td>
    <td>$
    </td>
    <td>£
    </td>
    <td>-
    </td>
    <td>Æ
    </td>
    <td>Œ
    </td>
    <td>æ
    </td>
    <td>œ
    </td></tr>
    <tr style="text-align:center;">
    <td>j<br>&nbsp;
    </td>
    <td rowspan="2">b
    </td>
    <td rowspan="2" colspan="2">c
    </td>
    <td rowspan="2" colspan="2">d
    </td>
    <td rowspan="2" colspan="2">i
    </td>
    <td rowspan="2" colspan="2">s
    </td>
    <td rowspan="2">f
    </td>
    <td rowspan="2">g
    </td>
    <td>ff
    </td>
    <td>9
    </td>
    <td>A
    </td>
    <td>B
    </td>
    <td>C
    </td>
    <td>D
    </td>
    <td>E
    </td>
    <td>F
    </td>
    <td>G
    </td></tr>
    <tr style="text-align:center;">
    <td>?
    </td>
    <td>fi
    </td>
    <td>0
    </td>
    <td rowspan="2">H
    </td>
    <td rowspan="2">I
    </td>
    <td rowspan="2">K
    </td>
    <td rowspan="2">L
    </td>
    <td rowspan="2">M
    </td>
    <td rowspan="2">N
    </td>
    <td rowspan="2">O
    </td></tr>
    <tr style="text-align:center;">
    <td>!
    </td>
    <td rowspan="2">l
    </td>
    <td rowspan="2" colspan="2">m
    </td>
    <td rowspan="2" colspan="2">n
    </td>
    <td rowspan="2" colspan="2">h
    </td>
    <td rowspan="2" colspan="2">o
    </td>
    <td rowspan="2">y
    </td>
    <td rowspan="2">p
    </td>
    <td rowspan="2">w
    </td>
    <td rowspan="2">,
    </td>
    <td rowspan="2"><span style="font-size:87%;">en<br>qd</span>
    </td>
    <td rowspan="2"><span style="font-size:87%;">em<br>qd</span>
    </td></tr>
    <tr style="text-align:center;">
    <td>z
    </td>
    <td rowspan="2">P
    </td>
    <td rowspan="2">Q
    </td>
    <td rowspan="2">R
    </td>
    <td rowspan="2">S
    </td>
    <td rowspan="2">T
    </td>
    <td rowspan="2">V
    </td>
    <td rowspan="2">W
    </td></tr>
    <tr style="text-align:center;">
    <td>x
    </td>
    <td rowspan="2">v
    </td>
    <td rowspan="2" colspan="2">u
    </td>
    <td rowspan="2" colspan="2" style="text-align:center;">t
    </td>
    <td rowspan="2" colspan="2"><span style="font-size:87%;">3/em<br>spaces</span>
    </td>
    <td rowspan="2" colspan="2" style="text-align:center;">a
    </td>
    <td rowspan="2" colspan="2" style="text-align:center;">r
    </td>
    <td>;
    </td>
    <td>:
    </td>
    <td rowspan="2" colspan="2"><span style="font-size:87%;">2 &amp; 3-em<br>quads</span>
    </td></tr>
    <tr style="text-align:center;">
    <td>q<br>&nbsp;
    </td>
    <td>.
    </td>
    <td>-
    </td>
    <td>X
    </td>
    <td>Y
    </td>
    <td>Z
    </td>
    <td>J
    </td>
    <td>U
    </td>
    <td>&amp;
    </td>
    <td>ffl
    </td></tr>
</tbody></table>

{% endblock %}
