{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        height: 500px;
    }
</style>

On Spotify, these track numbers can be a way to share songs.
{: .flavor}

<img src="{% static 'puzzle_resources/whos-on-the-decks/img1.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img2.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img3.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img4.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img5.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img6.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img7.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img1.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img9.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img10.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img11.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img12.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img13.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img14.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img15.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img16.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img17.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img18.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img19.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img20.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img21.png' %}"><br>
<img src="{% static 'puzzle_resources/whos-on-the-decks/img22.png' %}">


{% endblock %}
