{% extends "puzzle.html" %}
{% block puzzle-body-md %}

I lost my keys, but I can't remember their type...
{: .flavor}

FIXME: Colourblindness accessibility

Twitter CEO's last name (🔵) = Email button (🔴)
Mary's creature (🟡) = Short-long foot (🔵)
Highest poker pair (🔴) = What Jack Horner pulls out (🔵)
North Pole output? (🟢) = Therefore, Latin (🔵)
Sly like a cartoon coyote (🟢) = A pheasant or turkey (🔴)
Cleanser or TV program (🟡) = Spoken exam (🟢)
Alternate form of artsy (🔴) = Jokes that elicit groans (🟢)
Dragon in Beowulf (🟡) = A concern of pollsters (🔴)
Dating preference (🔵) = Item of cutlery (🟡)
It's pumped in gyms (🔵) = Yiddish snack (🟢)
Anti-mugger spray (🟢) = Cleaning woman (🟡)
Pleased with oneself (🔴) = Dream famously wears one (🟡)

{% endblock %}
