{% extends "puzzle.html" %}
{% block puzzle-body-md %}

I lost my keys, but I can't remember their type...
{: .flavor}

Twitter CEO's last name (🔵) = Email button (⚫)<br>
Mary's creature (🔴) = Short-long foot (🔵)<br>
Highest poker pair (⚫) = What Jack Horner pulls out (🔵)<br>
North Pole output? (🟢) = Therefore, Latin (🔵)<br>
Sly like a cartoon coyote (🟢) = A pheasant or turkey (⚫)<br>
Cleanser or TV program (🔴) = Spoken exam (🟢)<br>
Alternate form of artsy (⚫) = Jokes that elicit groans (🟢)<br>
Dragon in Beowulf (🔴) = A concern of pollsters (⚫)<br>
Dating preference (🔵) = Item of cutlery (🔴)<br>
It's pumped in gyms (🔵) = Yiddish snack (🟢)<br>
Anti-mugger spray (🟢) = Cleaning woman (🔴)<br>
Pleased with oneself (⚫) = Dream famously wears one (🔴)

{% endblock %}
