{% extends "puzzle.html" %}
{% block puzzle-body-md %}

I lost my keys, but I can't remember their type...
{: .flavor}

FIXME: Colourblindness accessibility still doesn't work

Twitter CEO's last name (🔵) = Email button (🔴)<br>
Mary's creature (🟡) = Short-long foot (🔵)<br>
Highest poker pair (🔴) = What Jack Horner pulls out (🔵)<br>
North Pole output? (🟢) = Therefore, Latin (🔵)<br>
Sly like a cartoon coyote (🟢) = A pheasant or turkey (🔴)<br>
Cleanser or TV program (🟡) = Spoken exam (🟢)<br>
Alternate form of artsy (🔴) = Jokes that elicit groans (🟢)<br>
Dragon in Beowulf (🟡) = A concern of pollsters (🔴)<br>
Dating preference (🔵) = Item of cutlery (🟡)<br>
It's pumped in gyms (🔵) = Yiddish snack (🟢)<br>
Anti-mugger spray (🟢) = Cleaning woman (🟡)<br>
Pleased with oneself (🔴) = Dream famously wears one (🟡)

<button class="btn clipboard-button"></button>

<!--
Twitter CEO's last name (BLUE) = Email button (RED)<br>
Mary's creature (YELLOW) = Short-long foot (BLUE)<br>
Highest poker pair (RED) = What Jack Horner pulls out (BLUE)<br>
North Pole output? (GREEN) = Therefore, Latin (BLUE)<br>
Sly like a cartoon coyote (GREEN) = A pheasant or turkey (RED)<br>
Cleanser or TV program (YELLOW) = Spoken exam (GREEN)<br>
Alternate form of artsy (RED) = Jokes that elicit groans (GREEN)<br>
Dragon in Beowulf (YELLOW) = A concern of pollsters (RED)<br>
Dating preference (BLUE) = Item of cutlery (YELLOW)<br>
It's pumped in gyms (BLUE) = Yiddish snack (GREEN)<br>
Anti-mugger spray (GREEN) = Cleaning woman (YELLOW)<br>
Pleased with oneself (RED) = Dream famously wears one (YELLOW)

-->

{% endblock %}
