{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

Once you've solved the puzzle you were given at kickoff, submit the answer here.
{: .flavor}

<style>
    .handout {
        text-align: center;
    }

    img {
        width: 100%;
    }

</style>

At kickoff, teams were told the title of the puzzle, and given jigsaw pieces which they needed to assemble into an image. The image gives similar information to the image below:

<div class="image" markdown="1">
![]({% static 'puzzle_resources/work-together/brackets.png' %})
</div>

Additionally, the first 7 teams which arrived were given pieces of paper with the following pieces of information on them:

<div class="handout">
<b>Slip 1</b><br>
The team whose name comes first alphabetically gets a point.<br><br>

<b>Slip 2</b><br>
The team whose name has a higher scrabble score gets a point. If the two teams have the same scrabble scores, neither of them receive points.<br><br>

Example: LLAMA has a scrabble score of 7.<br><br>

<b>Slip 3</b><br>
The team whose name has a letter repeated the most times gets a point.<br><br>

Pick whichever letter appears most in the word (or any one of them, if there's a tie) and count the number of times that letter appears. If the two teams have the same values, neither of them receive points.<br><br>

Example: LLAMA has a value of 2.<br><br>

<b>Slip 4</b><br>

The team whose name has a substring of Roman numerals with the greatest value gets a point. The substring must be a valid Roman numeral. If the two teams have the same values, neither of them receive points.<br><br>

Example: LLAMA has a value of 50.<br><br>

<b>Slip 5</b><br>

The team whose name has the most vowels gets a point. If the two teams have the same values, neither of them receive points.<br><br>

Example: LLAMA has a value of 2.<br><br>

<b>Slip 6</b><br>

The team whose name has the most consonants gets a point. If the two teams have the same values, neither of them receive points.<br><br>

Example: LLAMA has a value of 3.<br><br>

<b>Slip 7</b><br>

The team whose name is the shortest gets a point. If the two teams have names of the same length, neither of them receive points.<br><br>

</div>

{% endblock %}
