{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
</style>

<img src="{% static 'puzzle_resources/written-in-stone/recaptcha.png' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/1.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/2.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/3.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/4.png' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/5.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/6.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/7.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/8.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/9.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/10.jpg' %}"><br>

{% endblock %}
