{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 100%;
    }
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
        margin-bottom: 20px;
    }
</style>

<div class="notice">
    Notice for off-site solvers: this is a puzzle which uses in-person components (and solving it whilst on-campus is easier), but it should be solvable using Google Maps or similar resources.
</div>

<img src="{% static 'puzzle_resources/written-in-stone/recaptcha.png' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/1.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/2.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/3.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/4.png' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/5.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/6.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/7.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/8.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/9.jpg' %}"><br>
<img src="{% static 'puzzle_resources/written-in-stone/10.jpg' %}"><br>

{% endblock %}
