{% extends "solution.html" %}

{% block puzzle-author %}
Aaron Kirtland
{% endblock %}

{% block solution-body-md %}

<style>
    .title {
        display: block;
        margin: 10px auto;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .notice {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-style: dashed;
        border-width: 3px;
        border-color: black;
    }
    img {
        width: 100%;
    }
    .diagram {
        width: 50%;
    }
</style>

As the title and flavortext (or, if you're viewing this puzzle remotely, the images) suggest, this puzzle refers to a number of diagrams which are in the basement of the Science Library. Each of the minipuzzles refers to one of these diagrams.

<ol>
    <li>Тетрис</li>
</ol>

This clues the Tetris diagram in the SciLi basement. 

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search3.jpg' %}">

There are 8 possible arrangements of tetrominoes which fully fill the shape.

<ol start="2">
    <li>Exploring the Cosmos</li>
</ol>

This uses the spaceship orbit diagram.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search6.jpg' %}">

The spaceship touches 8 orbits as shown in the image below.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/orbitsol.png' %}">

<ol start="3">
    <li>Leaves Always Tell You Something</li>
</ol>

This uses the tree root diagram.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search5.jpg' %}">

Rotating the roots to match the diagram in the SciLi yields the following figure.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/rootsol.png' %}">

Taking the leaf nodes as digits in a binary number yields the number 0011001000001100001010111, or 6559831 in base 10.

<ol start="4">
    <li>The Molecules of Life</li>
</ol>

This puzzle uses the beta chain diagram.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search4.jpg' %}">

The 146 residue hemoglobin sequence is VHLTPEEKSAVTALWGKVNVDEVGGEALGRLLVVYPWTQRFFESFGDLSTPDAVMGNPKVKAHGKKVLGAFSDGLAHLDNLKGTFATLSELHCDKLHVDPENFRLLGNVLVCVLAHHFGKEFTPPVQAAYQKVVAGVANALAHKYH as given by <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/2dn1/protein/2">this link</a> and <a href="https://www.uniprot.org/uniprotkb/P68871/feature-viewer">this link</a>. The trigrams given in the puzzle yield locations along this chain. Teams should count along the chain in the diagram as shown below. There are a couple points of ambiguity, but the general positions of the trigrams are clear enough. Drawing the lines out shows that the shape is a D.

<ol start="5">
    <li>The Fish!</li>
</ol>

This mini puzzle uses the creatures present in the following diagram:

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search1.jpg' %}">

Here is the phylogenic tree of the species in question:

<table>
    <tr>
        <td>K</td>
        <td>Animalia</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>P</td>
        <td>Chordata</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Arthropoda</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Mollusca</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Actinopterygii</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Polychaeta</td>
        <td>Malacostraca</td>
        <td>Malacostraca</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Gastropoda</td>
    </tr>
    <tr>
        <td>O</td>
        <td>Clupeiformes</td>
        <td>Gadiformes</td>
        <td>Trachiniformes</td>
        <td>Pleuronectiformes</td>
        <td>Phyllodocida</td>
        <td>Decapoda</td>
        <td>Decapoda</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Neogastropoda</td>
    </tr>
    <tr>
        <td>F</td>
        <td>Clupeidae</td>
        <td>Gadidae</td>
        <td>Ammodytidae</td>
        <td>Pleuronectidae</td>
        <td>Aphroditidae</td>
        <td>Pandalidae</td>
        <td>Paguridae</td>
        <td>Nephropidae</td>
        <td>Portunidae</td>
        <td></td>
        <td>Corystidae</td>
        <td>Oregoniidae</td>
        <td>Buccinidae</td>
    </tr>
    <tr>
        <td>G</td>
        <td>Clupea</td>
        <td>Merlangius</td>
        <td>Ammodytes</td>
        <td>Limanda</td>
        <td>Aphrodita</td>
        <td>Pandalus</td>
        <td>Pagurus</td>
        <td>Nephrops</td>
        <td>Portunus</td>
        <td></td>
        <td>Corystes</td>
        <td>Hyas</td>
        <td>Buccinum</td>
    </tr>
    <tr>
        <td>S</td>
        <td>C. harengus</td>
        <td>M. merlangus</td>
        <td>A. Lanceolata</td>
        <td>L. limanda</td>
        <td>A. aculeata</td>
        <td>P. montagui</td>
        <td>P. bernhardus</td>
        <td>N. norvegicus</td>
        <td>P. Pustilus</td>
        <td>P. holsatus</td>
        <td>C. cassivelaunus</td>
        <td>H. coarctatus</td>
        <td>B. undatum</td>
    </tr>
</table>

<table>
    <tr>
        <td>Statement #</td>
        <td>Statement</td>
        <td>Eliminates</td>
        <td></td>
    </tr>
    <tr>
        <td>1</td>
        <td>I do NOT want something that is alone in its own phylum.</td>
        <td>B. undatum</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>I do NOT want to eat anything that can fly.</td>
        <td>L. holsatus</td>
        <td>&quot;flying crab&quot;</td>
    </tr>
    <tr>
        <td>3</td>
        <td>I do NOT want to eat anything that burrows into the ground.</td>
        <td>C. cassivelaunus</td>
        <td>a burrowing crab</td>
    </tr>
    <tr>
        <td>4</td>
        <td>I do NOT want to eat anything that eats lots of jellyfish.</td>
        <td>N. norvegicus</td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td>My food should NOT have to scavenge to find its own shell.</td>
        <td>P. bernhardus</td>
        <td>Hermit crab</td>
    </tr>
    <tr>
        <td>6</td>
        <td>I do NOT want to eat things even resembling rodents OR spiders.</td>
        <td>A. aculeata; H. coarctatus</td>
        <td>Sea mouse; looks like the great spider crab</td>
    </tr>
    <tr>
        <td>7</td>
        <td>There should NOT be a gesture with a name similar to my prey&#39;s name.</td>
        <td>L. limanda</td>
        <td>dab</td>
    </tr>
    <tr>
        <td>8</td>
        <td>I do NOT want my prey to be from the class with the most unique orders among what I usually eat.</td>
        <td>C. harengus; M. merlangus; A. Lanceolata; L. limanda</td>
        <td></td>
    </tr>
    <tr>
        <td>9</td>
        <td>I do NOT want my prey to be from the same genus as another creature that I already eliminated.</td>
        <td>P. Pustilus</td>
        <td>Same genus as P. holsatus (sometimes listed as L. hosatus)</td>
    </tr>
</table>

The only leftover creature is "Pandalus montagui".

<ol start="6">
    <li>A Great School</li>
</ol>

Each line clues a historical figure in the school of Athens painting.

<img class="diagram" src="{% static 'puzzle_resources/a-search-in-the-basement/search2.jpg' %}">

<table>
    <tr>
        <td>Fourth came the Egyptian who taught about the One</td>
        <td>Plotinus</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Fifth came he who compiled the ancient treatise on astronomy,</td>
        <td>Ptolemy</td>
        <td>21</td>
    </tr>
    <tr>
        <td>Sixth came he who wrote the Elements,</td>
        <td>Euclid</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Seventh came the cynic, the son of the mintmaster,</td>
        <td>Diogenes of Sinope</td>
        <td>28</td>
    </tr>
    <tr>
        <td>Eighth came she who taught the masses and developed conic sections,</td>
        <td>Hypatia</td>
        <td>31</td>
    </tr>
    <tr>
        <td>Ninth came the hedonist.</td>
        <td>Epicurus</td>
        <td>37</td>
    </tr>
</table>

Searching for the sequence "15,21,23,28,31,37" in OEIS yields sequence A067113, the next number of which is 41.

<ol start="7">
    <li>Putting It Together</li>
</ol>

Applying all of the listed transformations, in order:

<table>
    <tr>
        <td>8</td>
        <td>-5 (A1Z26)</td>
        <td>C</td>
    </tr>
    <tr>
        <td>8</td>
        <td> +3 (A1Z26)</td>
        <td>K</td>
    </tr>
    <tr>
        <td>6559831</td>
        <td>MOD 26 (A1Z26)</td>
        <td>E</td>
    </tr>
    <tr>
        <td>D</td>
        <td>AS GIVEN</td>
        <td>D</td>
    </tr>
    <tr>
        <td>Pandalus montagui</td>
        <td>`(5)</td>
        <td>A</td>
    </tr>
    <tr>
        <td>41</td>
        <td>MOD 3 (A1Z26)</td>
        <td>B</td>
    </tr>
</table>

Which gives us the answers C, K, E, D, A, and B. These are all a kind of <span class="spoiler">VITAMIN</span>, which is our answer.

{% endblock %}
