{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon; with thanks to the Magus of Night
{% endblock %}

{% block solution-body-md %}

<h3>The Setup</h3>

When solvers arrived at the Walk, they were instructed to mill around and discuss amongst themselves. When the group was sufficiently mixed-together, a member of the Church of Darkness brought out the string.

The string was actually two different strings, with glow-in-the-dark tags equally spaced along the length of each. Each tag (still attached to the string) was handed to a member of the crowd, with following instruction: "Once you grab hold of this string, you are not allowed to let go of it again."

Each person in the crowd was given one tag, tangling and mixing up the strings; by the end of this process, the two strings were held by many different people through the group, with both threads interweaving and looping and tangling around people.

At this point, the crowd was then given the following information:

<blockquote>
    There are two different, distinct strings being held by different people in this group. One string has the letter H on both ends. I will be referring to this as the "H-string". One string has the letter A on both ends. I will be referring to this as the "A-string".<br><br>

    The people who are holding the H-string need to arrange themselves into a thirteen-pointed star, with two people standing between any two individuals who are holding adjacent letters. That means that the person who is currently the next one along on your string will end up being three points of the star to your left or right in the final arrangement.<br><br>

    The people who are holding the A-string need to arrange themselves into a fifteen-pointed star, with three people standing between any two individuals who are holding adjacent letters. That means that the person who is currently the next one along on your string will end up being three points of the star to your left or right in the final arrangement.
</blockquote>

Or, to put it another way: the H-string needed to be arranged into a tridecagram with a Schläfli symbol of {13/3}, and the A-string needed to be arranged into a pentadecagram with a Schläfli symbol of {15/4}.

The two strings had the following letters attached to them at equal points along their length, in this order:

H-string: HDPODWEHLOESUH

A-string: ADEISEBEPRUDIBRA

Questions about the process were then answered for a few moments; then the people administering the event stepped back, and watched the chaos unfold.

<h3>The Solution</h3>

Solvers noticed that the strings had an 'extra letter' on both of them; this meant that in order to form the stars, the end tags (which were positioned at the very ends of their strings) should be treated as one letter, and combined to form the loop. (Or: they would both be positioned at the same point on the star, and treated as a single letter.)

Successfully forming the required shapes and reading around the stars in the correct direction gave the following phrases:

<table>
    <thead>
        <tr>
            <th>Star</th>
            <th>Phrase</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>13/3</td>
            <td>HOWDEEPSHOULD</td>
        </tr>
        <tr>
            <td>15/4</td>
            <td>SPIDERSBEBURIED</td>
        </tr>
    </tbody>
</table>

At this point, solvers were also given the enumeration of the answer: (5 4 5). (There was an additional string which would have given this enumeration directly, but the crowd wasn't sufficiently large enough to hand out all three.)

The punchline to the joke gave the answer to the puzzle, <span class="spoiler">EIGHT FEET UNDER</span>.

{% endblock %}