{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Thomas Gordon; with help from Orion Bloomfield
{% endblock %}

{% block solution-body-md %}

Each of the answers in this round clues a statue on Brown that would be very recognisable to students. Each of the anchor names also relates semantically to one of the answers, giving us a nice anchor-to-statue pairing.

<table>
    <tr>
        <td><b>Answer</b></td>
        <td><b>Anchor Name</b></td>
        <td><b>Statue</b></td>
        <td><b>Location</b></td>
    </tr>
    <tr>
        <td>DIVISION</td>
        <td>SEPARATION</td>
        <td>1 1/2</td>
        <td>Sciences Park (outside the Sci-Li)</td>
    </tr>
    <tr>
        <td>ENSEMBLE PIECE</td>
        <td>MUSICAL</td>
        <td>Circle Dance</td>
        <td>The Walk (south)</td>
    </tr>
    <tr>
        <td>LATIN PHILOSOPHER</td>
        <td>THOUGHT</td>
        <td>Marcus Aurelius</td>
        <td>Simmons Quad</td>
    </tr>
    <tr>
        <td>WAR OF ACTIUM</td>
        <td>BATTLE</td>
        <td>Caesar Augustus</td>
        <td>Wriston Quad</td>
    </tr>
    <tr>
        <td>RECLINER</td>
        <td>SEAT</td>
        <td>Three-Piece Reclining Figure No. 2: Bridge Prop</td>
        <td>Main Green</td>
    </tr>
</table>

Now, we simply have to follow the instructions, by drawing "connections" between the statues-slash-anchors. The shape you want to make is a five-pointed pentagram, which results in the connection arrangement listed in the table below. The letter that is taken is indexed into the associated answer for the statue.

<table>
    <tr>
        <td><b>Connection</b></td>
        <td><b>Answer 1</b></td>
        <td><b>Number of X in Statue 1</b></td>
        <td><b>Indexed Letter 1</b></td>
        <td><b>Answer 2</b></td>
        <td><b>Number of X in Statue 2</b></td>
        <td><b>Indexed Letter 2</b></td>
    </tr>
    <tr>
        <td>Ascenders</td>
        <td>ENSEMBLE PIECE</td>
        <td>3 (circle dance)</td>
        <td>S</td>
        <td>WAR OF ACTIUM</td>
        <td>1 (caesar augustus)</td>
        <td>W</td>
    </tr>
    <tr>
        <td>Holes** on the back side***</td>
        <td>WAR OF ACTIUM</td>
        <td>6 (no, really, go check)</td>
        <td>A</td>
        <td>DIVISION</td>
        <td>4</td>
        <td>I</td>
    </tr>
    <tr>
        <td>Arabic Numerals</td>
        <td>DIVISION</td>
        <td>3</td>
        <td>V</td>
        <td>RECLINER</td>
        <td>1</td>
        <td>R</td>
    </tr>
    <tr>
        <td>Legs</td>
        <td>RECLINER</td>
        <td>7 (again, go check)</td>
        <td>E</td>
        <td>LATIN PHILOSOPHER</td>
        <td>6</td>
        <td>P</td>
    </tr>
    <tr>
        <td>People</td>
        <td>LATIN PHILOSOPHER</td>
        <td>1</td>
        <td>L</td>
        <td>ENSEMBLE PIECE</td>
        <td>11</td>
        <td>E</td>
    </tr>
</table>

<img style="width: 75%" src="{% static 'puzzle_resources/bring-back-blueno/pentagramsol.png' %}">

Finally, sorting the letters by their arrangement in the pentagram, and reading clockwise from the top, we get:

<table>
    <tr>
        <td>ENSEMBLE PIECE</td>
        <td>E</td>
    </tr>
    <tr>
        <td>DIVISION</td>
        <td>V</td>
    </tr>
    <tr>
        <td>DIVISION</td>
        <td>I</td>
    </tr>
    <tr>
        <td>LATIN PHILOSOPHER</td>
        <td>L</td>
    </tr>
    <tr>
        <td>LATIN PHILOSOPHER</td>
        <td>P</td>
    </tr>
    <tr>
        <td>WAR OF ACTIUM</td>
        <td>A</td>
    </tr>
    <tr>
        <td>WAR OF ACTIUM</td>
        <td>W</td>
    </tr>
    <tr>
        <td>RECLINER</td>
        <td>E</td>
    </tr>
    <tr>
        <td>RECLINER</td>
        <td>R</td>
    </tr>
    <tr>
        <td>ENSEMBLE PIECE</td>
        <td>S</td>
    </tr>
</table>

Which gives us our answer, <span class="spoiler">EVIL PAWERS</span>.

{% endblock %}

{% block author-notes-html %}

Puzzle constructors who try to be clever should be run out into the streets. Here I am, writing a metapuzzle for an opening round for a hunt, that needs to strike a balance between easy (for new, on-site solvers) and accessible (for remote solvers who couldn't go around poking their fingers through statues). This meta proved to be neither, benefitting only the already-experienced teams who had people on-site.<br><br>

Ah, who am I kidding. I still like this meta. I think it's cute, and it works diegetically within the narrative of the hunt (how often does <i>that</i> happen?), and drawing the pentagram is fun. But it should have cut back on everything else. Lessons for next time.<br><br>

As a little bit of trivia, an original version of this puzzle (which was cut weeks before the hunt for not being remote-accessible enough - yes, really) was reshaped into what eventually became the final runaround.

{% endblock %}
