{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon
{% endblock %}

{% block solution-body-md %}

As the flavortext says, this is a skyscrapers logic puzzle, with some weird looking clues and numbers in the puzzle. 

Our first aha is to realize how this skyscraper variant functions: in addition to giving the number of skyscrapers visible, each clue also gives letters which are 'on top' of those visible skyscrapers. All of these given words are valid Latin words with the numbers being the correct enumeration (word length). This can be figured out from the theming, the flavortext or some specific clues of the puzzle. Another specific giveaway that these are Latin words is the specification of gender, case, and tense in some places.

Our next port of call might be to answer the clues:

<table>
    <tr>
        <td colspan="3">Grid 1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>she (nom. fem. sing.) (2)</td>
        <td>EA</td>
    </tr>
    <tr>
        <td>2</td>
        <td>honey (3)</td>
        <td>MEL</td>
    </tr>
    <tr>
        <td>3</td>
        <td>by which (3)</td>
        <td>QUA</td>
    </tr>
    <tr>
        <td>4</td>
        <td>either (3)</td>
        <td>AUT</td>
    </tr>
    <tr>
        <td>5</td>
        <td>&quot;___! why hast thou forsaken me?&quot; (3)</td>
        <td>ELI</td>
    </tr>
    <tr>
        <td>6</td>
        <td>fifty fifty, in numerals (2)</td>
        <td>LL</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Grid 2</td>
    </tr>
    <tr>
        <td>1</td>
        <td>this (nom. masc. sing.) (3)</td>
        <td>HIC</td>
    </tr>
    <tr>
        <td>2</td>
        <td>in that order (modern abbrv.) (2)</td>
        <td>IO</td>
    </tr>
    <tr>
        <td>3</td>
        <td>not (3)</td>
        <td>NON</td>
    </tr>
    <tr>
        <td>4</td>
        <td>pious (nom. fem. sing.) (3)</td>
        <td>PIA</td>
    </tr>
    <tr>
        <td>5</td>
        <td>this (nom. masc. pl.) (2)</td>
        <td>HI</td>
    </tr>
    <tr>
        <td>6</td>
        <td>snow (3)</td>
        <td>NIX</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Grid 3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>&quot;___ pro eo infelicius fictum&quot; (3)</td>
        <td>VIO</td>
    </tr>
    <tr>
        <td>2</td>
        <td>or (giving a choice) (3)</td>
        <td>VEL</td>
    </tr>
    <tr>
        <td>3</td>
        <td>a tenth of a denarius (2)</td>
        <td>AS</td>
    </tr>
    <tr>
        <td>4</td>
        <td>I go (2)</td>
        <td>EO</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Grid 4</td>
    </tr>
    <tr>
        <td>1</td>
        <td>again (prefix) (2)</td>
        <td>RE</td>
    </tr>
    <tr>
        <td>2</td>
        <td>them (masc. acc. pl.) (3)</td>
        <td>EOS</td>
    </tr>
    <tr>
        <td>3</td>
        <td>foot (3)</td>
        <td>PES</td>
    </tr>
    <tr>
        <td>4</td>
        <td>hey! lo! (interjection) (2)</td>
        <td>HO</td>
    </tr>
    <tr>
        <td>5</td>
        <td>you might go (subj.) (3)</td>
        <td>EAS</td>
    </tr>
    <tr>
        <td>6</td>
        <td>this side, this way (3)</td>
        <td>HAC</td>
    </tr>
</table>

Note that some of these words may be not uniquely known; we use checks from the grid to disambiguate between different words.

Similarly, we can take these numbers as clues in a skyscraper puzzle, and solve it to get these 4 grids. However, notably, the numbers alone do not lead to unique skyscraper solutions. The solver must also pay attention to the letters which each observer "sees" on top of each skyscraper (or 'pillar') in order to solve the grids uniquely. Letters are placed such that if a spectator reads from the highest number to the lowest number (in a "top to bottom" grid) or the lowest number to the highest number (in a "bottom to top" grid), then those observed letters will spell the Latin words clued at that position. Not every pillar will have a letter: only those seen by the clues.

With this aha known, each grid is now unique for both Latin clues and Skyscraper numbers. The solutions are below:

<b>Grid 1</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid1sol.png' %}"><br>
<b>Grid 2</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid2sol.png' %}"><br>
<b>Grid 3</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid3sol.png' %}"><br>
<b>Grid 4</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid4sol.png' %}"><br>

Finally, as clued by the flavortext ("only the highest letters can reach the gods above") we extract using all the letters on the pillars marked 4 on each grid. Reading the letters from top to bottom, we get our answer, <span class="spoiler">LATIN PHILOSOPHER</span>.

<b>Grid 1</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid1e.png' %}"><br>
<b>Grid 2</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid2e.png' %}"><br>
<b>Grid 3</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid3e.png' %}"><br>
<b>Grid 4</b>
<img src="{% static 'puzzle_resources/built-in-a-day/grid4e.png' %}"><br>

{% endblock %}

{% block author-notes-html %}

This puzzle was written partially as a joke (which the title alludes to). This may explain why the fill isn't great in places.

I have had a few Latin-adjacent puzzle ideas bouncing around in my head for a while now, and strangely enough, this wasn't one of them. The time between ideation and iterating on drafts was... well.

While I've never seen this genre before, I definitely can't claim to have invented it. Indeed, mixing crossword clues and skyscraper grids has at least one precursor which I found after the hunt: <a href="https://jacoblance.wordpress.com/2014/03/04/puzzle-40-skywriting/">this puzzle</a> by the late luminary Jack Lance, whose puzzles I recommend to anyone reading this.

{% endblock %}
