{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon; with help from Jaclyn Cohen
{% endblock %}

{% block solution-body-md %}

This is a logic puzzle, where you need to identify where butterflies are placed in an ancestral tree. There are eight butterflies to begin with: then those butterflies pair off and have one child per pair, leading to four butterflies in the next generation. Those butterflies pair off, and so on, until only one butterfly remains (butterfly B). The traits that the butterflies have are ordered in some way from dominant to recessive, but that ordering is not given.

Here are some general strategies for solving which butterflies are which can help get you started:
<ul>
    <li>B has the most dominant traits across the board. That means if a butterfly has that trait, then all of its children must have that trait - and because there are no mutations, at least one butterfly in the top row must have the trait.</li>
    <li>You can build some branches of the family tree right off the bat by observing that if a certain trait appears 4 times, including in B, then they must all be in one ancestral chain.</li>
    <li>In general, if you know that a trait appears in the nth generation, and only appears n times across the whole population, then any butterfly with that trait must be in that butterfly's direct ancestral branch.</li>
</ul>

The placement of the butterflies is unique (although the ordering cannot uniquely be determined from the puzzle alone - write fanfiction about it or something). The complete tree is given below:

<img src="{% static 'puzzle_resources/butterfly-evolution-kit/treesol.png' %}">

Time to extract! 

For each trait, add up the number of times it appears in each butterfly (ie the number of Left Wing Cuts on O plus the number of Left Wing Cuts on M plus.... and so on gives you the value for Left Wing Cuts). Then A1Z26 that number (as clued by the Fun Fact) to get letters that spell the answer, <span class="spoiler">GENOME</span>.

<table>
    <tr>
        <td>Butterfly</td>
        <td>Thorax Spots</td>
        <td>Left-Wing Cuts</td>
        <td>Left-Wing Spots</td>
        <td>Abdomen Spots</td>
        <td>Right-Wing Spots</td>
        <td>Right-Wing Cuts</td>
    </tr>
    <tr>
        <td>O</td>
        <td>0</td>
        <td>0</td>
        <td>3</td>
        <td>4</td>
        <td>0</td>
        <td>1</td>
    </tr>
    <tr>
        <td>M</td>
        <td>0</td>
        <td>1</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
    </tr>
    <tr>
        <td>H</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>3</td>
        <td>2</td>
    </tr>
    <tr>
        <td>K</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>F</td>
        <td>1</td>
        <td>0</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>0</td>
    </tr>
    <tr>
        <td>L</td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>4</td>
        <td>2</td>
    </tr>
    <tr>
        <td>E</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
    </tr>
    <tr>
        <td>C</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
    </tr>
    <tr>
        <td>(Total)</td>
        <td>7</td>
        <td>5</td>
        <td>14</td>
        <td>15</td>
        <td>13</td>
        <td>5</td>
    </tr>
    <tr>
        <td>(Letter)</td>
        <td>G</td>
        <td>E</td>
        <td>N</td>
        <td>O</td>
        <td>M</td>
        <td>E</td>
    </tr>
</table>

Puzzle historians may find the internal document for puzzle distribution of curiousity:

<b>WHEN TEAMS COME TO PICK UP THE PUZZLE:</b>
<ul>
    <li>Get them to wait outside. Close the damn door. Make sure they can't see what you're doing.</li>
    <li>Grab a manilla envelope. Check there are butterflies inside. No, you don't have to count them, just double-check there's approximately 15.</li>
    <li>Put a sheet of Kit Instructions and Ancestral Tree into the manilla envelope.</li>
    <li>Repeat: GIVE THEM THE SHEET. DO NOT GIVE THEM THE ENVELOPE WITHOUT PUTTING BOTH THE INSTRUCTIONS AND THE ANCESTRAL TREE INSIDE THE ENVELOPE.</li>
    <li>Give 'em the puzzle and wish 'em luck.</li>
</ul>
<b>IF SOMEONE CONTACTS YOU ABOUT A BROKEN BUTTERFLY:</b>
<ul>
    <li>If they really want a complete set, just make a new one. There should be origami sheets in HQ. And some leftover butterflies.</li>
    <li>(But they should have enough info to solve using just the sheet. ASSUMING YOU GAVE THEM A SHEET.)</li>
</ul>

{% endblock %}

{% block author-notes-html %}

The credit for the original idea for this puzzle goes to Jackie, who said to me in passing, "hey, I have a thousand sheets of origami paper. Do you want to write a puzzle about that?" Everything followed downstream from there.

For nearly two months, I had a bucket of hundreds of large hand-folded origami butterflies sitting by my desk, much to the bemusement of my roommate. The folding was the easy part (because Jackie handled it all - thank you, Jackie!); the hard part was modifying all the butterflies, without mistakes, where each butterfly is distinct. Hundreds of butterflies. Dozens of manila envelopes. Origami paper clippings everywhere. I can still hear the flapping.

I am aware of some teams who skipped the butterfly logic step and simply took every set of possible "top-level" butterflies. For one team, this was probably about twenty minutes quicker than the intended solve path; for another, it slowed them down by at least a few hours.

{% endblock %}
