{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon; with thanks to Nick Bottone
{% endblock %}

{% block solution-body-md %}

<style>
    .post {
        font-family: 'Courier New', Courier, monospace;
    }
</style>

The video demonstrates someone navigating to the site https://www.dearblueno.net/ and searching for a number of strange long strings. Each of these strings brings up a Dear Blueno post which contains a few piece of information: an ID string (which we are instructed to ignore), a single number, and then a decimal between zero and one that is followed by the word "off". Some cursory searching will reveal that these are real posts embedded in the Dear Blueno site!

Examining these numbers might bring up some interesting properties. The first two posts shown in the video, "2" and "3", are off by the same amount (0.3819660113). The amount "off" gets smaller as the post number gets bigger. The sequence of round numbers in the post (2, 3, 4, 7, 11) also has a number of promising sequences that might be related to the puzzle on OEIS, with frequent references to rounding, and exponentials of various numbers. It seems like there's probably an underlying mathematical pattern here.

Turning our attention to the flavortext, these suspicions are supported. The words "Pisot" is highly suggestive, and the reference to "powers" and "approximate" clinches it; this puzzle is about Pisot-Vijayaraghavan numbers! As Wikipedia states, "a characteristic property of PV numbers is that their powers approach integers at an exponential rate". That is, when I raise phi to a power which is larger and larger, it gets closer and closer to being an integer. (This is a very strange property for an irrational number to have!) And, turning our attention to OEIS once again, we might notice that one of the sequences that is brought up is the list of powers of phi (the golden ratio), rounded to the nearest integer. Phi is the most famous Pisot-Vijayaraghavan number, and is featured prominently on the Wikipedia page.

(This is not the only way to arrive at the fact that phi is the important number to this puzzle. Another way to reach this point might be to first realize that each post is a number being raised to a certain power and rounded down (or up), and then notice that when this number - let's call it x - is squared, then x^2 is exactly as close to its nearest integer as x is. Which is to say, x^2 = x + 1... the equation that defines phi.)

(Or we might just subtract 0.3819660113 from 2 and notice that the result is phi.)

So, hooray! We might manually check that this works out; raising phi to the first five powers does indeed give us numbers which match up with the posts shown in the video, barring some rounding errors depending on how accurate your calculator might be. (We used Wolfram-Alpha.) Now it's time to turn our attention to the image; why might the "11 through 15 attempts" be the ones we want to focus on?

The next step we need to take is to search for the integers which are approximated by phi to the powers of 11, 12, 13, 14, and 15. Searching for the amount "off" won't do it; it would be impossible to get the right amount of accuracy because of differences between sources. However, the approximated integers are just long enough to be indexed by Dear Blueno's search algorithm, which means we can pull them up pretty easily. (Searching for any of the other powers of phi, either lesser or greater, won't bring anything up.)

<table>
    <th>
        <td>Power</td>
        <td>Integer</td>
        <td>Content</td>
    </th>
    <tr>
        <td>11</td>
        <td>199</td>
        <td class="post">2 ^ n =<br>DEAR _ _ _ _</td>
    </tr>
    <tr>
        <td>12</td>
        <td>322</td>
        <td class="post">2 ^ n =<br>DEAR _ _ _ _</td>
    </tr>
    <tr>
        <td>13</td>
        <td>521</td>
        <td class="post">2 ^ n =<br>DEAR _ _ _ _</td>
    </tr>
    <tr>
        <td>14</td>
        <td>843</td>
        <td class="post">2 ^ n =<br>DEAR _ _ _ _ _</td>
    </tr>
    <tr>
        <td>15</td>
        <td>1364</td>
        <td class="post">2 ^ n =<br>DEAR _ _ _ _ _</td>
    </tr>
</table>

These posts look different to the other ones. Instead of the amount "off" being listed, we instead get the phrase "2 ^ n =", and then "DEAR" followed by some number of blanks. Okay, what gives?

This new post format (the "successful" approximated posts, if you'd like) might spur you to notice something about the answers in this round. Each of the answers is associated with a phrase that starts with "dear" and is followed by either a four or five letter word:

<table>
    <tr>
        <td>ALICE MUNRO</td>
        <td>DEAR LIFE</td>
    </tr>
    <tr>
        <td>ANDREW MCMAHON</td>
        <td>DEAR JACK</td>
    </tr>
    <tr>
        <td>INTEREST RATE</td>
        <td>DEAR MONEY</td>
    </tr>
    <tr>
        <td>JACK THE RIPPER</td>
        <td>DEAR BOSS</td>
    </tr>
    <tr>
        <td>JOURNAL</td>
        <td>DEAR DIARY</td>
    </tr>
</table>

The structure of these posts also prompts you to look at powers of 2. But what powers of 2 might be relevant for each of these posts? Well, 2 raised to the same power as phi for that post would fit! Indeed, looking at what 2^n equals for each of the posts individually, we might notice that these powers of 2 are also 4 or 5 characters long; and the two that are 5 characters long correspond to the two last posts which have DEAR followed by five blanks. 

This suggests that there is some way to associate each of the DEAR X phrases with these powers of 2. This is where the numbers associated with each of the puzzle titles comes into play. Each of the puzzles is listed alongside a few different numbers. For example, Tic-Tac-Topology 101 is listed next to 3, 7, and 6. And there's only one power of 2 within our relevant range that contains the numbers 3, 7, and 6; 2^15, or 32768. As an additional confirmation, the DEAR X phrase associated with that puzzle's answer has 5 letters in X, which matches the 5 letters in the power of 2.

Associating all of the powers to puzzles:

<table>
    <th>
        <td>Power</td>
        <td>2^n</td>
        <td>Puzzle</td>
        <td>Associated Numbers</td>
        <td>Answer</td>
        <td>Dear X Phrase</td>
    </th>
    <tr>
        <td>11</td>
        <td>2048</td>
        <td>Musical Cryptogram</td>
        <td>4,8</td>
        <td>ANDREW MCMAHON</td>
        <td>JACK</td>
    </tr>
    <tr>
        <td>12</td>
        <td>4096</td>
        <td>Modern Tetris</td>
        <td>0,4</td>
        <td>JACK THE RIPPER</td>
        <td>BOSS</td>
    </tr>
    <tr>
        <td>13</td>
        <td>8192</td>
        <td>Word Processor</td>
        <td>1,8,2</td>
        <td>ALICE MUNRO</td>
        <td>LIFE</td>
    </tr>
    <tr>
        <td>14</td>
        <td>16384</td>
        <td>Space Piracy</td>
        <td>1,3,6</td>
        <td>INTEREST RATE</td>
        <td>MONEY</td>
    </tr>
    <tr>
        <td>15</td>
        <td>32768</td>
        <td>Tic-Tac-Topology 101</td>
        <td>3,7,6</td>
        <td>JOURNAL</td>
        <td>DIARY</td>
    </tr>
</table>

Now we have a one-to-one correspondence between the letters of each word following DEAR in the phrases, and the numbers in the power of 2! (For example, in DEAR JACK, the J is associated with 2, the A is associated with 0, and so on for all of the digits in 2048. By design, there are no repeated numbers in these selected powers of 2.)

So, extracting these letters:

<table>
    <th>
        <td>Puzzle</td>
        <td>Number</td>
        <td>Dear X Word</td>
        <td>Power of 2</td>
        <td>Letter</td>
    </th>
    <tr>
        <td>Tic-Tac-Topology 101</td>
        <td>3</td>
        <td>DIARY</td>
        <td>32768</td>
        <td>D</td>
    </tr>
    <tr>
        <td>Modern Tetris</td>
        <td>0</td>
        <td>BOSS</td>
        <td>4096</td>
        <td>O</td>
    </tr>
    <tr>
        <td>Space Piracy</td>
        <td>1</td>
        <td>MONEY</td>
        <td>16384</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Tic-Tac-Topology 101</td>
        <td>7</td>
        <td>DIARY</td>
        <td>32768</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Word Processor</td>
        <td>1</td>
        <td>LIFE</td>
        <td>8192</td>
        <td>I</td>
    </tr>
    <tr>
        <td>Space Piracy</td>
        <td>3</td>
        <td>MONEY</td>
        <td>16384</td>
        <td>N</td>
    </tr>
    <tr>
        <td>Modern Tetris</td>
        <td>4</td>
        <td>BOSS</td>
        <td>4096</td>
        <td>B</td>
    </tr>
    <tr>
        <td>Word Processor</td>
        <td>8</td>
        <td>LIFE</td>
        <td>8192</td>
        <td>L</td>
    </tr>
    <tr>
        <td>Space Piracy</td>
        <td>6</td>
        <td>MONEY</td>
        <td>16384</td>
        <td>O</td>
    </tr>
    <tr>
        <td>Musical Cryptogram</td>
        <td>4</td>
        <td>JACK</td>
        <td>2048</td>
        <td>C</td>
    </tr>
    <tr>
        <td>Musical Cryptogram</td>
        <td>8</td>
        <td>JACK</td>
        <td>2048</td>
        <td>K</td>
    </tr>
    <tr>
        <td>Word Processor</td>
        <td>2</td>
        <td>LIFE</td>
        <td>8192</td>
        <td>E</td>
    </tr>
    <tr>
        <td>Tic-Tac-Topology 101</td>
        <td>6</td>
        <td>DIARY</td>
        <td>32768</td>
        <td>R</td>
    </tr>
</table>

Which gives us our solution to Blueno's internet takeover: using a <span class="spoiler">DOMAIN BLOCKER</span>.

{% endblock %}

{% block author-notes-html %}

This metapuzzle was a ridiculous juggling act of numerous different constraints, a majority of them technical. Despite everything, I'm pretty proud of how this meta worked out, and by the fact that we were able to embed a puzzle into a live, active database of a social media platform still being actively used today... without too many people noticing. I'll probably post a blog post at some point about all the different interesting things that we ran into trying to make this happen. 

Big thanks to Nick Bottone, the programmer behind Dear Blueno who allowed us to wreak havoc on his platform for a few days!

{% endblock %}