{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Thomas Gordon
{% endblock %}

{% block solution-body-md %}

This is the final runaround of the hunt. As Put Blueno Back Whence He Came notes, a statue of Blueno is hidden somewhere on campus "at the start of the first leg of the procession". Likewise, that puzzle notes that HQ has "gone to their temporary headquarters at Sayles Hall Room 306 to prepare for the final part". We should bear (heh) both of these things in mind as we begin to retrace the Society's steps.

The puzzle is written in a blend of English and some strange secret language, to which we are not provided the keyphrase. However, it seems like we might start to be able to parse what each of these words might function as, purely from context:

<table>
    <tr>
        <th>Secret Word</th>
        <th>Probable Meaning</th>
    </tr>
    <tr>
        <td>ALLMDF</td>
        <td>preposition</td>
    </tr>
    <tr>
        <td>DSRR</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>FLH</td>
        <td>unknown</td>
    </tr>
    <tr>
        <td>FXLX</td>
        <td>verb</td>
    </tr>
    <tr>
        <td>GPFGL</td>
        <td>location</td>
    </tr>
    <tr>
        <td>GWLK</td>
        <td>location</td>
    </tr>
    <tr>
        <td>HWLQ</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>JVCCX</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>KPZGLF</td>
        <td>statue/"anchor"</td>
    </tr>
    <tr>
        <td>KRKRG</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>LHT</td>
        <td>noun</td>
    </tr>
    <tr>
        <td>LLMDF</td>
        <td>verb</td>
    </tr>
    <tr>
        <td>MNNM</td>
        <td>verb</td>
    </tr>
    <tr>
        <td>PDCH</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>PRQWS</td>
        <td>unknwon</td>
    </tr>
    <tr>
        <td>QWQW</td>
        <td>sign/plaque</td>
    </tr>
    <tr>
        <td>RYHK</td>
        <td>verb</td>
    </tr>
    <tr>
        <td>TKTH</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>TPDST</td>
        <td>direction</td>
    </tr>
    <tr>
        <td>VDSMNM</td>
        <td>place</td>
    </tr>
    <tr>
        <td>WGLPG</td>
        <td>unknown</td>
    </tr>
    <tr>
        <td>WGMRTH</td>
        <td>place</td>
    </tr>
    <tr>
        <td>YY</td>
        <td>verb</td>
    </tr>
    <tr>
        <td>ZQ</td>
        <td>direction</td>
    </tr>
</table>

That's probably enough to get started!

We don't seem to have enough information yet to tackle the first two sections or the appendix, so let's look at the third section. Based on the words used here (SEAT, SEPARATION, BATTLE, etc.), this section is referring to the "anchors" which were used in the very first metapuzzle in this hunt: five different statues located around campus. If we go to each of those statues, and follow the instructions (making sure that everything we do also lines up with the English words and phrases in the instructions), what happens?

<table>
    <tr>
        <th>Anchor</th>
        <th>Starting Location</th>
        <th>Route</th>
        <th>Ending Location</th>
    </tr>
    <tr>
        <td>SEAT</td>
        <td>Three-Piece Reclining Figure No. 2: Bridge Prop</td>
        <td>Start at the SEAT ANCHOR. WALK to the EAST, and PASS to the LEFT of the bear. GO DOWN some STAIRS, and PASS the SIGN that says “MAIL ROOM”. Continue onwards, UP the STAIRS, and PASS four red pipes. TURN RIGHT, TURN LEFT, PASS THROUGH the ARCH, and CROSS the STREET.</td>
        <td>1 1/2</td>
    </tr>
    <tr>
        <td>SEPARATION</td>
        <td>1 1/2</td>
        <td>Start at the SEPARATION ANCHOR. Stand on the NORTH side of the ANCHOR (the larger side), and TURN LEFT. GO this way (EAST) until you see a mathematical symbol across the STREET. TURN to face SOUTH, and WALK for ONE BLOCK. TURN RIGHT, and pass a CHURCH. When there is a STREET to your SOUTH, turn LEFT, and LEFT again to PASS THROUGH the ARCH.</td>
        <td>Augustus Caesar</td>
    </tr>
    <tr>
        <td>BATTLE</td>
        <td>Augustus Caesar</td>
        <td>Start at the BATTLE ANCHOR. GO NORTH, coming out just SOUTH of the CHURCH. Turn RIGHT, and take an immediate LEFT between two buildings. GO NORTH, across the green, until you reach a STREET. Face NORTHWEST.</td>
        <td>Circle Dance</td>
    </tr>
    <tr>
        <td>MUSICAL</td>
        <td>Circle Dance</td>
        <td>Start at the MUSICAL ANCHOR. GO NORTH until you reach a STREET named after a small oval fruit. TURN RIGHT, and RIGHT again, passing the BROWN Bookstore. GO DOWN this STREET until you reach an ARCH with the word “PERDITION” on it. TURN RIGHT to PASS THROUGH the ARCH.</td>
        <td>Marcus Aurelius</td>
    </tr>
    <tr>
        <td>THOUGHT</td>
        <td>Marcus Aurelius</td>
        <td>Start at the THOUGHT ANCHOR. GO WEST. Face NORTHWEST.</td>
        <td>Three-Piece Reclining Figure No. 2: Bridge Prop</td>
    </tr>
</table>

The routes lead us between the statues, in order! (You can either guess that this is what the instructions are doing, or work out that this is what each of them do by puzzling out what some of the words are using the partial information that's still in English. The first and second are particularly good to start with.)

This lets us work out what each of the secret words are in English. (As an added confirmation step, each of the secret words is the same number of letters as their English counterparts.)

<table>
    <tr>
        <th>Secret Word</th>
        <th>English Word</th>
    </tr>
    <tr>
        <td>ALLMDF</td>
        <td>ACROSS</td>
    </tr>
    <tr>
        <td>DSRR</td>
        <td>LEFT</td>
    </tr>
    <tr>
        <td>FLH</td>
        <td>ONE</td>
    </tr>
    <tr>
        <td>FXLX</td>
        <td>TURN</td>
    </tr>
    <tr>
        <td>GPFGL</td>
        <td>STREET</td>
    </tr>
    <tr>
        <td>GWLK</td>
        <td>ARCH</td>
    </tr>
    <tr>
        <td>HWLQ</td>
        <td>EAST</td>
    </tr>
    <tr>
        <td>JVCCX</td>
        <td>RIGHT</td>
    </tr>
    <tr>
        <td>KPZGLF</td>
        <td>ANCHOR</td>
    </tr>
    <tr>
        <td>KRKRG</td>
        <td>SOUTH</td>
    </tr>
    <tr>
        <td>LHT</td>
        <td>MAP</td>
    </tr>
    <tr>
        <td>LLMDF</td>
        <td>CROSS</td>
    </tr>
    <tr>
        <td>MNNM</td>
        <td>WALK</td>
    </tr>
    <tr>
        <td>PDCH</td>
        <td>WEST</td>
    </tr>
    <tr>
        <td>PRQWS</td>
        <td>BROWN</td>
    </tr>
    <tr>
        <td>QWQW</td>
        <td>SIGN</td>
    </tr>
    <tr>
        <td>RYHK</td>
        <td>PASS</td>
    </tr>
    <tr>
        <td>TKTH</td>
        <td>DOWN</td>
    </tr>
    <tr>
        <td>TPDST</td>
        <td>NORTH</td>
    </tr>
    <tr>
        <td>VDSMNM</td>
        <td>CHURCH</td>
    </tr>
    <tr>
        <td>WGLPG</td>
        <td>BLOCK</td>
    </tr>
    <tr>
        <td>WGMRTH</td>
        <td>STAIRS</td>
    </tr>
    <tr>
        <td>YY</td>
        <td>GO</td>
    </tr>
    <tr>
        <td>ZQ</td>
        <td>UP</td>
    </tr>
</table>

Now we are equipped to handle the rest of the puzzle.

As Put Blueno Back notes, Blueno was placed at the beginning of the procession; indeed, the start of Section 1 details "Placing The Icon Anchor", including specific instructions about hiding it. So, we need to work out where this set of instructions ends, and then work backwards from that endpoint to find Blueno's location.

Let's assume we start at where the Society ended up; that is, their temporary headquarters of Sayles 306 (and where the team received their copy of this puzzle!) Starting there, and following the instructions in reverse, we need to...

<table>
    <tr>
        <th>Instruction</th>
        <th>Reverse Instruction</th>
    </tr>
    <tr>
        <td>GO UP the STAIRS.</td>
        <td>Go down the stairs, coming out on the Main Green.</td>
    </tr>
    <tr>
        <td>PASS THROUGH the ARCH.</td>
        <td>Head north to pass through the Faunce Archway.</td>
    </tr>
    <tr>
        <td>WALK ONE BLOCK.</td>
        <td>Walk one block north, along Brown Street.</td>
    </tr>
    <tr>
        <td>TURN LEFT at BROWN STREET.</td>
        <td>Turn right, <i>off</i> of Brown Street, onto Angell Street.</td>
    </tr>
    <tr>
        <td>TAKE the next possible RIGHT DOWN a STREET.</td>
        <td>Take a left off of Angell Street, such that you pass a sign about a church before you can make another left turn. The very first left turn works! (IMPORTANT NOTE: during the hunt, the stretch of Olive Street between the northern stretch of The Walk and Brown Street was impassable due to construction.) </td>
    </tr>
    <tr>
        <td>WALK SOUTH.</td>
        <td>Walk north, as you were already doing.</td>
    </tr>
    <tr>
        <td>PASS the SIGN about the CHURCH.</td>
        <td>Pass the sign about the church: which is to say, <a href="https://www.google.com/maps/@41.8290081,-71.4020204,3a,15y,261.63h,73.17t/data=!3m6!1e1!3m4!1s3KGsCmck-xkaIwCqur2W8Q!2e0!7i13312!8i6656">this one</a>. It's much, much more conspicuous in real life!</td>
    </tr>
    <tr>
        <td>Face SOUTHEAST. CROSS the STREET.</td>
        <td>Cross Meeting Street in a northwest direction.</td>
    </tr>
    <tr>
        <td>Stand by the MAP.</td>
        <td>A big, circular, solid map in the ground... like, say, <a href="https://www.google.com/maps/@41.829216,-71.4024932,3a,15y,267.71h,75.31t/data=!3m6!1e1!3m4!1sDyu1nzXI341ENC4oNSNlPw!2e0!7i13312!8i6656">this one</a>?</td>
    </tr>
</table>

We've found the map!

Now it's time to overlay the diagram in the appendix over our map. (Make sure that north is up! Which way was is north, again?) The overlay is very, very precise... you may want to pull out a computer, take a good photo, and resize it in photoshop until the thickness of the rim of the Tribute map lines up exactly with the thickness of the line in the diagram. Or you could just plant your finger somewhere and keep trying doors until one of them works. (Solvers generally went with the second option.)

As it happens, the red circle lines up directly over...

<img class="diagram" src="{% static 'puzzle_resources/final-procession/map-sol.jpg' %}">

The door into the Morris-Champlin tunnel system.

Following the rest of the instructions in order:

<table>
    <thead>
        <tr>
            <th>Instruction</th>
            <th>Reverse Instruction</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>You should come out in the place marked on the MAP (see Appendix 1).</td>
            <td>Enter through the door marked on the map. (It will open to anyone with Brown University swipe access.)</td>
        </tr>
        <tr>
            <td>When you can, TURN RIGHT, and CLIMB the STAIRS.</td>
            <td>Go down the stairs and turn left.</td>
        </tr>
        <tr>
            <td>WALK in the only DIRECTION you can. GO DOWN a gentle slope.</td>
            <td>Climb up the gentle slope and follow the hallway.</td>
        </tr>
        <tr>
            <td>Place the ANCHOR DOWN in your selected location. It should be UP, against a wall.</td>
            <td>Look above you!</td>
        </tr>
    </tbody>
</table>

When you reach the end of the hallway, look up. Above you, on the left wall, will be the icon of Blueno himself.

{% endblock %}