{% extends "solution.html" %}

{% block puzzle-author %}
Orion Bloomfield, Ian Rider; response by Thomas Gordon; with thanks to Oren
{% endblock %}

{% block solution-body-md %}

If you find Oren, he will give you the answer directly.

Alternatively, submitting an adequate (and adequately funny) number of tasks will lead to the following response:

<blockquote>
    Congratulations! Through trials and tribulations, you have proven yourself worthy of (if you had been given the means) Finding Oren. 

    Oren isn’t here right now, but if you’d like, you can leave a message. He would also like you to know that the answer is PIXEL.
</blockquote>

{% endblock %}