{% extends "solution.html" %}

{% block puzzle-author %}
Zach Gottshall
{% endblock %}

{% block solution-body-md %}

This puzzle should be solvable once we google things. Each item in the puzzle is a George W. Bush quote, but one word has been changed. 

Changed words here are given in bold while original words are given in [brackets].

<ol>
    <li>Well, I think if you say you’re going to do something and don’t do it, that’s <b>final</b> [trustworthiness].</li>
    <li>You teach a child to read, and he or her will be able to pass a <b>civil</b> [literacy] test.</li>
    <li>I think we agree, the <b>conflict</b> [past] is over.</li>
    <li>I’ll be long gone before some smart person ever figures out what happened <b>within</b> [inside] this Oval Office.</li>
    <li>I’m the decider, and I decide what is best. And what’s best is for <b>Roman</b> [Don] Rumsfeld to remain as the secretary of defense.</li>
    <li>Our enemies are innovative and resourceful, and so are we. They never stop thinking about new ways to harm our <b>republic</b> [country] and our people, and neither do we.</li>
    <li>See, in my line of work you got to keep repeating things over and over and over again for the truth to sink in, <b>eventually</b> [to] kind of catapult the propaganda.</li>
    <li>Rarely is the question asked: Is our children <b>leading</b> [learning]?</li>
    <li>We spent a lot of time talking <b>to</b> [about] Africa, as we should. Africa is a nation that suffers from incredible disease.</li>
    <li>I just want you to know that, when we talk about <b>annexation</b> [war], we're really talking about peace.</li>
    <li>Too many good docs are getting out of the business. Too many OB-GYNs aren't able to practice their love <b>of</b> [with] women all across this country.</li>
    <li>I couldn't imagine somebody like Osama bin Laden understanding the joy of <b>Egypt</b> [Hanukkah].</li>
</ol>

Taking all the changed words, we get a clue-phrase: <b>Final civil conflict within Roman Republic eventually leading to annexation of Egypt</b>. 

This resolves to our answer, <span class="spoiler">WAR OF ACTIUM</span>.

{% endblock %}
