{% extends "solution.html" %}

{% block puzzle-author %}
Cerulean Ozarow
{% endblock %}

{% block solution-body-md %}

You may start by trying to play the piece. You’ll find that it’s not familiar and doesn’t sound very good, and that’s probably a sign you should try something else.

The flavortext implies that each letter corresponds to one note. Writing out the notes seems like a logical place to begin! If you have experience with historical “musical cryptograms,” you may recognize Bb-A-C-B as the BACH motif, used in a variety of classical music. If you don’t immediately recognize it, you may start there anyway, since the piece’s instructions call it a “great place to start.” An easy way to figure out what’s going on is by looking up “bflat a c b,” which leads you to the Bach motif. This is one way to figure out that the piece uses the German music notation system, in which “B” refers to B-flat and “H” refers to B.

But how to get all the other letters? The key realisation to solve this puzzle is to work out that the letters A-H correspond to the lowest octave in the puzzle; then the letters I-P correspond to the next octave up, in the same order. 

The instructions tell you to play the piece on the Hutchings-Votey Organ. Stops are devices built into organs that allow notes to be played at different octaves and timbres. Looking at the list of stops (linked in the instructions), you notice that: Most, but not all, of the stops in the piece are listed as stops on the Hutchings-Votey Organ. If you look up the ones that aren’t listed, you find that in fact they’re just the German names for stops that are listed! All of the stops in the piece are 4’ and 2’ stops. If you look this up, you can find that it means that the stops are bringing you one octave and two octaves higher.

Why are all the stops in German? Why is the title of the piece in German? This question may lead you to look up if there’s anything unusual about German music, leading to the alternate music notation system. There are some other things that hint to this:
<ul>
    <li>You may wonder why the piece uses 8 notes instead of 7, using B-flat and B. This may lead you to do some research about it.</li>
    <li>The time signature is 8/8, which is not a very common time signature. Why? Is it indicating that there’s 8 of something? Maybe… 8 notes before you restart counting?</li>
    <li>As mentioned above, looking up the BACH motif is probably the easiest way to find out about this.</li>
</ul>

The source for the German names of stops is http://www.organstops.org/. As an example, take the Kleinoktave stop. Looking on http://www.organstops.org/, we find that Kleinoktave can refer to the Fifteenth stop (two octaves up) or the Twenty-second stop (three octaves up), but the Hutchings-Votey Organ only has a Fifteenth stop. A note where the Kleinoktave should be played is a note that is sounded two octaves higher than written – so, for instance, an F with a Kleinoktave is the 6+8+8th letter of the alphabet, V.

Each line of the piece spells out the name of a different composer who wrote at least one piece for the organ, with a couple of notes obscured:

<table>
    <thead>
        <tr>
            <th>Composer</th>
            <th>Obscured Letters</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Carl Philipp Emanuel Bach</td>
            <td>AN</td>
        </tr>
        <tr>
            <td>Bedrich Smetana</td>
            <td>DRE</td>
        </tr>
        <tr>
            <td>Ralph Vaughan Williams</td>
            <td>WM</td>
        </tr>
        <tr>
            <td>Clara Schumann</td>
            <td>CMA</td>
        </tr>
        <tr>
            <td>Arnold Schoenberg</td>
            <td>HON</td>
        </tr>
    </tbody>
</table>

By filling in the obscured notes, we spell the answer <span class="spoiler">ANDREW MCMAHON</span>, a more modern musician (who has indeed utilized the organ in a couple of songs).

{% endblock %}
