{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon (Atlas the Antipodean); with thanks to Connor Jordan (Captain Bucky Braddock the Bodacious Broadside), and the rest of ARRR!!!
{% endblock %}

{% block solution-body-md %}

<h3>The Preparation</h3>

When solvers arrived at the Wayland Arch, they were told to form into groups of five to six. Each group was then given <a href="https://drive.google.com/file/d/1sQBcBMTjr05RwbPab5W_VVlPy_ChamNO/view">a sheet of paper</a>.

Solvers were then directed to stand along the south side of the arch, for safety reasons.

At 3pm <i>exactly</i>, the pirate crew arrived from the east at considerable speed, and performed a show. The entire script of the show is contained below.

<h3>The Pirate Show</h3>

<i>Perform a regular Pirate entrance (i.e. at speed).</i>

<h2>The Night That Paddy Murphy Died</h2>

<blockquote>
    Oh, the night that Paddy Murphy died is a night I’ll never forget<br>
    Some of the boys got loaded drunk, and they ain’t been sober yet<br>
    As long as a bottle was passed around every man was feeling gay<br>
    O’Leary came with the bagpipes, some music for to play<br><br>

    <b>That’s how they showed their respect for Paddy Murphy<br>
    That’s how they showed their honor and their pride<br>
    They said it was a sin and shame and they winked at one another<br>
    And every drink in the place was full the night Pat Murphy died</b><br><br>

    As Mrs. Murphy sat in the corner pouring out her grief<br>
    Kelly and his gang came tearing down the street<br>
    They went into an empty room and a bottle of whiskey stole<br>
    They put the bottle with the corpse to keep that whiskey cold<br><br>

    They stopped the hearse on George Street outside some damn saloon<br>
    They all went in at half past eight and staggered out at noon<br>
    They went up to the graveyard, so holy and sublime<br>
    Found out when they got there, they’d left the corpse behind!
</blockquote>

BUCKY: Ahoy! 

Ahoy! 

Ahoy! My name be Bucky Braddock the Bodacious Broadside, and I be captain of this here lusty, crusty crew. Together, we are the wafting stench of the salt sea; we are the looming thunder of cannon fire; we… are… ARRR!!!

Welcome to our 69th annual Puzzle Hunt Show – that’s right! We preempted the Puzzle Hunt by 68 years! We’re usually more fond of naval pursuits than intellectual ones, but when we heard whispers about this Blueno fellow, we figured he might fetch a pretty penny should something unfortunate happen to him. So we kidnapped the bastard!

If you’d ever like to see him again, you’ll have to solve our little puzzle – we’re famously illiterate, so it shouldn’t be all that difficult. So sit back, relax, and take very careful note of what songs we sing. Make sure to jot down that first one!

<h2>The Rocky Road To Dublin</h2>

<blockquote>
    In the merry month of June from my home I started<br>
    Left the girls of Tuam nearly broken-hearted<br>
    Saluted me Father dear, kissed me darlin’ Mother<br>
    Drank a pint of beer, my grief and tears to smother<br>
    Then off to reap the corn, leave where I was born<br>
    I cut a stout blackthorn to banish ghosts and goblins<br>
    Bought a pair of brogues, rattlin’ o’er the bogs<br>
    And frightened all the dogs on the rocky road to Dublin<br><br>

    <b>One, two, three, four, five!<br>
    Hunt the hare and turn her down the rocky road<br>
    All the way to Dublin, whack fol-lol-de-ra</b><br><br>

    In Mullingar that night I rested limbs so weary<br>
    Started by daylight next morning bright and airy<br>
    Took a drop of the pure to keep my heart from sinking<br>
    That’s the Paddy’s cure, whene’er he’s on for drinking<br>
    To see the lassies smile, laughing all the while<br>
    At my curious style, ’twould set your heart a-bubbling<br>
    Asked if I was hired, wages I required<br>
    ’Till I was almost tired of the rocky road to Dublin<br><br>

    In Dublin next arrived, I thought it such a pity<br>
    To be so soon deprived a view of that fine city<br>
    So then I took a stroll out among the quality<br>
    My bundle it was stolen in a neat locality<br>
    Something crossed my mind, when I looked behind<br>
    No bundle could I find upon me stick a-wobblin’<br>
    Enquiring for the rogue, found me Connaught brogue<br>
    Wasn’t much in vogue on the rocky road to Dublin
</blockquote>

BUCKY: Now, as is traditional, is the time for you to meet our lovely crew. Now, our crew all have Pirate Names, and those are their actual pirate names, so they’re not puzzle relevant.

<i>(extra crew introductions)</i>

We also have six VIPs (very important pirates) to introduce to you, because these people have some burning questions that they want answered. You might be able to help them out with that.

<i>INTRODUCTION 1: My name is (Pirate Name Here), I am Important Pirate Number One, and I am obsessed with finding out a pirate’s favorite sea route<br>
INTRODUCTION 2: My name is (Pirate Name Here), I am Important Pirate Number Two, and I am obsessed with finding out a pirate’s favorite law<br>
INTRODUCTION 3: My name is (Pirate Name Here), I am Important Pirate Number Three, and I am obsessed with finding out a pirate’s favorite herb<br>
INTRODUCTION 4: My name is (Pirate Name Here), I am Important Pirate Number Four, and I am obsessed with finding out a pirate’s favorite ice cream flavor<br>
INTRODUCTION 5: My name is (Pirate Name Here), I am Important Pirate Number Five, and I am obsessed with finding out a pirate’s favorite province<br>
INTRODUCTION 6: My name is (Pirate Name Here), I am Important Pirate Number Six, and I am obsessed with finding out a pirate’s favorite grain</i>

BUCKY: Lovely! Now that we’ve raced you through some fast songs and introduced our wonderful VIPs, let’s calm it down a bit.

<h2>Wild Mountain Thyme</h2>

<blockquote>
    Oh, the summertime is coming<br>
    And the trees, they are a-blooming<br>
    And the wild mountain thyme <br>
    Grows among the blooming heather<br><br>

    <b>Will ye go, lassie, go<br>
    And we’ll all go together<br>
    To pick wild mountain thyme<br>
    All around the blooming heather<br>
    Will ye go, lassie, go</b><br><br>

    I will build my love a bower<br>
    By yon pure and crystal fountain<br>
    And around it I will pile<br>
    All the flowers of the mountain<br><br>

    If me love should ever leave me<br>
    I will surely find another<br>
    Where the wild mountain thyme<br>
    Grows around the blooming heather
</blockquote>

(Insert whatever Canadian spiel Frog wants to do here.)

<h2>The Last Saskatchewan Pirate</h2>

<blockquote>
    Oh, I used to be a farmer and I made a living fine<br>
    I had a little stretch of land along the CP line<br>
    But times were hard and though I tried, the money wasn't there<br>
    And bankers came and took my land and told me fair is fair<br>
    I looked for every kind of job, the answer always "no"<br>
    Hire you now, they'd always laugh, we just let twenty go!<br>
    The government, they promised me a measly little sum<br>
    But I've got too much pride to end up just another bum<br>
    Then I thought who gives a damn if all the jobs are gone<br>
    I'm gonna be a PIRATE! on the River Saskatchewan!<br><br>

    <b>Cause it's a heave-ho! hi-ho!<br>
    Coming down the plains<br>
    Stealing wheat and barley and all the other grains<br>
    And it's a ho-hey! hi-hey!<br>
    Farmers bar your doors<br>
    When you see the Jolly Roger on Regina's mighty shores</b>
</blockquote>

(Insert whatever Stan Rogers bit Frog wants to do here.)

<h2>Northwest Passage</h2>

<blockquote>
    <b>Ah for just one time I would take the Northwest Passage<br>
    To find the hand of Franklin reaching for the Beaufort Sea <br>
    Tracing one warm line, through a land so wide and ravaged.<br>
    And make a Northwest Passage to the sea </b><br><br>
    
   Westward through the Davis Strait ‘tis there ‘twas said to lie <br>
   The sea route to the western coast for which so many died <br>
   Come seeking gold and glory, leaving weathered broken bones <br>
   And a long forgotten lonely cairn of stones<br><br>

   How then am I so different from the first men through this way? <br>
   Like them I left a settled life, I threw it all away <br>
   To seek a Northwest Passage at the call of many men <br>
   To find there but the road back home again
</blockquote>

BUCKY: What a ballad. Really gets you in the mood to take to the sea. But before we set out, we do need to make sure our crew maintains a baseline level of working memory and executive function. I propose a little memory test: which among ye puzzle professionals has a good memory?

<i>(Wait for a few volunteers)</i>

ATLAS: The way this works is, in each verse, you sing a new vessel to drink from, and then you have to include each previous drinking vessel that people have mentioned. You may want to take notes, because you will be jumping in! And, lastly, everyone will sing the last verse, so make sure you know the words!

<i>(Wait for people to express confusion, then forge ahead regardless)</i>

<h2>Good Luck to the Barley Mow</h2>

<blockquote>
    A full (or slightly abbreviated) rendition of Barley Mow<br>
    Entire audience is encouraged to sing along to the final verse
</blockquote>

BUCKY: That concludes our puzzle-relevant setlist. But there is one more song that we always sing at every performance, and it would be wrong if we didn’t sing it here. This one isn’t relevant to the puzzle, but it’s fun anyway. If you know the words, sing along; if you don't, that's okay, neither do we!

<blockquote>
    The standard ARRR!!! rendition of All For Me Grog
</blockquote>

BUCKY: Scatter!

<i>Perform a regular Pirate exit (i.e. at speed).</i>

<h3>The Aftermath</h3>

Each of the pirate's favorite questions can be answered using the a word or phrase in the title of one of the songs in the performance.

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Grain</td>
            <td>Barley</td>
        </tr>
        <tr>
            <td>Law</td>
            <td>Murphy</td>
        </tr>
        <tr>
            <td>Sea Route</td>
            <td>Northwest Passage</td>
        </tr>
        <tr>
            <td>Ice Cream Flavor</td>
            <td>Rocky Road</td>
        </tr>
        <tr>
            <td>Province</td>
            <td>Saskatchewan</td>
        </tr>
        <tr>
            <td>Herb</td>
            <td>Thyme</td>
        </tr>
    </tbody>
</table>

Inserting these answers into the blanks in alphabetical order and reading off the numbered letters gives us the answer to this event, <span class="spoiler">EYEPATCH NOTES</span>.

{% endblock %}