{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon
{% endblock %}

{% block solution-body-md %}

This puzzle was created in order to give HQ the ability to properly prep for the beginning of the final runaround (The Final Procession, which unlocks after this interaction is completed). When we got the email for this interaction, HQ would then make sure that there were people ready to accompany the teams doing the final runaround, and position someone with Blueno's final location.

We got a number of very interesting "proper attires" from various teams. In no particular order:

<ul>
    <li>Stolen (!!!) trash bags</li>
    <li>All-black clothing ("close enough, right?")</li>
    <li>Pirate hats</li>
    <li>Elaborately-constructed headwear made out of folded origami butterflies</li>
    <li>Robes made from newspaper and paper plates</li>
</ul>

And more besides. In one case, a team came up to a member of HQ at the end of the Atlach-Nacha event and asked if they could borrow a robe. Wisely, the HQ member refused.

When a team showed up with something vaguely resembling proper attire and an invite (we were not particularly stringent about any of the requirements), HQ would give the team a paper copy of the instructions for The Final Procession, which came with the note that submitting <span class="spoiler">GET YOUR BEARINGS</span> would unlock a digital version of that puzzle as well.

{% endblock %}