{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Sierra Bornheim
{% endblock %}

{% block solution-body-md %}

I suspect that the first thing that people will do is start trying to figure out all the clues on the board. Once they start realizing that not all images are reverse searchable, and not all text clues are specific to one species, that’s when they really start the puzzle.

This is a game of snakes and ladders. The ladders are given, and the snakes can be determined from sample gameplay. This is the completed board: 

<img src="{% static 'puzzle_resources/reptiles-all-the-way-down/boardsol.png' %}">

Each snake is made up of three clues: two text and one image. This is the case for every clue. 

Now it is time to identify what reptile each snake is clueing. The flavor text says to line up the heads, which is cluing the order that you’ll need them in for extraction (not necessary at this point but keeps it organized).

<table>
    <tr>
        <td>Head Space</td>
        <td>Common Name</td>
        <td>Scientific Name</td>
        <td>Best way to figure it out</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Orlov&#39;s Viper</td>
        <td>Vipera orlovi</td>
        <td>Reverse google image (RGI) or looking through Vipera genus page for range of caucasus</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Ethiopian Mountain Adder</td>
        <td>Bitis parviocula</td>
        <td>RGI, confirm by reading ReptileDB page which has both clues</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Dominican Anole</td>
        <td>Anolis oculatus</td>
        <td>Zandoli directly refers to this</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Big-headed Carpet Viper</td>
        <td>Echis megalocephalus</td>
        <td>Hard: RGI to get genus, then look through species names to find the one that says big head</td>
    </tr>
    <tr>
        <td>54</td>
        <td>Australian Freshwater Crocodile</td>
        <td>Crocodylus johnstoni</td>
        <td>Salty neighbor locates it in Australia, or just google the other clue</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Akagera Gracile Blind Snake</td>
        <td>Letheobia akagerae</td>
        <td>RGI, then read species new to science blog to confirm</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Bishari Dwarf Gecko</td>
        <td>Tropiocolotes bisharicus</td>
        <td>RGI to get genus, Bishari is the group of people referred to</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Dwarf Water Cobra</td>
        <td>Naja nana</td>
        <td>RGI + 2020</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Wright&#39;s Skink</td>
        <td>Trachylepis wrightii</td>
        <td>RGI + wright</td>
    </tr>
    <tr>
        <td>68</td>
        <td>Laotian False Bloodsucker</td>
        <td>Pseudocalotes poilani</td>
        <td>Hard: the common ones are genus Calotes → this is Pseudocalotes, false bloodsucker clued by vampire</td>
    </tr>
    <tr>
        <td>86</td>
        <td>Indian Flying Lizard</td>
        <td>Draco dussumieri</td>
        <td>Karvalo</td>
    </tr>
    <tr>
        <td>90</td>
        <td>Jaragua Dwarf Gecko</td>
        <td>Sphaerodactylus ariasae</td>
        <td>RGI or world’s smallest lizard</td>
    </tr>
    <tr>
        <td>93</td>
        <td>Marine Iguana</td>
        <td>Amblyrhynchus cristatus</td>
        <td>A reptile enthusiast will know this. RGI + algae</td>
    </tr>
    <tr>
        <td>98</td>
        <td>Reunion Ornate Day Gecko</td>
        <td>Phelsuma inexpectata</td>
        <td>Hard: RGI to get day gecko, synonyms clue ornate</td>
    </tr>
</table>

Then, read space 100, which says “Where are we from?”. This clues you to look for the country each snake is endemic to. (Galapagos is considered part of Ecuador; unfortunately, however, Reunion Island isn't considered part of France. Oops.)

<table>
    <tr>
        <td>Head Space</td>
        <td>Common Name</td>
        <td>Scientific Name</td>
        <td>Country</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Orlov&#39;s Viper</td>
        <td>Vipera orlovi</td>
        <td>Russia</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Ethiopian Mountain Adder</td>
        <td>Bitis parviocula</td>
        <td>Ethiopia</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Dominican Anole</td>
        <td>Anolis oculatus</td>
        <td>Dominica</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Big-headed Carpet Viper</td>
        <td>Echis megalocephalus</td>
        <td>Eritrea</td>
    </tr>
    <tr>
        <td>54</td>
        <td>Australian Freshwater Crocodile</td>
        <td>Crocodylus johnstoni</td>
        <td>Australia</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Akagera Gracile Blind Snake</td>
        <td>Letheobia akagerae</td>
        <td>Rwanda</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Bishari Dwarf Gecko</td>
        <td>Tropiocolotes bisharicus</td>
        <td>Egypt</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Dwarf Water Cobra</td>
        <td>Naja nana</td>
        <td>Democratic Republic of the Congo</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Wright&#39;s Skink</td>
        <td>Trachylepis wrightii</td>
        <td>Seychelles</td>
    </tr>
    <tr>
        <td>68</td>
        <td>Laotian False Bloodsucker</td>
        <td>Pseudocalotes poilani</td>
        <td>Laos</td>
    </tr>
    <tr>
        <td>86</td>
        <td>Indian Flying Lizard</td>
        <td>Draco dussumieri</td>
        <td>India</td>
    </tr>
    <tr>
        <td>90</td>
        <td>Jaragua Dwarf Gecko</td>
        <td>Sphaerodactylus ariasae</td>
        <td>Dominican Republic</td>
    </tr>
    <tr>
        <td>93</td>
        <td>Marine Iguana</td>
        <td>Amblyrhynchus cristatus</td>
        <td>Ecuador</td>
    </tr>
    <tr>
        <td>98</td>
        <td>Reunion Ornate Day Gecko</td>
        <td>Phelsuma inexpectata</td>
        <td>Reunion</td>
    </tr>
</table>

Ordered by the positions of the heads, reading down the first letter of every row gets the phrase RED EARED SLIDER. This is a common turtle species in the United States. From this, you read the final clue, which is “most famous group of these species”. On the Wikipedia page for red-eared sliders, it mentions that TMNT are red-eared sliders, giving the answer <span class="spoiler">TEENAGE MUTANT NINJA TURTLES</span>.

{% endblock %}
