{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon
{% endblock %}

{% block solution-body-md %}

Each answer in this round is a portmanteau of two different words.

Solvers must first order the answers by their length (the answers have unique lengths 5 through 10) as clued by the ordering of the question marks, then split them into their two root words, or "ingredients". Putting the component word which comes first as the first ingredient, and the second component word as the second ingredient, and indexing like so gives some useful letters:

<table>
    <thead>
        <tr>
            <th>Answer</th>
            <th>Ingredient 1</th>
            <th>Ingredient 2</th>
            <th>Word 1</th>
            <th>Word 2</th>
            <th>Indexed Letters</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>PIXEL</td>
        <td>6</td>
        <td>1</td>
        <td>PICTURE</td>
        <td>ELEMENT</td>
        <td>R</td>
        <td>E</td>
    </tr>
    <tr>
        <td>GENOME</td>
        <td></td>
        <td>5,6</td>
        <td>GENE</td>
        <td>CHROMOSOME</td>
        <td></td>
        <td>MO</td>
    </tr>
    <tr>
        <td>VITAMIN</td>
        <td>1</td>
        <td>5</td>
        <td>VITAL</td>
        <td>AMINE</td>
        <td>V</td>
        <td>E</td>
    </tr>
    <tr>
        <td>SQUIGGLE</td>
        <td>1</td>
        <td>1</td>
        <td>SQUIRM</td>
        <td>WIGGLE</td>
        <td>S</td>
        <td>W</td>
    </tr>
    <tr>
        <td>WIKIPEDIA</td>
        <td>2</td>
        <td>8</td>
        <td>WIKI</td>
        <td>ENCYCLOPEDIA</td>
        <td>I</td>
        <td>P</td>
    </tr>
    <tr>
        <td>CELLOPHANE</td>
        <td>2,8</td>
        <td></td>
        <td>CELLULOSE</td>
        <td>DIAPHANE</td>
        <td>ES</td>
    </tr>
</table>

Which tells us how to defeat Blueno's ravenous hunger, <span class="spoiler">REMOVE SWIPES</span>.

{% endblock %}

{% block author-notes-html %}

The meta pun refers to the campus meal plan currency, "meal swipes", which was a pun unfortunately lost on those who don't have Brown University knowledge.<br><br>

There are many so-called 'portmanteaus' which don't actually stem from the combination of two words, but are instead created backwards from an existing word. (I like the term "portmanfaux" to refer to one of these.) As a result, I was very careful to confirm that all of the answers used in this meta are actual, real, bona-fide, grade-A genuine portmanteaus.

{% endblock %}