{% extends "solution.html" %}

{% block puzzle-author %}
Thomas Gordon
{% endblock %}

{% block solution-body-md %}

Solvers who go to HQ to pick up a puzzle will receive a Rubik's cube with letters written on the faces with sharpie. If HQ is feeling fiendish, the cube will be waved in a solved state in front of their eyes, and then scrambled right then and there; if HQ is busy, or distracted, or bad at following instructions, teams may just receive the pre-scrambled cube.

Attempting to solve the cube will go nowhere. Some evil individual has turned a corner of the cube, making it unsolvable without taking it apart. Solving the cube also gives nothing useful; the letters are unintelligible, and don't even all point in the same direction. However, in the process of solving the puzzle, teams may notice something odd; there are colored stickers on the inside of the cube! Red, yellow, blue, green, and then stickers with the letters "O" and "Y" written on them.

Intrepid solvers may then take apart the cube to examine these stickers more closely. As it happens, there are eight of each kind of sticker, each one directly opposite a colored face of a different (or in some cases the same) color. This may nudge the solvers into what to do next: treating the "O" stickers as orange, and the "Y" stickers as yellow, solvers need to reconstruct the cube such that the <i>inside</i> of the cube is solved, not the outside.

Doing this successfully will create a "scrambled" exterior cube, with all of the letters on the same face pointing in the same direction!

Solvers can then read the following cluephrase off of the faces:

<table>
    <tr>
        <td>Color</td>
        <td>Letters</td>
    </tr>
    <tr>
        <td>White</td>
        <td>BRANDOFCO</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>NSOLESWHI</td>
    </tr>
    <tr>
        <td>Green</td>
        <td>CHFIRSTCO</td>
    </tr>
    <tr>
        <td>Red</td>
        <td>MPETEDWIT</td>
    </tr>
    <tr>
        <td>Blue</td>
        <td>HTHEGAMEC</td>
    </tr>
    <tr>
        <td>Yellow</td>
        <td>UBEELEVEN</td>
    </tr>
</table>

Which clues the answer, <span class="spoiler">PLAYSTATION</span>.

Puzzle historians may find the internal document for puzzle distribution of curiousity:

<b>WHEN TEAMS COME TO PICK UP THE PUZZLE:</b>
<ul>
    <li>Get them to wait outside. Close the damn door. Make sure they can't see what you're doing.</li>
    <li>Grab a cube. Make sure it has letters on all the faces and isn't smudged. Make sure there's stickers on the inside (you just have to visually confirm a few).</li>
    <li>Turn one of the corners (if it isn't already turned somewhere) so the cube isn't solvable.</li>
    <li>Holding the turned cube away from them (ie concealing it), go out, greet the team, and shuffle the cube (GENTLY) in front of them.</li>
    <li>WARN THEM verbally that the puzzle is delicate, to be careful with it, and to contact us if anything breaks.</li>
    <li>Give the cube.</li>
</ul>
<b>IF SOMEONE CONTACTS YOU ABOUT A BROKEN CUBE:</b>
<ul>
    <li>Assess the damage. If they've just opened it up, and everything else is okay, that's fine.</li>
    <li>If stickers have gone flying everywhere, or the letters have gotten super smudged, do your best to fix it for them, but if it's infeasible then you can give them <a href="https://docs.google.com/spreadsheets/d/1_b5LOCrqYOpOG5uUCfDpHapNqVBCFQCYCwJyDu9Dl8I/edit#gid=0">this spreadsheet</a></li>
    <li>If they're having a really, really bad time, you can send them the images for the final cube letter arrangement, which are in this Google Drive folder. Or if they're not there then bother Thomas about it. It's okay if it's late, he doesn't need sleep.</li>
</ul>

{% endblock %}
