{% extends "solution.html" %}

{% block puzzle-author %}
Zach Gottshall
{% endblock %}

{% block solution-body-md %}

Each of the boards uniquely resolves to either a guaranteed win for X or O. Here are some tips for evaluating the boards:

<ul>
    <li>Make sure you have the rules right. X is the only piece that can cross blue lines, and O is the only piece that can cross pink lines.</li>
    <li>Think about how many potential wins a player opens up by putting their piece in a given square. Generally, they want to give themself as many possible wins as they can while. also taking away the opponent's ability to win.</li>
    <li>Whether a player wants to focus more on gaining or taking away possible wins generally depends on whether they think they’re ahead or behind. If you play out a game where O wins, go back a few turns and see what happens if X knows about that win and tries to prevent it.</li>
    <li>Taking a square isn’t the only way to prevent the other player from making a move. If you threaten to get 3 in a row next turn, they’ll have no choice but to block you. Leverage this power well, and you can really lock down the board!</li>
    <li>If X is the only player who can play on a square, that should be the last square they take. It will always be better for them to try to take squares that can be contested by O first and try to set themself up in such a way that the reserved square is the last one they need to win.</li>
    <li>Even if you don’t write a program to help you with this puzzle (and that’s a totally valid strategy, by the way), it can be helpful to think as if you were. What would a Tic-Tac-Toe game look like as a tree? How do we determine who wins? Does it correspond to a particular tree structure? Can we define it recursively?</li>
</ul>

These are the solutions to the boards:

<table>
    <tr>
        <td>1</td>
        <td>X</td>
    </tr>
    <tr>
        <td>2</td>
        <td>X</td>
    </tr>
    <tr>
        <td>3</td>
        <td>O</td>
    </tr>
    <tr>
        <td>4</td>
        <td>X</td>
    </tr>
    <tr>
        <td>5</td>
        <td>X</td>
    </tr>
    <tr>
        <td>6</td>
        <td>O</td>
    </tr>
    <tr>
        <td>7</td>
        <td>O</td>
    </tr>
    <tr>
        <td>8</td>
        <td>O</td>
    </tr>
    <tr>
        <td>9</td>
        <td>X</td>
    </tr>
    <tr>
        <td>10</td>
        <td>X</td>
    </tr>
    <tr>
        <td>11</td>
        <td>X</td>
    </tr>
    <tr>
        <td>12</td>
        <td>O</td>
    </tr>
    <tr>
        <td>13</td>
        <td>O</td>
    </tr>
    <tr>
        <td>14</td>
        <td>O</td>
    </tr>
    <tr>
        <td>15</td>
        <td>O</td>
    </tr>
    <tr>
        <td>16</td>
        <td>X</td>
    </tr>
</table>

Getting enough boards right will unlock the final exam.

The key is that 4 of the 16 boards are homeomorphically equivalent to each of these three shapes. Broadly speaking, two surfaces are homeomorphic if they have the same number of twists and holes. It also means that one surface can be stretched into the other, without any cutting or gluing. If we take those boards in order, and cross out the options which X wins, and 'circle' the options which O wins, we will get a number of circled letters:

<table>
    <tr>
        <td>Shape</td>
        <td>Boards</td>
        <td>Circled Letters</td>
    </tr>
    <tr>
        <td>Disk</td>
        <td>1,2,4,8</td>
        <td>J</td>
    </tr>
    <tr>
        <td>Disk with two holes</td>
        <td>10,12,15,16</td>
        <td>OU</td>
    </tr>
    <tr>
        <td>Cylinder</td>
        <td>3,5,9,13</td>
        <td>RN</td>
    </tr>
    <tr>
        <td>Mobius strip</td>
        <td>6,7,11,14</td>
        <td>AL</td>
    </tr>
</table>

Which gives us our answer, <span class="spoiler">JOURNAL</span>.

{% endblock %}