{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Thomas Mowen, Alex DelFranco
{% endblock %}

{% block solution-body-md %}

The title of this puzzle should hint you towards the concept of music in general, while the flavor text points towards Taylor Swift and Spotify Codes.

Once you recognize the Taylor Swift connection, it should become evident that each of the 23 images refer to the Taylor Swift song. Here’s a breakdown of which images hint which song:

There’s a lot of information you can grab from the songs, and once you start looking at their track numbers, you should be able to see that each track is between 1 and 8 on their respective albums. Spotify codes, which were hinted at earlier, have 23 bars that range from lengths 1 through 8 (recall that there were 23 images).

<table>
    <tr>
        <td><b>Song Title</b></td>
        <td><b>Track Number</b></td>
    </tr>
    <tr>
        <td>Willow</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Teardrops on My Guitar</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Question...?</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Mine</td>
        <td>1</td>
    </tr>
    <tr>
        <td>My Tears Ricochet</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Fifteen</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Paper Rings</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Blank Space</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Gold Rush</td>
        <td>3</td>
    </tr>
    <tr>
        <td>The Story of Us</td>
        <td>7</td>
    </tr>
    <tr>
        <td>I Did Something Bad</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Bad Blood</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Never Grow Up</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Out of the Woods</td>
        <td>4</td>
    </tr>
    <tr>
        <td>White Horse</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Miss Americana</td>
        <td>7</td>
    </tr>
    <tr>
        <td>End Game</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Champagne Problems</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Midnight Rain</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Seven</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Welcome to New York</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Breathe</td>
        <td>7</td>
    </tr>
    <tr>
        <td>The 1</td>
        <td>1</td>
    </tr>
</table>

Putting all of this info together, it becomes clear that you will have to use the track numbers to generate your own Spotify Code. You can do this many different ways (photoshop, drawing it out, Google Sheets) and there are numerous Reddit pages that have sections to help guide you. However, a hastily made code probably won't scan successfully. (Most solvers used Photoshop or equivalent open-source software to create the code). Here’s an example of a code we constructed on Google Sheets that won't scan successfully. (Also note that it’s important to include the circle at the beginning of the code).

<img src="{% static 'puzzle_resources/whos-on-the-decks/barcodesol.png' %}">

Now all you have to do is scan the code, which will take you to the song "L to the OG", sung by Kendall Roy in an episode of the TV show Succession. 

Upon listening to the song, you should notice the lyric “<i>Squiggle on the decks</i>”, which occurs just before the first chorus. This answers the question from the title, and gives us our answer, <span class="spoiler">SQUIGGLE</span>.

{% endblock %}
