{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Thomas Mowen, Alex DelFranco
{% endblock %}

{% block solution-body-md %}

The first step of this puzzle is to solve each of the phrases which all clue a word, for example “Therefore, Latin” clues “ergo”. While working through these, you should soon notice the pattern that every word is four letters.

Here’s an answer key of the words:

<ul>
    <li>musk = send</li>
    <li>lamb = iamb</li>
    <li>aces = plum</li>
    <li>toys = ergo</li>
    <li>wily = fowl</li>
    <li>soap = oral</li>
    <li>arty = puns</li>
    <li>wyrm = bias</li>
    <li>type = fork</li>
    <li>iron = nosh</li>
    <li>mace = maid</li>
    <li>smug = mask</li>
</ul>

The next step is to realize that each color refers to a different keyboard layout. This is the big aha moment. This means that one word written on one keyboard layout will equal a different word when written on a different keyboard layout. Doing some quick research on different common keyboard layouts and some trial and error with the different words, you should be able to figure out which color corresponds to which keyboard. For example, “lamb” when written on the “QWERTY” layout becomes “iamb” when the same exact keys are pressed on the “Colemak” layout.

Here are the keyboard layouts used:

<table>
    <tr>
        <td>Red</td>
        <td>QWERTY</td>
    </tr>
    <tr>
        <td>Blue</td>
        <td>COLEMAK</td>
    </tr>
    <tr>
        <td>Green</td>
        <td>DVORAK</td>
    </tr>
    <tr>
        <td>Black</td>
        <td>???</td>
    </tr>
</table>

Now you are probably wondering how the black words fit it, since they don’t match any existing keyboard layout. Instead of corresponding to a keyboard that already exists, the black words form an entirely new layout that you must create to solve the puzzle. For example “musk = send” is telling you that “s” on this new keyboard will be in the same place that “m” is on the Colemak keyboard. Once you transcribe all the black words onto a new keyboard layout, this is what you get:

<img src="{% static 'puzzle_resources/dear-blueno-meta/keyboardsol.png' %}">

This new keyboard pretty clearly contains the name <span class="spoiler">ALICE MUNRO</span>, which is the answer to this puzzle!

{% endblock %}