{% extends "solution.html" %}

{% block puzzle-author %}
Zach Gottshall, Thomas Gordon, Ryan Waite, Abigail Nelkin
{% endblock %}

{% block solution-body-md %}

The way to solve this puzzle is to go to the physical location of each of these pictures and try to decipher the letters that are circled. (Google Maps works as well.) The photos are all relatively close to each other as well, which means that teams can reach each location on foot fairly quickly.

In each photo, all of the circled letters are the same. This will help with error correction and identifying letters accurately.

<table>
    <tr>
        <td>Photo</td>
        <td>Location</td>
        <td>Circled Letter</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Annmary Brown Memorial (west side)</td>
        <td>C</td>
    </tr>
    <tr>
        <td>2</td>
        <td>70 Brown Street (southeast corner)</td>
        <td>E</td>
    </tr>
    <tr>
        <td>3</td>
        <td>John Carter Brown Library (west side)</td>
        <td>L</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Faunce Hall (south side)</td>
        <td>L</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Soldiers Memorial Gate (east side)</td>
        <td>O</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Wayland Arch (west side)</td>
        <td>P</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Lyman Hall (southeast corner)</td>
        <td>H</td>
    </tr>
    <tr>
        <td>8</td>
        <td>John Carter Brown Library (south side)</td>
        <td>A</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Macmillan Hall (north side)</td>
        <td>N</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Sayles Hall (west side)</td>
        <td>E</td>
    </tr>
</table>

This directly spells the answer, <span class="spoiler">CELLOPHANE</span>.

{% endblock %}

{% block author-notes-html %}

Thomas: This was one of the very last puzzles written for the hunt; as such, it's probably one of the simplest. Despite the fast turnaround, this puzzle came out surprisingly nicely. It's much, much better to solve in-person, but it's also totally doable remotely!

{% endblock %}